<!--Dropdown Menu-->

<ul class="nav navbar-nav navbar-center ">
<li class="dropdown menu-large">
  <a href="#">Shop</a>
  <ul class="dropdown-menu megamenu row">
   <li class="col-sm-4" ng-repeat="x in shop">
    <ul >
     
     <li>
      <span >
       <a href="#"><strong>{{x.name}}</strong></a>
       
      </span>
     </li>
     
    </ul>
   </li>
  </ul>
 </li>
	<li>
		<a href="#">MEN</a>
		<ul class="dropdown-menu">
			<span ng-repeat="x in cat">
				<span ng-if="x.name == 'Men'"><li ng-repeat = "a in x.subCategories"><a href="#"><strong>{{a.name}}</strong></a></li></span>
			</span>
		</ul>
	</li>
	
	<li><a href="#">WOMEN</a>
		<ul class="dropdown-menu">
			<span ng-repeat="x in cat"><span ng-if="x.name == 'Women'"><li ng-repeat = "a in x.subCategories"><a href="#"><strong>{{a.name}}</strong></a></li></span>
			</span>
		</ul>
	</li>
</ul>
<!--End of Dropdown Menu-->