<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div class="col-sm-4" style="    font-size: 17px;line-height: 50px;">
				<ul class="shipping-sidebar" style="list-style-type: none;">
					<li><a href="" style="color: black;">My Account</a></li>
					<li><a href="" style="color: black;">My Orders</a></li>
					<li><a href="" style="color: black;">Shipping Info</a></li>
					<li><a href="" style="color: black;">Logout</a></li>
				</ul>
			</div>
			
			<div class="col-sm-4">
				<h1>Shipping Information</h1>
			<label style="margin: 10%;margin-left:0px; font-size: 12px;font-weight: 400;">Manage and add new shipping addresses.</label>
				<label style="font-size: 23px;padding: 10px;padding-left: 0px;"><u>Chaudhry Azhar</u><img src="images/closebtn.png" style="float: right;"/></label>
				<table class="shipping-table">
					
				</table>
			</div>
			<!--<div class="col-sm-4 col-sm-push-1" style="padding: 20px;border:1px solid rgba(128, 128, 128, 0.22);">
				<label style="font-size: 23px;padding: 10px;padding-left: 0px;">Shipping Address 2</label>
				<table class="shipping-table">
					<tr>
						<td>
							<label class="shipping-label">Name:</label>
						</td>
						<td>
							<label class="shipping-label">Amjad Islam Khan</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="shipping-label">Address:</label>			
						</td>
						<td>
							<label class="shipping-label">Something Here...</label>				
						</td>
					</tr>
					<tr>
						<td>
							<label class="shipping-label">Phone:</label>			
						</td>
						<td>
							<label class="shipping-label">03234231232</label>				
						</td>
					</tr>
				</table>
			</div>-->
			
		</div>
	</div>
	

</div>