<div class="container">
	<div class="row" style="margin-top: 3%;">
		<div class="col-sm-12">
			<div class="col-sm-4 shipping-sidebar">
				<ul style="list-style-type: none;">
					<li><a href="#account" >My Account</a></li>
					<li><a href="#myorder" >My Orders</a></li>
					<li><a href="#shipping" >Shipping Info</a></li>
					<li><a href="#allchats">Chat</a></li>
					<li><a href="" >Logout</a></li>
				</ul>
			</div>
			
			<div class="col-sm-8 shipping-info">
				<h1>Shipping Information</h1>
			<label class="shipping-info-tag">Manage and add new shipping addresses.</label>
			</div>
				<div class="col-sm-3" ng-repeat="x in getShippingDetails track by $index" style="padding: 10px;line-height: 15px;
}">
					<div >
				<div style="margin-bottom:8px; border-bottom: 1px solid black;" ><u><label class="shipping-name"><strong>{{x.firstName}} {{x.lastName}} </strong><img src="images/closebtn.png" style="float: right;"/></label></u></div><br>
				<label style="font-size: 14px;">{{x.address}}</label><br>
				<label style="font-size: 14px;">{{x.city}}, {{x.state}} {{x.zipcode}}</label><br>
				<label style="font-size: 12px;color: gray;" ><i>(selected)</i></label>
				<!-- <label style="font-size: 12px;color: gray;" data-toggle="modal" data-target="#shipUpdateModal" ><i>(Edit)</i></label> -->
				<label style="font-size: 12px;color: gray;" ng-click = "open(x,$index,1)" ><i>(Edit)</i></label>
				<!-- <span ng-if="x.isActive=='y'">
					<input type="radio" ng-model="isActive"  name="default" value="y" ng-change="isActiveChange(x.id)"  />
					Y Case {{x.id}}</span>
				<span ng-if="x.isActive=='n'">
					<input type="radio" ng-model="isActive"  name="default" value="n" ng-change="isActiveChange(x.id)"  />
					N Case {{x.id}}</span> -->
			<!--	<span ng-show="x.isActive=='y'">
					<input type="radio" ng-model="isActive" name="isActive" value="y" ng-change="isActiveChange(x.id)" ng-checked />
					Y Case {{x.id}}</span>
				<span ng-show="x.isActive=='n'">
					<input type="radio" ng-model="isActive"  name="isActive" value="x.id" ng-change="isActiveChange(x.id)"  />
					N Case {{x.id}}</span> -->
					<!--<span ng-if="x.isActive=='y'">
					<input type="radio" ng-model="isActive"  name="default" value="x.id" ng-change="isActiveChange(x.id)"  />
					Y Case {{x.id}}</span>
				<span ng-if="x.isActive=='n'">
					<input type="radio" ng-model="isActive"  name="default" value="x.id" ng-change="isActiveChange(x.id)"  />
					N Case {{x.id}}</span> -->
					<input type="radio" ng-model="isActive"  name="default" value="{{x.isActive}}" ng-change="isActiveChange($index)"  />
					</div> 
				</div><br>
		</div>
		<div class="col-sm-push-4 col-sm-3">
			<button class="btn btn-primary individual-bag-btn" style="margin-top: 5%;width:100%;" ng-click="open('','',0)">Add New Address</button>
		</div>
	</div>
 <script type="text/ng-template" id="myModalContent.html">
		 <div class="card ship-container">
			 <div class="modal-body">
				 <div>
					 <div class="">
						 <h1 style="text-align: center;padding: 20px;">{{updateMessage}}</h1>
						 <form class="form-signin newship-form" ng-submit="send()" role="form">
							 <div class="row" style="margin-bottom: 20px;">
								 <div class="col-sm-6"><label>First Name</label>
									 <input type="text" required name="firstname" ng-model="firstName" /></div>
								 <div class="col-sm-6">
									 <label>Last Name</label>
									 <input type="text" required name="lastname" ng-model="lastName" />
								 </div>
							 </div>
							 <div class="row" style="margin-bottom: 20px;">

								 <div class="col-sm-12"><label>Street Address</label><input type="text" name="street1" ng-model="streetAddress1" /></div>
							</div>
							 <div class="row" style="margin-bottom: 20px;">
								 <div class="col-sm-6"><label>City</label>
									 <input type="text" required name="city" ng-model="city" /></div>
								 <div class="col-sm-6">
									 <label>State</label>
									 <select name="state" ng-model="state" style="width: 100%;" >
										 <option>TA</option>
										 <option>CA</option>
										 <option>MA</option>
										 <option>SA</option>
										 <option>FA</option>
									 </select>
								 </div>
							 </div>
							 <div class="row" style="margin-bottom: 20px;">
								 <div class="col-sm-6"><label>Country</label>
									 <input required type="text" name="country" ng-model="country"/></div>
								 <div class="col-sm-6">
									 <label>Postal Code</label>
									 <input required type="text" name="postal" ng-model="zip" />
								 </div>
							 </div>
							 <div class="row" style="margin-bottom: 20px;">
								 <div class="col-sm-3"><button class="btn btn-primary individual-bag-btn" data-target="dismiss" >Cancel </button></div>
								 <div class="col-sm-9 text-right"><button class="btn btn-primary individual-bag-btn" type="submit">{{submitButtonText}}</button></div>
							 </div>



						 </form><!-- /form -->

					 </div><!-- /card-container -->
				 </div>
			 </div>



		 </div>

 </script>
	<div class="modal fade" close-modal id="shipModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
					<div class="modal-dialog" role="document">
						<div>

						
						</div>
					</div>
				</div>
				</script>
<!--	<div class="modal fade" close-modal id="shipUpdateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
					<div class="modal-dialog" role="document">
						<div>
							<div class="modal-body">
								<div>
									<div class="card card-container">
										<h1 style="text-align: center;padding: 20px;">Update Shipping Address</h1>
										<form class="form-signin newship-form">
											<div class="row" style="margin-bottom: 20px;">
												<div class="col-sm-6"><label>First Name</label>
											<input type="text" required name="firstname" ng-model="firstName" /></div>
												<div class="col-sm-6">
													<label>Last Name</label>
											<input type="text" required name="lastname" ng-model="lastName" />
												</div>
											</div>
											<div class="row" style="margin-bottom: 20px;">
												
												<div class="col-sm-12"><label>Street Address</label><input type="text" name="street1" ng-model="streetAddress1" /></div>
											</div>
											<div class="row" style="margin-bottom: 20px;">
												<div class="col-sm-6"><label>City</label>
											<input type="text" required name="city" ng-model="city" /></div>
												<div class="col-sm-6">
													<label>Country</label>
											<select name="country" ng-model="country" style="width: 100%;">
												<option>TA</option>
												<option>CA</option>
												<option>MA</option>
												<option>SA</option>
												<option>FA</option>
											</select>
												</div>
											</div>
											<div class="row" style="margin-bottom: 20px;">
												<div class="col-sm-6"><label>State/Province/Region</label>
											<input required type="text" name="state" ng-model="state"/></div>
												<div class="col-sm-6">
													<label>Postal Code</label>
											<input required type="text" name="postal" ng-model="zip" />
												</div>
											</div>
											<div class="row" style="margin-bottom: 20px;">
												<div class="col-sm-3"><button class="btn btn-primary individual-bag-btn" data-target="dismiss" >Cancel </button></div>
		<div class="col-sm-9 text-right"><button class="btn btn-primary individual-bag-btn" ng-click="newShipping()">Update Shipping Address</button></div>
											</div>
											
											
											
										</form><!-- /form -->
									
									</div><!-- /card-container -->
								</div>
							</div>
						
						</div>
					</div>
				</div>-->

</div>