
<div class="container">
<div class="row" style="padding-left: 0px;margin-bottom: 40px;">
	<div class="col-sm-12">
		<div class="col-sm-4 col-xs-7 items-title" style="padding-left:0px;">
			<h1 style="font-size: 20px;">{{abc}} Items in your Cart</h1>
		</div>
		<div class="col-sm-5"></div>
		<div class="col-sm-3 col-xs-5" style="float: right;padding-right: 0px;">
			<button type="button" class="btn btn-primary keep-shopping-btn" >Keep Shopping</button>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="col-sm-8">
			<div class="row cart-products" ng-repeat="a in items track by $index" style="border-bottom:1px solid rgba(128, 128, 128, 0.08);margin-top:20px; ">
				
				<div class="col-sm-1 col-xs-5" style="width: 130px; height: 125px;margin-bottom: 20px;">
					<img  src="{{fixPath + '300x300-1-img-'+a.id+'.png' + token}}" width="130" height="125"/>
				</div>
				
				<div class="col-sm-7 col-xs-8 cart-elements">
					<p class="cart-title">{{a.name}}</p>
					<p class="cart-title"><span style="color: black;"><b>{{a.shop}}</b></span></p>
					<div style="margin-top: 12%;">
						<div class="col-sm-2 col-xs-2" style="padding-left: 0px;">
							<p style="font-size: 14px">Size</p>
							<p class="cart-details">{{a.size}}</p>
						</div>
						<div class="col-sm-3 col-xs-5 text-center">
							<p style="font-size: 14px">Quantity</p>
							<input type="text" maxlength="2" value="{{a.qty}}" disabled="true" style="width: 25px;height: 22px;font-size: 12px; border: 2px solid black;text-align: center;"/>
						</div>
						<div class="col-sm-3 col-xs-3 text-center ">
							<p style="font-size: 14px">Price</p>
							<p class="cart-details">${{a.cost}}</p>
						</div>
					</div>
				</div>
				<div class="col-sm-1 col-xs-1">
					<img src="images/closebtn.png" ng-click="removeItem($index)" style="float: right;margin-top:-10px;"/>
				</div>
				
				
			</div>
		</div>
			<div class="col-sm-1"></div>
			<div class="col-sm-3 col-xs-6 cart-right-table">
				<div class="row">
			
					<table width="100%" class="order-right-table">
						<tr style="border-bottom: 1px grey solid;">
							<td style="padding-left: 0px;">Number of Items</td>
							<td style="text-align: right;padding-right: 5px;">{{abc}}</td>
						</tr>
				
						<tr style="padding: 10px;background-color: #f5f5f5;">
							<td style="padding: 20px;padding-left: 0px;"><b>Subtotal</b></td>
							<td style="text-align: right;padding-right: 5px;"><b>${{totalPrice}}</b></td>
						</tr>
						<tr>
							<td style="padding: 10px;">
								<input  type="radio" value="paypal" name="pay" /><img src="images/Paypal-Logo-PNG.png" style="vertical-align: middle;"/><br />
							</td>
						</tr>
						<tr>
							<td style="padding: 10px;"><input  type="radio" value="visa" name="pay" /><img src="/images/payment-methods.png" style="vertical-align: middle;"/></td>
						</tr>
					</table>
					<button type="button" class="btn btn-primary proceed-checkout-btn" ng-click="paypalPayment()" >Proceed to Checkout</button>
					<!--<p class="cart-details"><span style="text-align: right;"> </span></p>
					<p class="cart-details"><b>Subtotal</b> $1400</p>
					-->
				</div>
			</div>
	</div>
</div>
</div>