<div id="designerContainer" >
<div id="desImage" >
	<img ng-src="{{'https://content.dropboxapi.com/1/files/auto/gul/product/images/' + productDetail.imagePath + '?access_token=UQkhjQYKpOEAAAAAAAAAsEi5Y5enzU4nIHL9SvyRU0oiIo5dUXAoolRn-Py3e0Ne'}}" width="150" height="180"/>
</div>
<div id="desInfo" >
	<span >
		<h2>{{productDetail.name}}</h2>
		<h3>{{productDetail.shortDesc}}</h3>
		<h3>Description: {{productDetail.longDesc}}</h3>
		<h3>Quantity: {{productDetail.quantity}}</h3>
		<h3>Value: {{productDetail.pricingProduct.storedValue}}</h3>
		
		
	</span>
</div>
<div style="clear:both;"></div></div>