<script>
	jQuery(function ($) {
    var $blowup = $('.blowup img');
    $('.thumbs-container img').click(function () {
        $blowup.attr('src', this.src);
    });
    
   $(".zoom").elevateZoom({ zoomType	: "inner", cursor: "crosshair" });
});
	
</script>
<div class="container" id="marg">
	<div class="row">
				
	</div>
	<div class="row" >
		<div class="col-sm-5 " >
		<div class="blowup">
			<img  class="img-responsive zoom" src="{{fixPath+'600x600-img-'+productDetail.id+'.png'+ token}}" alt="img" id="indisize" data-zoom-image="{{fixPath+'600x600-img-'+productDetail.id+'.png'+ token}}" /> 
		</div>
			
			<div class="col-sm-12 col-xs-12 ind-pro-thumbnail thumbs-container" id="marg">
				<div class="row text-center">
					<div class="col-sm-1"></div>
					<div class="col-sm-2 col-xs-2" >
						<img  class="img-responsive" ng-src="{{fixPath+'600x600-img-'+productDetail.id+'.png'+ token}}" width="76" height="74" alt="img" /> 
					</div>
					<div class="col-sm-2 col-xs-2"> 
						<img  class="img-responsive" src="images/img-05.d926140e.jpg" width="76" height="74" alt="img" /> 
					</div>
					<div class="col-sm-2 col-xs-2"> 
						<img  class="img-responsive" ng-src="{{fixPath+'600x600-img-'+productDetail.id+'.png'+ token}}" width="76" height="74" alt="img" /> 
					</div>
					<div class="col-sm-2 col-xs-2"> 
						<img  class="img-responsive" ng-src="{{fixPath+'600x600-img-'+productDetail.id+'.png'+ token}}" width="76" height="74" alt="img" /> 
					</div>
					<div class="col-sm-2 col-xs-2"> 
						<img  class="img-responsive" ng-src="{{fixPath+'600x600-img-'+productDetail.id+'.png'+ token}}" width="76" height="74" alt="img" /> 
					</div>
					<div class="col-sm-1"></div>
					
				</div>
			</div>
		</div>
		<div class="col-sm-5 " id="indisize1">
				  
			<p style="font-size: 16px;margin-bottom: 10px; line-height: 20px;">
				<strong>{{productDetail.name}}</strong>- {{productDetail.shortDesc}}</p>
			<font size="3" class="clr1" style="color: #D25E00;"><a ng-href="#shop/{{productDetail.shop.id}}">by {{productDetail.shop.name}}</a><br /><br /> <b>$ {{productDetail.pricingProduct.storedValue}}</b></font><br><br><br><br>
				
             
			<div class="quantity-wrapper">
            	
			</div>                 
			
          
			<div class="row mainBox buttonBox">
				<!--<a ng-href="" ng-click="storeProductsInCookie(productDetail,prodSize,prodQty)"><img src="images/button copy.PNG"/></a>-->
				<div class="row" id="margi">
					<div class="col-sm-12">
						<label class="col-sm-3 col-xs-3 clr"><h3> Size</h3></label>
						<div class="col-sm-3 col-xs-4" style="margin-top: 10px;">
							<div class="input-group spinner" id="one">
								<select ng-model="selectedItem" class="size-dropdown">
									<option ng-repeat="item in productDetail.productVariation" value="{{item.size}}">{{item.size}}</option>
								</select>
							</div>
						</div>
					</div>
				</div>
          
				<div class="row" id="margi" style="margin-bottom: 50px;">
					<div class="col-sm-12">
						<label class="col-sm-3 col-xs-3 clr"><h3>Quantity</h3></label>
						<div class="col-sm-3 col-xs-4" style="margin-top: 10px;">
							<div class="input-group spinner" id="two">
								<input type="text" class="form-control quantity-dropdown"  value="0" min="0" style="background-color: transparent;height: 38px;width: 160%;padding-top: 0;text-align: left;">
								<span class="input-group-btn-vertical">
									<button id="up" class="btn cus-caret" type="button" ><i class="fa fa-caret-up"></i></button>
									<button id="down" class="btn cus-caret" type="button"><i class="fa fa-caret-down"></i></button>
								</span>
							</div>
						</div>
					</div>
				</div >
				
				
				<a href="#chat"><button type="button" class="btn btn-primary individual-bag-btn" style="height: 25px; text-align: center;">ADD TO BAG</button></a>
				<button type="button" class="btn btn-primary individual-bag-btn" data-toggle="modal" data-target="#chatModel" style="height: 25px;margin-bottom: 0px;">ASK DESIGNER</button>
				<!--<a ng-href="#cart"><input type="submit" value="Add to Bag" class="buyBtn" /></a>-->
			

				<!-- Modal -->
				<div id="chatModel" class="modal fade" role="dialog">
					<div class="modal-dialog">

						<!-- Modal content-->
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h4 class="modal-title">Title</h4>
							</div>
							<div class="modal-body">
								<textarea style="width: 90%; height: 50%;height: 200px;font-size: 16px;padding: 20px;">Something in Textarea!</textarea>
							</div>
							
							<div class="modal-footer">
								<a href="#"><button type="button" class="btn btn-default" data-dismiss="modal">Send</button></a>
							</div>
						</div>

					</div>
				</div>
			</div>
          
         			
		</div><!-- /.col-lg-6 --><br>
         	
	</div><!-- /row -->
</div><!-- /container -->
<div class="container">
	<div class="row">
		<div class="row customise-sec text-center" >
			<div class="col-sm-4 itemdetail-border custom-divider"><label class="clr" id="itemdetail"><h3>Item Details</h3></label></div>
			<div class="col-sm-4 customization-border custom-divider"><label class="clr" id="customization"><h3>Customization</h3></label></div>
			<div class="col-sm-4 shipping-border custom-divider"><label class="clr" id="shipping"><h3>Shipping & Return Policy</h3></label></div>
		</div>
		<div class="row one1 individual-tabs">
			<h1>Item Details</h1>
			<h3>{{productDetail.longDesc}}</h3>
		</div>
		<div class="row two2 individual-tabs">
			<h1>Customization</h1>
		</div>
		<div class="row three3 individual-tabs">
			<h1>Shipping & Return Policy</h1>
		</div>
		
		
	</div>
</div><!---btn end -->     

<script>
	
	$(document).ready(function() {
			$('.itemdetail-border').click(function() {
					$(".two2").hide();
					$(".three3").hide()
					$('.one1').toggle();
            
				});
    
			$('.customization-border').click(function() {
					$('.one1').hide();
					$('.three3').hide();
					$('.two2').toggle();
        
				});
    
			$('.shipping-border').click(function() {
					$('.one1').hide();
					$('.two2').hide();
					$('.three3').toggle();
        
				});
    
		});
	/*$(document).ready(function() {
	$('.customization-border').click(function() {
	$(".one1").hide("fast")
	$(".three3").hide("fast")
    	 
	$('.two2').slideToggle("slide");
	});
	});
	$(document).ready(function() {
	$('.shipping-border').click(function() {
	$(".one1").hide("fast")
	$(".two2").hide("fast")
    	 
	$('.three3').slideToggle("slide");
	});
	});*/
</script>

