
<!--
<script>
$("#itemdetail").click(function () {
   $('.detail').slideToggle();
});

</script>
-->
<script type="text/javascript">
	$( document ).ready(function() {
		$(function() {
		    $('#showdiv1').click(function() {
		        $('div[id^=div]').hide();
		        $('#div1').show();
		    });
		    $('#showdiv2').click(function() {
		        $('div[id^=div]').hide();
		        $('#div2').show();
		    });

		    $('#showdiv3').click(function() {
		        $('div[id^=div]').hide();
		        $('#div3').show();
		    });

		    

		});
	});
</script>

<div class="container" id="marg">
	<div class="row">
				
	</div>
	<div class="row" >
		<div class="col-sm-5 " >
			<img  class="img-responsive" ng-src="{{fixPath+productDetail.imageInfo.imagePath + token}}" alt="img" id="indisize" /> 
			<div class="col-sm-12 col-xs-12 ind-pro-thumbnail" id="marg">
				<div class="row">
					<div class="col-sm-3"></div>
					<div class="col-sm-3 col-xs-3" >
						<img  class="img-responsive" src="images/img.PNG" alt="img" /> 
					</div>
					<div class="col-sm-3 col-xs-3"> 
						<img  class="img-responsive" src="images/back2 .PNG" alt="img" /> 
					</div>
					<div class="col-sm-3"></div>
				</div>
			</div>
		</div>
		<div class="col-sm-5 " id="indisize1">
				  
			<p style="font-size: 16px;margin-top: 3px;margin-bottom: 10px; line-height: 20px;">
				<strong>{{productDetail.name}}</strong>- {{productDetail.shortDesc}}</p>
			<font size="3" class="clr1" style="color: #D25E00;">by {{productDetail.shop.name}}<br /><br /> <b>$ {{productDetail.pricingProduct.storedValue}}</b></font><br><br><br><br>
			<!--<h3>
			{{productDetail.longDesc}}
			</h3>  -->	
             
			<div class="quantity-wrapper">
            	
			</div>                 
			
          
			<div class="row mainBox buttonBox">
				<!--<a ng-href="" ng-click="storeProductsInCookie(productDetail,prodSize,prodQty)"><img src="images/button copy.PNG"/></a>-->
				<div class="row" id="margi">
					<div class="col-sm-12">
						<label class="col-sm-3 col-xs-3 clr"><h3> Size</h3></label>
						<div class="col-sm-3 col-xs-4" style="margin-top: 10px;">
							<div class="input-group spinner" id="one">
								<select class="size-dropdown">
									<option><b>XS</b></option>
									<option><b>S</b></option>
									<option><b>M</b></option>
									<option><b>L</b></option>
									<option><b>XL</b></option>
								</select>
							</div>
						</div>
					</div>
				</div>
          
				<div class="row" id="margi" style="margin-bottom: 50px;">
					<div class="col-sm-12">
						<label class="col-sm-3 col-xs-3 clr"><h3>Quantity</h3></label>
						<div class="col-sm-3 col-xs-4" style="margin-top: 10px;">
							<div class="input-group spinner" id="two">
								<input type="text" class="form-control quantity-dropdown"  value="0" min="0" style="background-color: transparent;height: 38px;width: 160%;padding-top: 0;text-align: left;">
								<span class="input-group-btn-vertical">
									<button id="up" class="btn cus-caret" type="button" ><i class="fa fa-caret-up"></i></button>
									<button id="down" class="btn cus-caret" type="button"><i class="fa fa-caret-down"></i></button>
								</span>
							</div>
						</div>
					</div>
				</div >
				<a href="#chat/{{productDetail.name}}"><button type="button" class="btn btn-primary individual-bag-btn" style="height: 25px;">ADD TO BAG</button></a>
				<button type="button" class="btn btn-primary individual-bag-btn" data-toggle="modal" data-target="#chatModel" style="height: 25px;">ASK DESIGNER</button>
				<!--<a ng-href="#cart"><input type="submit" value="Add to Bag" class="buyBtn" /></a>-->
			

				<!-- Modal -->
				<div id="chatModel" class="modal fade" role="dialog">
					<div class="modal-dialog">

						<!-- Modal content-->
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h4 class="modal-title">Title</h4>
							</div>
							<div class="modal-body">
								<textarea style="width: 90%; height: 50%;height: 200px;font-size: 16px;padding: 20px;">Something in Textarea!</textarea>
							</div>
							<div class="modal-footer">
								<a href="#"><button type="button" class="btn btn-default" data-dismiss="modal">Send</button></a>
							</div>
						</div>

					</div>
				</div>
			</div>
          
         			
		</div><!-- /.col-lg-6 --><br>
         	
	</div><!-- /row -->
</div><!-- /container -->
<div class="container">
	<div class="row">
		<div class="row customise-sec text-center" >
			<div class="col-sm-4 itemdetail-border custom-divider"><label class="clr" id="itemdetail"><h3 id="showdiv1">Item Details</h3></label>
				
			
			</div>
			<div class="col-sm-4 customization-border custom-divider"><label class="clr" id="customization"><h3 id="showdiv2">Customization</h3></label></div>
			<div class="col-sm-4 shipping-border custom-divider"><label class="clr" id="shipping"><h3 id="showdiv3">Shipping & Return Policy</h3></label></div>
			
			
			
		</div>
		
			<div id="div1">
				<p>Some text Some text Some text Some text Some text</p>
			</div>
			
			<div id="div2" style="display:none;">
				<p>hihihhuhdkfdd</p>
			</div>
			
			<div id="div3" style="display:none;">
				<p>nononononononnonononono</p>
			</div>
		
		
		
		
		
		
		
		
		
		
		
		<div id="custom-section" class="row" >
			<div class="col-sm-12 asd" style=" width: 100%; height: 300px;margin-top: 10px;padding-left: 25px;" >
				{{productDetail.longDesc}}
			</div>
			
			
			
		</div>
		
		
		
	</div>
</div><!---btn end -->     
<div class="jumbotron" >
	<a href="#item"></a>
</div>