<script>
	jQuery(function ($) {
    var $blowup = $('.blowup img');
    $('.thumbs-container img').click(function () {
        $blowup.attr('src', this.src);
    });
    $('.size-dropdown :selected').html();
    
    
   
});

$('.lightbox_trigger').click(function(e) {
		
			var currentIndex = 0;
	
			e.preventDefault();
		
			var image_href = $('.img-responsive').attr("src");
			if ($('#lightbox').length > 0) { // #lightbox exists
				$('#lightbox').css("display","block");
			}
		
			else { //#lightbox does not exist - create and insert (runs 1st time only)
				$('#lightbox').css("display","block");
				//create HTML markup for lightbox window
				firstLightbox();
			}
			var lightbox = "";	
			var lightbox2 = "";	
			var lightbox3 = "";	
			function firstLightbox(){
				lightbox = 
				'<div id="lightbox">' +'<div class="row" style="width:auto;text-align:center;margin-top:30px;"><div class="col-sm-12 col-xs-12"><div class="col-sm-6 col-xs-6 back-button">'+'<span id="close-it">'+'Back'+'<br><img src="images/arrow.png" width="40" / style="padding:5px;"></span></div><div class="col-sm-6 col-xs-12 col-sm-offset-2"><h1>CUSTOMIZE</h1></div></div>'+
				'<div class="col-sm-12 col-xs-12" style="text-align:center;"><div class="col-sm-6 col-xs-12 col-sm-offset-3"><h1 style="border:none;">JACKETS'+'</h1></div></div>'+'</div>'+
				'<div id="content">' + 
				'<ul style="display:inline-flex;">' +
				'<li class="hover11">' + '<a> '+'<img style="width:265px;height:225px;" src="' + image_href +'" />'
				+
				
				'<table>'+'<tr class="radio-btn-div">'+'<td >'+'<input type="radio" name="jacket" value="1">'+'<label style="font-size:12px;">Jacket1</label>'+'</input>'+'</td>'+'<td style="width:100%;">'+'</td>'+
				'<td>'+'<img class="tick-img" src="images/tick.png"'+'/>'+'</td>'+
				'</tr>'+'</table>'+'</a>' + '</li>' +
				'<li class="hover11">' + '<a> '+'<img style="width:265px;height:225px;" src="' + image_href +'" />'
				+
				
				'<table>'+'<tr class="radio-btn-div">'+'<td>'+'<input type="radio" name="jacket" value="1">'+'<label style="font-size:12px;">Jacket2</label>'+'</input>'+'</td>'+'<td style="width:100%;">'+'</td>'+
				'<td>'+'<img class="tick-img" src="images/tick.png"'+'/>'+'</td>'+
				'</tr>'+'</table>'+'</a>' + '</li>' +
				'<li class="hover11">' + '<a> '+'<img style="width:265px;height:225px;" src="' + image_href +'" />'
				+
				
				'<table>'+'<tr class="radio-btn-div">'+'<td>'+'<input type="radio" name="jacket" value="1">'+'<label style="font-size:12px;">Jacket3</label>'+'</input>'+'</td>'+'<td style="width:100%;">'+'</td>'+
				'<td>'+'<img class="tick-img" src="images/tick.png"'+'/>'+'</td>'+
				'</tr>'+'</table>'+'</a>' + '</li>'+
				'<li class="hover11">' + '<a> '+'<img style="width:265px;height:225px;" src="' + image_href +'" />'
				+
				
				'<table>'+'<tr class="radio-btn-div">'+'<td>'+'<input type="radio" name="jacket" value="1">'+'<label style="font-size:12px;">Jacket3</label>'+'</input>'+'</td>'+'<td style="width:100%;">'+'</td>'+
				'<td>'+'<img class="tick-img" src="images/tick.png"'+'/>'+'</td>'+
				'</tr>'+'</table>'+'</a>' + '</li>'
				+ '</ul>' +
				'<div style="text-align:center;margin-top:10px;margin-left:2%;">'+'<button type="button" class="btn btn-primary individual-bag-btn" id="pre-btn" style="margin-right:5px;">PREVIOUS</button>' + '<button type="button" class="btn btn-primary individual-bag-btn" id="next-btn">NEXT</button>'+'</div></div><div class="row" style="padding-top:20px;"><div class="col-sm-12 text-center description"><div class="col-sm-6 col-sm-offset-3" style="border-bottom: 1px solid rgba(255, 255, 255, 0.18);padding-bottom: 15px;">DESCRIPTION</div><div class="col-sm-12"><div class="col-sm-6 col-sm-offset-3 description-text"><p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p></div></div></div></div>'+
				'</div>';		
				$('body').append(lightbox);
		
				$('.hover11').click(function(){
						$('.tick-img').css("display","block");
					});
		
				$('#next-btn').click(function(){
						secondLightbox();
							
					});
				$('#pre-btn').click(function(){
						alert("NO More Screen");
					});
				$('#close-it').click(function(){
						$('#lightbox').css("display","none");
					});	
		
			};
	
	
		
			$('#close-it').click(function(){
					$('#lightbox').css("display","none");
				});
	
	
		});

 $('.addtobag-btn').click(function(){
	$('.single-cartproduct').css("display","block");
	$('.single-cartproduct').css("color","black");
	 $('.single-cartproduct').delay(1000).fadeOut();
	 
	
    

   
	 
}); 
 


</script>

<style>
	table{
		width: 100%;
	}
	#lightbox {
		position: fixed; /* keeps the lightbox window in the current viewport */
		top: 0; 
		left: 0; 
		width: 100%; 
		height: 100%; 
		background: #898989;
		z-index: 900;
	}

	#lightbox ul {
		
	}

	#lightbox ul > li{
		
		
	}
	
	.back-button{
		width:9%;
		
	}

	#lightbox ul > li > img {
		box-shadow: 0 0 25px #111;
		-webkit-box-shadow: 0 0 25px #111;
		-moz-box-shadow: 0 0 25px #111;
		max-width: 940px;
		margin: 20px;
		width: 330px;
		margin-top: 10%;
	}

	#lightbox ul > li > a >img:hover{
		cursor: pointer;
		background-color: #e1e1e1;
	
	}
	
	
	.hover11 img {
		opacity: 1;
		-webkit-transition: .3s ease-in-out;
		transition: .3s ease-in-out;
		width:265px;
	}
	.hover11 img:hover {
		opacity: .9;
	}
	
	.hover11:hover .radio-btn-div{
		background-color: orange !important;
		cursor: pointer;
	} 
	
	.radio-btn-div:hover {
		background-color: orange !important;
		cursor: pointer;
	}

	.radio-btn-div {
		display: block;
		font-size: 20px;
		color: white;
		text-align: left;
		padding: 5px;
		width: 100%;
		background-color: rgba(255, 255, 255, 0.49);
		cursor: pointer;
	}
	
	.description{
		font-family: 'lato-light' !important;
		font-size: 18px;
		color: white;
		margin-left: 1%;
	}
	
	.description-text{
		    line-height: 25px;
    text-align: center;
    font-size: 14px;
    font-family: 'lato-light' !important;;
    padding-top: 5px;
	}
	
	.hover11{
		width:265px;
		margin-right: 5px;
	}

	#content{
		text-align: center;
	}

	#lightbox h1{
		font-size: 30px; 
		font-family: 'lato-light' !important;
		color: white !Important;
		border-bottom: 1px solid rgba(255, 255, 255, 0.18);
		padding-bottom: 15px;
		margin-top:0px;
	}

	#next-btn,#next-btn2,#next-btn3{
		width: 80px;
    height: 20px;
    font-family: 'lato-light' !important;
    font-size: 9pt;
     margin: 0px;
     padding: 0px;
     border:none;
	}
	
	#next-btn:hover,#pre-btn:hover{
		background-color: #ffa500 !important;
		color:gray;
		
	}

	#pre-btn,#pre-btn2,#pre-btn3{
		
		
		width: 80px;
    height: 20px;
    font-family: 'lato-light' !important;
    font-size: 9pt;
    margin: 0px;
    padding: 0px;
    border:none;
		
	}
	
	#close-it{
		font-size: 14px;
		color: white;
		cursor: pointer;
		float: left;
		padding: 10px;
		font-family:'lato-light' !important;
	}

	.tick-img{
		display: none;
		width: 10px !important;
		float: right;
		margin-top: -2px;
		margin-left: 10%;
		height: auto;
	}

	input[type="radio"]{
		display: none;
	}	

</style>

<div class="container-fluid" id="marg" style="margin-top: 10px;">
	<div class="row" >
		<div class="col-sm-5 col-xs-12 col-sm-offset-1" style="width: auto;">
		<div class="blowup">
			<img  class="img-responsive " src="{{fixPath+'600x600-'+imgNumber+'-img-'+productDetail.id+'.jpg'+ token}}" alt="img" id="indisize" />
		</div>
		<div class="col-sm-12" style="padding: 20px;">
					<div class="col-sm-2"></div>
					<div class="col-sm-2 col-xs-4" ng-repeat="x in getNumber(productDetail.imageInfo.imageCount) track by $index" >
						<img  class="img-responsive custom-thummb" ng-src="{{fixPath+'600x600-'+(1+$index)+'-img-'+productDetail.id+'.jpg'+ token}}" width="76" height="74" alt="img" ng-click="setImage($index)" /> 
					</div>
					<div class="col-sm-1"></div>
					</div>
		</div>
		
		<div class="col-sm-4 col-xs-12" id="indisize1">
			<div class="ind-desc" >	 
			<div style="bottom: 0;">
			<p>
				<strong  style=" font-family: lato-light; color: #D25E00;text-transform: uppercase;font-size:20px;">{{productDetail.name}}</strong>
				<br /><p style="font-family: lato-lightitalic; font-size: 20px;color:#838383;line-height: 20px;"> {{productDetail.shortDesc}}{{productDetail.shortDesc}}{{productDetail.shortDesc}}</p></p><br/>
			
			</div>
			
            <div class="row mainBox buttonBox" style="height: 400px;bottom:0;">
            <font size="2" class="clr1" style=" color:#838383;"><span style="color:#838383;font-family: lato-light;font-size:20px;">BY</span> <a style="color:#838383;font-family: lato-light;text-transform: uppercase;font-size: 20px;" ng-href="#shop/{{productDetail.shop.id}}">{{productDetail.shop.name}}</a></font><br />
			 <p style=" line-height: 49px; font-family: lato-light;font-size: 20px; color:#838383;margin-top:10px;">$ {{productDetail.pricingProduct.storedValue}}</p>
				<!--<a ng-href="" ng-click="storeProductsInCookie(productDetail,prodSize,prodQty)"><img src="images/button copy.PNG"/></a>-->
				<div class="row" id="margi">
					<div class="col-sm-12">
						<label class="col-sm-2 col-xs-3 clr"><h3 style="font-family: lato-regular;margin-top: 0px;padding:0px;"> SIZE</h3></label>
						<div class="col-sm-5 col-xs-4" style="margin-top: 2px;" >
							<div class="input-group spinner" id="one" style="width: 100%">
								<select ng-model="selectedItem" class="size-dropdown">
									<option style="font-family: lato-regular; color: #D25E00;" ng-repeat="item in productDetail.productVariation" value="{{item.size}}">{{item.size}}</option>
								</select>
							</div>
						</div>
					</div>
				</div>
        <script>
            $("input[name='demo3_21']").TouchSpin({
                initval: 40
            });
        </script>
          
				<div class="row" id="margi" style="margin-bottom: 35px;">
					<div class="col-sm-12">
						<label class="col-sm-3 col-xs-3 clr"><h3 style="font-family: lato-regular; margin-top: 14px;">QUANTITY</h3></label>
						<div class="col-sm-7 col-xs-4">
							<div class="input-group spinner" id="two" style="   margin-top: 10px;">
								<input type="text" id="demo3_21" name="demo3_21" class="form-control quantity-dropdown" ng-model="productQty" ng-init="productQty = 1"  value="" min="1" >
								<!--<span class="input-group-btn-vertical">
									<button id="up" class="btn cus-caret" type="button" ><i class="fa fa-caret-up"></i></button>
									<button id="down" class="btn cus-caret" type="button"><i class="fa fa-caret-down"></i></button>
								</span>-->
							</div>
							
						</div>
						
					</div>
					<!--<h2>Out of Stock</h2> -->
				</div >
				
				

				<a><button type="button" class="btn btn-primary individual-bag-btn addtobag-btn" ng-click="storeProductsInCookie(productDetail,selectedItem,productQty)"id="mob-btn" style="height: 27px; text-align: center;  font-family: lato-light;font-size:14px;font-weight:400;padding-top: 0px;">ADD TO BAG</button></a>
				<button type="button" class="btn btn-primary individual-bag-btn"id="mob-btn" style="height: 27px; font-family: lato-light;font-size:14px;font-weight:400;padding-top: 0px;" ng-click="open(productDetail.name)">ASK DESIGNER</button>
				<button type="button" class="btn btn-primary individual-bag-btn lightbox_trigger"id="mob-btn" style="height: 27px; text-align: center;margin-bottom: 7%; font-family: lato-light;font-size:14px;font-weight:400;padding-top: 0px;">CUSTOMIZE</button>

			

				<!-- Modal -->
				
           <script type="text/ng-template" id="myModalContent.html">
        <div class="card card-container" style="background-color:white;">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()">&times;</button>
								<h4 class="modal-title">{{productDetailName}}</h4>
        </div>
        <div class="modal-body">
            <textarea ng-model="msgBody" style="width: 90%; height: 50%;height: 200px;font-size: 16px;padding: 20px;">Type Here!</textarea>
        </div>
        <div class="modal-footer">
        
           <button type="button" class="btn btn-default" ng-click="send(msgBody)">Send</button>
        </div>
        </div>
    </script>
         		
         <script type="text/ng-template" id="errorModal.html">
				<div id="chatModel" close-modal class="modal" role="dialog" >
					 <div class="modal-header">
            <h3 class="modal-title">Im a modal!</h3>
        </div>
        <div class="modal-body">
            Error!
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>	
				</div>
          </script>			
		</div><!-- /.col-lg-6 --><br>
         	</div>
	</div><!-- /row -->
     </div><!-- /container -->
    <div class="row text-center" style="bottom: 0px;margin-left: 3px;" >
					
				</div>
</div>
<!-items list -->
	<div class="container" style="border-bottom: 1px solid #e1e1e1;padding:20px;">
		<div class="col-sm-12 text-center" id="mob-left">
			<label style="font-size: 18px;padding: 1px;font-family: lato-regular;font-weight: normal;color: #464646; margin-right: 66px;">ITEM DETAILS</label>
			
		</div>
	</div>
	
	<div class="container">	
	<div class="row">
		<div class="col-sm-12" >
			<div class="col-sm-10 col-sm-push-1">
				<div class="col-sm-3 col-xs-12">
					<img src="images/Sania.jpg" width="175" height="200" style="margin-top: 34px; margin-bottom :34px;"/>
				</div>
				<div class="col-sm-8 col-xs-12" style="padding: 20px;font-size: 16px; font-family: lato-regular;margin-left: 6px; margin-top: 38px;">
		    <div class="col-sm-12 " style="padding-bottom: 25px; font-family: lato-regular;">
			<p style="color:#464646;">DESIGNED BY</p><br/>
			 <p  style="color: #D25E00;margin-top: 2px;margin-bottom: 10px;text-transform: uppercase;">{{productDetail.shop.name}}</p>
			 
		      <span  style="line-height: 20px; font-family: lato-light;color: #9c9c9c;" >
						{{productDetail.shop.details}}
						
					</span>
					<p  style="line-height: 20px; font-family: lato-light;color: #9c9c9c;">
			{{productDetail.longDesc}}
			</p>
					<button type="button" class="btn btn-primary individual-bag-btn" style="height: 25px; width: 102px; font-family: lato-light;color: #ee9768; margin-left: 0px;">READ MORE</button>
				</div>
			</div>	
		</div>
	</div>
	</div>
  </div>
<div  class="container" style="border-bottom: 1px solid #e1e1e1;margin-bottom: 4px;"></div>
	<div class="container">
	<div class="row" style="padding: 20px;margin-bottom: 20px;">
		<div class="col-sm-12 text-center" >
			<h2 style="margin-bottom: 8px;font-family: lato-regular;margin-top: 0px;color: #464646;margin-right: 49px;font-weight: normal;">SHIPPING & PAYMENT POLICIES</h2>
			
			
		</div>
	</div>
</div>
</div>
<script>
	
	$(document).ready(function() {
			$('.itemdetail-border').click(function() {
					$(".two2").hide();
					$(".three3").hide()
					$('.one1').toggle();
            
				});
    
			$('.customization-border').click(function() {
					$('.one1').hide();
					$('.three3').hide();
					$('.two2').toggle();
        
				});
    
			$('.shipping-border').click(function() {
					$('.one1').hide();
					$('.two2').hide();
					$('.three3').toggle();
        
				});
				
				
				 var showChar = 100;  // How many characters are shown by default
    var ellipsestext = "...";
    var moretext = "Read More more >";
    var lesstext = "Read less";
    
    $('.more').each(function() {
        var content = $(this).html();
 
        if(content.length > showChar) {
 
            var c = content.substr(0, showChar);
            var h = content.substr(showChar, content.length - showChar);
 
            var html = c + '<span class="moreellipses">' + ellipsestext+ '&nbsp;</span><span class="morecontent"><span>' + h + '</span>&nbsp;&nbsp;<a href="" class="morelink">' + moretext + '</a></span>';
 
            $(this).html(html);
        }
 
    });
 
    $(".morelink").click(function(){
        if($(this).hasClass("less")) {
            $(this).removeClass("less");
            $(this).html(moretext);
        } else {
            $(this).addClass("less");
            $(this).html(lesstext);
        }
        $(this).parent().prev().toggle();
        $(this).prev().toggle();
        return false;
    });
    
		});
</script>

