
<div id="carousel-01" class="carousel slide carousel-fade" data-ride="carousel">
	<div class="carousel-inner" role="listbox">
		<div class="item active homepage-slider-img ">
			<img src="{{fixPath +'Shop/banner-image2.jpg'+token}}" alt="image">
			<div class="row carousel-content text-center responsive-carousel-btn" style="bottom: 60%;">
				<div class="col-sm-5 col-xs-1"></div>
				<a style="color: white;" href="#shop/13">
				<div class="col-sm-2 col-xs-2 home-slider-shop-btn">
						<h3 style="font-family: lato-light;">TRY GUL</h3>
				</div>
				</a>
			</div>
			<div class="row carousel-content text-center responsive-carousel-btn" style="bottom: 54%;">
				<div class="col-sm-3 col-xs-4"></div>
				<div class="col-sm-5 col-xs-12 slider-heading-mobile">
					<h3 class="home-slider-shop-desc2">CUSTOMIZATION BRIDAL DRESS</h3>	
				</div>
				
			</div>
			
		</div>

		<!--Do no Remove Will Enable Later-->
		<!--Item 2-->
		<!--<div class="item">
			<img src="{{fixPath +'Shop/banner-image3.jpg'+token}}" alt="image" style="background-size: contain; background-attachment: fixed;background: no-repeat; width: 100%;min-height: 725px;">
			<div class="row carousel-content text-center" style="bottom: 56%;">
				<div class="col-sm-7"></div>
				<div class="col-sm-4">
					<h1 style="margin: 0px;font-family: lato-hairline !important; color:#cbc9c6;">COUTURE TOPS</h1>	
				</div>
			</div>
			<div class="row carousel-content text-center" style="bottom: 21%;">
				<div class="col-sm-10 col-xs-4"></div>
				<a style="color: white;" href="#shop/14"><div class="col-sm-2 col-xs-4 home-slider-shop-btn-two">
						<h3 style="font-family: lato-light;">Shop Now</h3>
					</div></a>
        
			</div>
		</div>
		
		&lt;!&ndash;End of Item 2&ndash;&gt;
     	
		&lt;!&ndash;Item 3&ndash;&gt;
		&lt;!&ndash;Item 3&ndash;&gt;
		<div class="item">
			<img src="{{fixPath +'Shop/banner-image4.jpg'+token}}" alt="image" style="background-size: contain; background-attachment: fixed;background: no-repeat; width: 100%;min-height: 725px;">
			<div class="row carousel-content text-center" style="bottom: 56%;">
				<div class="col-sm-6"></div>
				<div class="col-sm-5 col-xs-12 third-slider-desc">
					<h1 style="font-family: lato-hairline !important; color:#cbc9c6;"> CUSTOMIZE EMBROIDERED NECKLINE </h1>	
				</div>
			</div>
			<div class="row carousel-content text-center" style="bottom: 46%;">
				<div class="col-sm-8 col-xs-4"></div>
				<a style="color: white;" href="#shop/15"><div class="col-sm-2 col-xs-4 home-slider-shop-btn-three">
						<h3 style="font-family: lato-light;">Shop Now</h3>
					</div></a>
        
			</div>
		</div>-->
		
		<!--End of Item 3-->	
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12 homepage-gallery gallery1" style="margin-top: 5px;margin-left: 0px;">
				<div class="col-sm-6 homepage-gallery-left-tiles">
				<div id="carousel-01" class="carousel slide carousel-fade" data-ride="carousel" style="margin-bottom: 0px;">
					<div class="carousel-inner category_banner1" role="listbox">
						<img class="left-image1" src="images/category_banner1.png" />
					</div>
					<div class="row gallery-carousel-content text-left">
								<div class="col-sm-10 col-xs-12">
									<h1>GREY NET SHIRT</h1>
									<h1>EMBELLISHED WITH DABKA</h1>
									
								</div>
					</div>
				</div>
				<div id="carousel-01" class="carousel-001 carousel slide carousel-fade" data-ride="carousel" style="margin-bottom: 0px;">
					<div class="carousel-inner category_banner2" role="listbox">
						<img class="left-image2" src="images/category_banner2.png" />
					</div>
					<div class="row gallery-carousel-content text-left">
								<div class="col-sm-10 col-xs-12">
									<h1>GREY NET SHIRT</h1>
									<h1>EMBELLISHED WITH DABKA</h1>
									
								</div>
					</div>
				</div>
					
					
				</div>
				<div class="col-sm-6 homepage-gallery-right-tiles">
					<div class="row">
					<div id="carousel-01" class="carousel slide carousel-fade carousel-003" data-ride="carousel" style="margin-bottom: 0px;">
					<div class="carousel-inner category_banner3" role="listbox">
						<img class="right-image1" src="images/category_banner3.png" />
					</div>
					<div class="row gallery-carousel-content text-left">
								<div class="col-sm-10 col-xs-12">
									<h1>GREY NET SHIRT</h1>
									<h1>EMBELLISHED WITH DABKA</h1>
									
								</div>
					</div>
				</div>
						
					</div>
					<div class="row">
					<div id="carousel-01" class="carousel slide carousel-fade carousel-004" data-ride="carousel" style="margin-bottom: 0px;">
					<div class="carousel-inner category_banner4" role="listbox">
						<img class="right-image2" src="images/category_banner4.png" />
					</div>
					<div class="row gallery-carousel-content text-left">
								<div class="col-sm-10 col-xs-12">
									<h1>GREY NET SHIRT</h1>
									<h1>EMBELLISHED WITH DABKA</h1>
									
								</div>
					</div>
				</div>
						
					</div>
					<div class="row">
					<div id="carousel-01" class="carousel slide carousel-fade carousel-005" data-ride="carousel" style="margin-bottom: 0px;">
					<div class="carousel-inner category_banner5" role="listbox">
						<img class="right-image3" src="images/category_banner5.png" />
					</div>
					<div class="row gallery-carousel-content text-left">
								<div class="col-sm-10 col-xs-12">
									<h1>GREY NET SHIRT</h1>
									<h1>EMBELLISHED WITH DABKA</h1>
									
								</div>
					</div>
				</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
	

	<!--<div class="controlsBlock">
		<div class="controls">
			<div class="carousel-indicators" id="respone">
				<li data-target="#carousel-01" data-slide-to="0" class="active"></li>
				<li data-target="#carousel-01" data-slide-to="1"></li>
				<li data-target="#carousel-01" data-slide-to="2"></li>
			</div>
		</div>
	</div>
	-->
	

	
	<div class="container">
		<div class="row text-center" style="padding-bottom: 32px;font-family: lato-hairline !important;">
		<div class="col-sm-12 col-xs-12">
			<div class="col-sm-4 col-xs-12"></div>
			<div class="col-sm-4 col-xs-12  " style="margin-bottom: 12px;border-bottom: 1px solid #dfdfdf;"><h1 class="create-heading">CREATE</h1></div>
			<div class="col-sm-4 col-xs-12"></div>
		</div>
			<h1 class="inspirational-title">INSPIRATIONAL DESIGNS</h1>
			<p   id="respone1"> PERSONALIZE YOUR FAVOURITE DESIGNER'S DRESS</p>
		</div>
	</div>	
	<div class="container-fluid"style="background-color: #e2e2e2;"id="lab5">
			
			
			<img src="images/1.png" class="img-responsive center-block" style="margin-top: 20px;margin-bottom: 17px;" />
				
			</div>

</div>


