<script type="text/ng-template" id="loginModal.html">
	<div class="card card-container">
	<div ng-show="signingin" class="col-sm-12 gul-name ind-logo">
		<a href="#thanku" >Gul Fashions</a>
		<p class="slogan text-uppercase">Personalize your favourite designer</p>
	</div>
	<div ng-show="!signingin" class="col-sm-12">
		<div class="col-sm-12 ind-logo gul-name">
			<a href="#thanku">Gul Fashions</a>
			<p class="slogan text-uppercase">Personalize your favourite designer</p>
		</div>
	</div>
	<div class="modal-body" ng-show="!signingin">
		<form class="form-signin">
			<span id="reauth-email" class="reauth-email"></span>
			<div class="col-sm-12 email-address form-group">
				<input type="email" id="inputEmail" class="form-control input-mail-field" required autofocus ng-model="regEmail" placeholder="Email" />
			</div>
			<div class="col-sm-12 col-pass form-group">
				<input type="password" id="inputPassword" class="form-control pass-field" required ng-model="regPass" placeholder="Password" />
			</div>
			<label ng-show="showSignupError">"User Already Exist!"</label>
			<div class="col-sm-push-2">
				<button class="btn btn-primary btn-logIn individual-bag-btn" ng-click="registerUser(regEmail,regPass)">Create Account</button>
			</div>
		</form>
	</div>

	<div class="modal-body" ng-show="signingin">
		<form class="form-signin">
			<span id="reauth-email" class="reauth-email"></span>
			<div class="col-sm-12 login-email form-group">
				<input type="email" id="inputEmail" class="form-control input-login-email-address" required autofocus ng-model="loginEmail" placeholder="Email" />
			</div>
			<div class="col-sm-12 login-pass form-group">
				<input type="password" id="inputPassword" class="form-control login-pass-incorrect" required ng-model="loginPass" placeholder="Password" />
				<label ng-show="showError">"Incorrect Username or Password"</label>
				<label ng-show="showEmptyFieldError">"Please Fill All Fields"</label>
			</div>
			<div class="col-sm-push-2">
		        <button class="btn btn-primary individual-bag-btn btn-logIn" ng-click="checkLogin(loginEmail,loginPass)">LOG IN</button>
		    </div>
			<div class="col-sm-12 text-center"><p class="forgotPw">Forget Password?<a href="javascript:;">Click Here!</a></p></div>
		</form>
	</div>

	<div ng-show="signingin" class="col-sm-12 text-center join-gulgs">
        <button type="button" class="btn join-btn" ng-click="showSignUp()">Join Gulgs</button>
    </div>
	<div ng-show="!signingin" class="col-sm-12 text-center already-member">
      <button type="button" class="btn join-btn" ng-click="showSignIn()">Already a Member?<a href="javascript:;">Log In</a></button>
   </div>
</script>
