.gul-name{
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
}

.email-address{
    padding-left: 0px;
    margin: 25px 0px;
    padding-right: 0px;
}

.mail-label{
    font-size: 13px;
    color: gray;
}

.input-mail-field{
    border: 1px solid rgba(128, 128, 128, 0.44);
    border-radius: 4px;
    text-transform: lowercase;
}

.col-pass{
    padding-left: 0px;
    padding-right: 0px;
}

.pass-label{
    font-size: 13px;
    color: gray;
}

.pass-field{
    border: 1px solid rgba(128, 128, 128, 0.44);
    border-radius: 4px;
}

.login-email{
    padding-left: 0px;
    margin: 25px 0px;
    padding-right: 0px;
}

.login-email-address{
    font-size: 13px;
    color: gray;
}

.input-login-email-address{
    border: 1px solid rgba(128, 128, 128, 0.44);
    border-radius: 4px;
    text-transform: lowercase;
}

.login-pass{
    padding-left: 0px;
    padding-right: 0px;
}

.login-pass label{
    font-size: 13px;
    color: gray;
}

.login-pass-incorrect{
    border: 1px solid rgba(128, 128, 128, 0.44);
    border-radius: 4px;
}

.login-pass-incorrect label{
    color: red;
    font-size: 12px;
}

.btn-logIn{
    margin-left: 0px;
    width: 100%;
}