@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300);
/*index page*/
.mMainContainer{
	border-bottom:1px solid #c2c2c2;
	background-repeat:repeat-x;
	background-position:bottom;
	padding-bottom:3%;
	overflow:hidden;
}
body{
	font-family: 'Lato', sans-serif;
}
.mpgSize {
	width:857px;
	margin:0 auto;	
}
.mFormHeading{
	border-bottom:1px solid #ed8e41;
	text-transform:uppercase;
	margin:0 0 2% 0;
	font-size:18px;
	color:#ed8e41;
	padding: 1% 0;
}	
.mCreatNew .form-control, .mCat, .mQuantity{
	border-radius:1px !important;
	box-shadow:0 0 0;
	-webkit-box-shadow: 0 0 0;
	border:1px solid #e1dcdc;
	width: 100%;
}
.detail {
	min-height:120px;
}
.mCreatNew input,.mCreatNew textarea, .mCreatNew select{
	margin-bottom:1.5%;
}
.mSubmit {
	background-color:#ed8e41;
	text-transform:uppercase;
	border:1px solid #000;
	font-size:17px;
	padding:.7% 1%;
	color:#000;
}
.mBg{
	background-color:#f4f4f4;
}
.mCreatNew input::-webkit-input-placeholder,.mCreatNew textarea::-webkit-input-placeholder {
	text-transform:uppercase;
	font-weight:300;
}
.mCreatNew input:-moz-placeholder,.mCreatNew textarea:-moz-placeholder { /* Firefox 18- */
	text-transform:uppercase;
   font-weight:300;
}
.mCreatNew input::-moz-placeholder,.mCreatNew textarea::-moz-placeholder {  /* Firefox 19+ */
	text-transform:uppercase;
	font-weight:300;
}
.mCreatNew input:-ms-input-placeholder,.mCreatNew textarea:-ms-input-placeholder{
	text-transform:uppercase;
	font-weight:300;
}
/*------------------------------------------------Ends of index page-----------------------------*/
/*------------------------------------------------Upload Form Start------------------------------*/
.mformHeading {
	color:#ed8e41;
	font-size:18px;
	border-bottom:1px solid #ed8e41;
	margin:0px;
	padding: 1% 0;
	margin-bottom:1%;
	margin-bottom: 3%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 500;
	line-height: 1.1;
}	
.mDetail{
	min-height:120px;
}		
.mUpload{
	padding:1% 5%;
	background-color:#ed8e41;
	margin-top:1%;
	border:none;
	color:#fff;
}
.mForm{
	margin-bottom:1%;
}
.mSite{
	margin-right:1%;
	margin-bottom:1%;
}	
.mCustom-file-input {
	margin:0;
	padding:0;
}
.mCustom-file-input::-webkit-file-upload-button {
	visibility: hidden;
	margin:0;
	padding:0;
}	
.mCustom-file-input::before {
	content: 'NO FILE CHOSEN';
	border: 1px solid #e1dcdc;
	text-shadow: 1px 1px #fff;
	-webkit-user-select: none;
	background-color:#fdfdfd;
	display: inline-block;
	white-space: nowrap;
	text-align:center;
	cursor: pointer;
	font-size: 10pt;
	color:#f6d5ba;
	padding:55% 0;
	width:99%;
}
.mPhoto.mCustom-file-input::before{
	content: 'ADD PHOTO';
	padding: 5% 43.4%;
	width:100%;
}	
.mCustom-file-input:hover::before {
	border-color: #ed8e41;
}
input[type="file"]:focus{
	border:none !important;
	outline:none;
}
.mCustom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
input[type='file'] {
    color:transparent;
 	 
}
.mCat, .mQuantity{
	font-weight:300;
	color:#a3a3a3;
	padding:1%;	
}
.mUploadImages input{
	margin-bottom:0;
}
.mAttrPnl{
	border:1px solid #cbcbcb;
	margin-bottom:1.5%;
	padding:1%;
}
.mAttrPnl label{
	font-weight:300;
	color:#a3a3a3;
	padding:15px 10px;
	font-size:17px;
}
.mSite{
	border:1px solid #cbcbcb;
	padding:.5%;
}
.mNoBorder,.mBorder{
	border:none;
	clear:both;
	margin:0;
}
.mBorder{
	border-top:1px solid #e1dcdc;
}
/*------------------------------------------Upload Form Ends-------------------------------------*/
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15{
    position: relative;
    min-height: 1px;
}
.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}
@media only screen 
and (min-width : 200px)
and (max-width : 1100px){
	.mpgSize{
		width:93%;
	}
}
