.under-slider{
    padding-bottom: 32px;
    font-family: lato-hairline !important;
}

.create-heading-div{
    margin-bottom: 12px;
    border-bottom: 1px solid #dfdfdf;
}

.img1{
    margin-top: 20px;
    margin-bottom: 17px;
}