@import url(https://fonts.googleapis.com/css?family=Lato:400,300);
.fa,a {
  color: #D25E00;
}
.main-nav>ul>li,h2 {
  text-transform: uppercase;
}
.main-nav>ul>li,.navbar .cart img,.social li img {
  vertical-align: top;
}

#breadcrumbs ol,#footer .list,.carousel-indicators,.main-nav>ul,.main-nav>ul>li>ul,.megamenu>li>ul>li,.social {
  list-style: none;
}

/*
@font-face {
  font-family:helveticaneue-bold;src:url(../fonts/helveticaneue-bold-webfont.eot);src:url(../fonts/helveticaneue-bold-webfont.eot?#iefix) format('embedded-opentype'),url(../fonts/helveticaneue-bold-webfont.woff) format('woff'),url(../fonts/helveticaneue-bold-webfont.ttf) format('truetype'),url(../fonts/helveticaneue-bold-webfont.svg#helvetica_neueregular) format('svg');font-weight:400;font-style:normal;
}

@font-face {
  font-family:corbel-regular;src:url(../fonts/corbel-webfont.eot);src:url(../fonts/corbel-webfont.eot#iefix) format('embedded-opentype'),url(../fonts/corbel-webfont.woff) format('woff'),url(../fonts/corbel-webfont.ttf) format('truetype'),url(../fonts/corbel-webfont.svg#CorbelRegular) format('svg');font-weight:400;font-style:normal;
}
*/

body {
  font: 9px/9px 'Lato',sans-serif;
  color: #050505;
  min-width: 300px;
}

button,input[type=button],input[type=reset],input[type=submit] {
  -webkit-appearance: none;
  cursor: pointer;
  transition: all .3s;
  -webkit-transition: all .3s;
}

input[type=search] {
  -webkit-appearance: textfield;
}

button::-moz-focus-inner,input[type=button]::-moz-focus-inner,input[type=reset]::-moz-focus-inner,input[type=submit]::-moz-focus-inner {
  border: none;
  padding: 0;
}

a {
  transition: all .3s;
  -webkit-transition: all .3s;
  background-color: transparent!important;
}

a:focus,button:focus,input:focus,select:focus,textarea:focus {
  outline: 0;
}

.wrapper {
  position: relative;
  overflow: hidden;
}

h2 {
  font: 700 22px/26px Arial,Helvetica,sans-serif;
  letter-spacing: -1px;
  margin: 0 0 20px;
  color: #d25e00;
}

h2 span {
  color: #000;
}

.btn {
  padding: 1px 10px 0;
  border: 0;
  border-radius: 0;
  font: 13px/17px sans-serif,helveticaneue-bold;
  letter-spacing: 1px;
}

.btn-primary {
  color: gray;
  background-color: #eee!important;
  background: url(data:image/svg+xml; base64, PD94bWwgdmVyc2lvbj0iMS4wIiA/ Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+ CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UxZTFlMSIgc3RvcC1vcGFjaXR5PSIxIi8+ CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkMGQwZDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+ CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
}

.btn-primary:active,.btn-primary:hover {
  color: #e86903;
  opacity: .8;
  outline: 0;
  background: #e1e1e1;
  background: -moz-linear-gradient(top,#e1e1e1 0,#d0d0d0 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#e1e1e1),color-stop(100%,#d0d0d0));
  background: -webkit-linear-gradient(top,#e1e1e1 0,#d0d0d0 100%);
  background: -o-linear-gradient(top,#e1e1e1 0,#d0d0d0 100%);
  background: -ms-linear-gradient(top,#e1e1e1 0,#d0d0d0 100%);
  background: linear-gradient(to bottom,#e1e1e1 0,#d0d0d0 100%);
}

.btn-primary:focus {
  background: #EEE!important;
  color: #E86903!important;
  outline: 0!important;
}

.navbar {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0;
  border: 0;
  z-index: 100;
}

.home-menu {
  background: 0 0;
  color: #fff;
}

.header-main-nav ul>li {
  color: #000!important;
}

.header-main-nav ul>li>a {
  background: #fff;
  color: #000!important;
}

.header-main-nav:hover ul>li>label {
  color: #000;
}

.home-menu:hover {
  background-color: rgba(255,255,255,.5);
  color: #000;
}

.home-menu ul>li>a {
  color: #fff!important;
}

.home-menu:hover .signin-label span,.home-menu:hover ul>li>a {
  color: #000!important;
}

.home-menu .cart-label a {
  color: #fff!important;
}

.home-menu:hover .cart-label,.home-menu:hover .cart-label a,.navbar.scroll .cart-label,.navbar.scroll .signin-label,.navbar.scroll a {
  color: #000!important;
}

.home-menu .cart-label:hover {
  border: 1px solid #A09D93;
}

.navbar.scroll {
  position: fixed;
  top: 0;
  border-radius: 0;
  background-color: #fff;
}

.navbar.scroll .cart-label:hover {
  border: 1px solid rgba(0,0,0,.15);
}

.navbar .container {
  position: relative;
}

.navbar .navbar-brand {
  float: none;
  display: block;
  text-indent: -9999px;
  overflow: hidden;
  background: url(../images/logo.6f38c888.png) no-repeat;
  width: 155px;
  height: 67px;
  padding: 0;
}

.navbar>.container .navbar-brand {
  margin: 0 auto 15px;
}

.navbar .navbar-brand a {
  display: block;
  height: 100%;
}

.navbar .cart {
  position: absolute;
  right: 72px;
  top: -3px;
}

.main-nav>ul {
  margin: 0 -38px;
  padding: 0;
  font-size: 0;
  line-height: 0;
  text-align: center;
}

.main-nav>ul>li {
  display: inline-block;
  position: relative;
  margin: 0 38px;
 font-weight:100;
 line-height:2;
}

.main-nav>ul>li:hover>ul {
  display: block;
}

.main-nav>ul>li>a {
  display: block;
  border-bottom: 2px solid transparent;
  color: #010101;
}

.main-nav>ul>.active>a,.main-nav>ul>li:hover>a,.main-nav>ul>li>a:hover {
  text-decoration: none;
  border-bottom-color: #d25e00;
  background-color: #fff;
}

.main-nav>ul>li>a:focus {
  text-decoration: none;
}

.main-nav>ul>li>ul {
  display: none;
  position: absolute;
  left: 0;
  margin: 0;
  padding: 4px 0 32px;
  font-size: 17px;
  line-height: 21px;
  text-align: left;
  text-transform: none;
  background: #fdfdfd;
}

#footer .list,#footer h4,.subscribe .btn-submit {
  text-transform: uppercase;
}

.main-nav>ul>li>ul:before {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100%;
  height: 9px;
  content: "";
}

.main-nav>ul>li>ul a {
  display: block;
  padding: 12px 10px 0;
  color: #c3c1c1;
  font-size: 15px;
}

.main-nav>ul>li>ul ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav>ul>li>ul ul a {
  padding-left: 56px;
}

.main-nav .opener {
  display: none;
}

.carousel {
  margin: 0 0 20px;
}

.carousel .item {
  max-height: 725px;
  background-position: 50% 50%;
  background-size: cover;
  background-color: #6a6a6c;
}

.carousel-nav {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  max-width: 867px;
  width: 100%;
  margin: auto;
}

.carousel .carousel-control {
  left: 10px;
  width: 41px;
  height: 40px;
  margin-top: -20px;
  border-radius: 50%;
  opacity: 1;
  z-index: 10;
  -webkit-box-shadow: 0 0 46px rgba(0,0,0,.47);
  box-shadow: 0 0 46px rgba(0,0,0,.47);
  background: url(data:image/svg+xml; base64, PD94bWwgdmVyc2lvbj0iMS4wIiA/ Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+ CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U4NjkwMyIgc3RvcC1vcGFjaXR5PSIxIi8+ CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2U5NmEwMyIgc3RvcC1vcGFjaXR5PSIxIi8+ CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2NiNWMwMyIgc3RvcC1vcGFjaXR5PSIxIi8+ CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjZDVkMDMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+ CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,#e86903 0,#e96a03 50%,#cb5c03 50%,#cd5d03 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#e86903),color-stop(50%,#e96a03),color-stop(50%,#cb5c03),color-stop(100%,#cd5d03));
  background: -webkit-linear-gradient(top,#e86903 0,#e96a03 50%,#cb5c03 50%,#cd5d03 100%);
  background: -o-linear-gradient(top,#e86903 0,#e96a03 50%,#cb5c03 50%,#cd5d03 100%);
  background: -ms-linear-gradient(top,#e86903 0,#e96a03 50%,#cb5c03 50%,#cd5d03 100%);
  background: linear-gradient(to bottom,#e86903 0,#e96a03 50%,#cb5c03 50%,#cd5d03 100%);
}

.carousel .carousel-control:hover {
  opacity: .8;
}

.carousel .carousel-control:before {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -9px 0 0 -9px;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  border-right: 15px solid #fff;
  content: "";
}

.carousel .carousel-control.right {
  left: auto;
  right: 10px;
}

.carousel .carousel-control.right:before {
  margin: -9px 0 0 -5px;
  border-right-width: 0;
  border-left: 15px solid #fff;
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.social li a:hover,.subscribe .btn-submit:hover {
  opacity: .7;
}

.info-boxes {
  margin-bottom: 30px;
  color: #fff;
}

.info-boxes figure {
  position: relative;
  margin: 0 0 77px;
  background-position: 50% 50%;
  background-size: cover;
}

.info-boxes figure img {
  display: block;
  width: 100%;
  height: auto;
}

.info-boxes figcaption {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  padding: 7px 5px 24px 18px;
  background: rgba(33,32,32,.63);
}

.info-boxes figcaption p {
  margin: 0;
}

.info-boxes figcaption strong {
  font-style: italic;
}

.info-boxes figcaption small {
  font-size: 8px;
  line-height: 9px;
  font-style: italic;
}

.info-boxes .btn {
  position: absolute;
  right: 11px;
  bottom: 6px;
}

#footer {
  margin-top: -5px;
  padding: 8px;
  border-top: 1px solid #ddd;
  background-color: rgba(238,238,238,.41);
}

#footer .container-fluid {
  max-width: 805px;
}

#footer h4 {
  font: 700 14px/18px Arial,Helvetica,sans-serif;
  margin: 0 0 5px;
}

#footer .list {
  margin: 0;
  padding: 0;
  font-family: corbel-regular,sans-serif;
  line-height: 17px;
  font-size: 13px;
}

#footer .list a {
  color: #050505;
}

#footer h5 {
  font: 17px/21px Arial,Helvetica,sans-serif;
  text-align: right;
  margin: -1px 0;
  color: #e86903;
}

.subscribe {
  position: relative;
  padding: 4px 139px 0 5px;
}

.subscribe label {
  float: left;
  margin: 0;
  padding: 6px 14px 0 0;
  font: 18px/22px corbel-regular,sans-serif;
  letter-spacing: 1px;
}

.subscribe label span {
  font-family: Arial,Helvetica,sans-serif;
  color: #e77010;
}

.subscribe .form-group {
  overflow: hidden;
  margin: 0;
}

.form-control {
  padding: 1px 10px;
  border: 0;
  border-radius: 0;
  background: #dfdede;
  color: #050505;
  font: 18px/24px corbel-regular,sans-serif;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.subscribe .btn-submit {
  position: absolute;
  right: 34px;
  top: 4px;
  padding: 4px 11px;
  font-size: 14px;
  line-height: 18px;
  border: 0;
  background: #f6f5f5;
  color: #616161;
  -webkit-box-shadow: inset -5px -5px 5px rgba(0,0,0,.12);
  box-shadow: inset -5px -5px 5px rgba(0,0,0,.12);
}

.social {
  margin: 0;
  padding: 0;
  display: inline-flex;
  line-height: 15px;
  bottom: 0;
}

.social li {
  float: left;
}

a,a:active,a:focus,a:hover,embed,object {
  outline: 0;
  text-decoration: none;
}

:-moz-any-link:focus {
  outline: 0;
}

input::-moz-focus-inner {
  border: 0;
}

:focus {
  outline: 0;
}

body {
  background: #fff;
}

.brand {
  padding: 10px 40px!important;
}

.mega-menu {
  padding: 10px 0!important;
  width: 540px;
  border-radius: 0;
  margin-top: 0;
}

.mega-menu li {
  display: inline-block;
  float: left;
  font-size: 17px;
  padding: 3px 0;
}

.mega-menu li.mega-menu-column {
  margin-right: 20px;
  width: 150px;
}

.mega-menu .nav-header {
  padding: 0!important;
  margin-bottom: 10px;
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #ddd;
}

.mega-menu img {
  padding-bottom: 10px;
}

.navbar .nav li.dropdown.active>.dropdown-toggle,.navbar .nav li.dropdown.open.active>.dropdown-toggle,.navbar .nav li.dropdown.open>.dropdown-toggle,.navbar .nav>li.dropdown>a:focus {
  background: inherit;
  color: inherit;
}

.navbar .nav li.dropdown.open>.dropdown-toggle:hover,.navbar .nav li.dropdown>.dropdown-toggle:hover {
  background-color: #fff;
}

.navbar .nav li.dropdown.active>.dropdown-toggle .caret,.navbar .nav li.dropdown.open.active>.dropdown-toggle .caret,.navbar .nav li.dropdown.open>.dropdown-toggle .caret,.navbar .nav li.dropdown>a:focus .caret,.navbar .nav li.dropdown>a:hover .caret {
  border-bottom-color: #333;
  border-top-color: #333;
}

.mega-menu a,.navbar .nav>li>a {
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  font-size: 13px;
  font-weight: 500;
  color: #fff;
}

.navbar {
  padding-top: 24px;
}

.carousel-content {
  position: absolute;
  bottom: 51%;
  left: 5%;
  width: 100%;
  z-index: 20;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
  font-family: 'Century Schoolbook'!important;
  font-size: 38px!important;
  line-height: 46;
}

.carousel-content h1 {
  font-size: 44px!important;
}

.carousel-content h3 {
  font-size: 17px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.navbar .nav>li>a:hover {
  color: #000;
}

.navbar-default .navbar-brand,.navbar-default .navbar-nav>li>a {
  color: #fff;
}

.navbar-default {
  color: #fff;
  background-color: #ccc6c6;
  border-color: #aca1a2;
}

.navbar-default .navbar-nav>.dropdown>a .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}

.menu-large {
  position: static!important;
}

.megamenu {
  padding: 20px 0;
  width: 100%;
}

.megamenu>li>ul {
  padding: 0;
  margin: 0;
}

.megamenu>li>ul>li>a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.428571429;
  color: #c3c1c1;
  white-space: normal;
}

.megamenu>li ul>li>a:focus,.megamenu>li ul>li>a:hover {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}

.megamenu.disabled>a,.megamenu.disabled>a:focus,.megamenu.disabled>a:hover {
  color: #999;
}

.megamenu.disabled>a:focus,.megamenu.disabled>a:hover {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  cursor: not-allowed;
}

.megamenu.dropdown-header {
  color: #428bca;
  font-size: 18px;
}

@media (max-width:768px) {
  .account-navbar li .acc-nav {
    margin-top: 90%!important;
  }

  .keep-shopping-btn {
    font-size: 12px;
    padding-left: 5px;
  }

  .items-title h1 {
    font-size: 16px!important;
    margin-left: 5px;
  }

  .megamenu {
    margin-left: 0;
    margin-right: 0;
  }

  .megamenu>li>a:hover {
    text-decoration: underline!important;
  }

  .megamenu>li:last-child {
    margin-bottom: 0;
  }

  .megamenu.dropdown-header {
    padding: 3px 15px!important;
  }

  .navbar-nav .open .dropdown-menu .dropdown-header {
    color: #fff;
  }

  .cart-right-table {
    padding-left: 20px!important;
  }

  .mob-logo {
    margin-top: 11px;
    text-align: left;
  }

  .individual-bag-btn {
    width: 61.5%;
    height: 25px!important;
    color: #E86903;

    margin: 10px;
  }

  .cart-label {

    margin-top: 25px;
    padding: 2px!important;
    font-family: Quicksand;
  }

  .cart-block {
    margin-top: -2px!important;
  }
}

@media screen and (min-width:768px) {
  .main-nav>ul>li:hover>ul {
    display: block!important;
  }

  .cart-pro-detail {
    margin: 5px;
  }

  .cart-elements {
    padding-left: 15px;
  }
}

@media screen and (max-width:767px),screen and (orientation:landscape) and (max-width:767px),screen and (orientation:portrait) and (max-width:767px) {
  .main-nav,.wrapper {
    transition: all .3s;
  }

  .main-nav>ul>li>ul a:hover,.main-nav>ul>li>ul ul a:hover {
    cursor: pointer;
    text-decoration: underline!important;
  }

  body {
    -webkit-text-size-adjust: none;
  }

  .menu-opened {
    position: relative;
    overflow: hidden;
  }

  .wrapper {
    left: 0;
    padding-top: 92px;
    -webkit-transition: all .3s;
  }

  .navbar {
    position: fixed;
    top: 0;
    right: auto;
    width: 100%;
    padding: 15px 0;
  }

  .menu-opened .navbar {
    left: -250px;
  }

  .navbar>.container .navbar-brand {
    margin: 0 auto;
  }

  .navbar .navbar-brand {
    width: 120px;
    height: 52px;
    background-size: cover;
  }

  .btn-menu {
    position: absolute;
    right: 5px;
    top: -10px;
    margin-top: 25px;
    width: 29px;
    height: 22px;
    text-indent: -9999px;
    overflow: hidden;
  }

  .btn-menu:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 4px;
    background: #000;
    border-radius: 2px;
    content: "";
    -webkit-box-shadow: 0 9px #000,0 18px #000;
    box-shadow: 0 9px #000,0 18px #000;
  }

  .navbar .cart {
    right: 9px;
    top: 24px;
  }

  .navbar .cart img {
    width: 30px;
  }

  .main-nav {
    position: fixed;
    top: 0;
    bottom: 0;
    right: -250px;
    width: 250px;
    z-index: 100;
    overflow-y: auto;
    -webkit-transition: all .3s;
  }

  .menu-opened .main-nav {
    right: 0;
  }

  .menu-opened .wrapper {
    left: -250px;
  }

  .main-nav>ul {
    margin: 0;
    padding: 10px;
    text-align: left!important;
    margin-right: 100px!important;
    width: 100%!important;
  }

  .main-nav>ul>li {
    display: grid;
    width: 100%;
    margin: 0;
    padding: 0 0 5px;
  }

  .acc-menu {
    margin-top: 30px;
  }

  .main-nav .acc-opener:before,.main-nav .opener:before {
    left: 50%;
    margin: -7px 0 0 -5px;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 10px solid #fff;
    content: "";
  }

  .main-nav>ul>li:hover>ul {
    display: none;
  }

  .main-nav .acc-opener,.main-nav .opener {
    display: block;
    width: 40px;
    text-indent: -9999px;
    overflow: hidden;
    background: #010101;
    bottom: 0;
    right: 0;
  }

  .main-nav>ul>li>a {
    position: relative;
    font: 14px/26px Arial,Helvetica,sans-serif!important;
    padding: 5px;
  }

  .main-nav>ul>li>ul {
    position: static;
    padding: 5px 0;
  }

  .main-nav>ul>li>ul ul a {
    padding-left: 2px;
    padding-top: 2px;
  }

  .main-nav>ul>li>ul a {
    padding-top: 2px;
    font-size: 12px;
  }

  .main-nav .acc-opener {
    position: absolute;
    top: 0;
    transition: all .3s;
    -webkit-transition: all .3s;
  }

  .main-nav .acc-opener:before {
    position: absolute;
    top: 50%;
    transition: all .3s;
    -webkit-transition: all .3s;
  }

  .main-nav .active .acc-opener:before {
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  .main-nav .opener {
    position: absolute;
    top: 0;
    transition: all .3s;
    -webkit-transition: all .3s;
  }

  .main-nav .opener:before {
    position: absolute;
    top: 50%;
    transition: all .3s;
    -webkit-transition: all .3s;
  }

  .main-nav .active .opener:before {
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  .fader {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0,.5);
    opacity: 0;
    z-index: -1;
    transition: all .3s;
    -webkit-transition: all .3s;
  }

  .menu-opened .fader {
    opacity: 1;
    z-index: 200;
    left: -250px;
  }

  .carousel .item {
    min-height: 300px;
  }

  .info-boxes {
    padding-bottom: 10px;
  }

  .subscribe {
    padding: 4px 122px 30px 0;
  }

  .subscribe .btn-submit {
    right: 0;
  }

  .ind-pro-thumbnail {
    padding-left: 0!important;
  }

  .clr h3 {
    font-size: 13px;
  }

  .cart-label {
    margin-top: 25px;
    padding: 2px!important;
    font-family: Quicksand;
  }

  .cart-block {
    margin-top: -2px!important;
  }

  #carousel-01 {
    height: 300px;
  }

  .carousel-inner {
    height: 340px;
  }
}

.carousel-control .glyphicon-chevron-right,.carousel-control.right {
  right: 0;
}

@media screen and (max-width:479px),screen and (orientation:landscape) and (max-width:479px),screen and (orientation:portrait) and (max-width:479px) {
  .info-boxes div[class*=col-] {
    float: none;
    width: auto;
  }

  .subscribe {
    padding: 0 0 15px;
  }

  .subscribe .form-group,.subscribe label {
    padding: 0 0 10px;
  }

  .subscribe label {
    float: none;
    display: block;
  }

  .subscribe .btn-submit {
    position: static;
    vertical-align: top;
  }

  .main-nav>ul>li>a {
    font: 12px/12px Arial,Helvetica,sans-serif!important;
    padding: 5px;
  }

  .proceed-checkout-btn {
    font-size: 12px;
  }

  .cart-elements {
    padding-left: 5px;
  }

  .dropdown-menu li {
    line-height: 15px;
    height: 25px;
  }

  .cart-label {
    margin-top: 25px;
    padding: 2px!important;
    font-family: Quicksand;
  }

  .cart-block {
    margin-top: -2px!important;
  }
}

#menu-container {
  width: 450px;
  text-align: center;
  margin: auto;
}

#width {
  height: 1000px;
  background-color: #acb1b5;
}

#wraper {
  background-color: #fff;
}

#ex3 {
  margin-bottom: 20px;
}

.split-footer {
  border-bottom: 1px solid #e5e5e5;
  margin: 30px 0 25px;
}

.fa {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.spinner input {
  text-align: right;
}

.input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 2%;
  z-index: 10;
  vertical-align: middle;
  display: table-cell;
}

.input-group-btn-vertical>.btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 7px;
  margin-left: 0;
  position: relative;
  border-radius: 0;
}

.input-group-btn-vertical>.btn:first-child {
  border-top-right-radius: 4px;
}

.input-group-btn-vertical>.btn:last-child {
  margin-top: -2px;
  border-bottom-right-radius: 4px;
}

.input-group-btn-vertical i {
  position: absolute;
  top: 0;
  left: 4px;
}

.clr {
  color: #aeafad;
}

img {
  border: 0;
}

#marg {
  margin-bottom: 20px;
}

.btn-group-sm>.btn,.btn-sm {
  padding: 2px 20px;
  font-size: 15px;
  line-height: 1.5;
  margin-left: 10px;
  background-color: #D25E00;
}

.jumbotron {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: inherit;
  height: 200px;
  width: auto;
  background-color: rgba(238,238,238,.08);
}

#indisize,#indisize1 {
  height: 600px;
}

button.btn.active,button.btn:active {
  background: #D25E00;
}

.margtop {
  margin-top: 20px;
}

.input-group .form-control {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
}

#imagediv {
  margin-bottom: 30px;
}

#indisize {
  width: 600px;
  margin-bottom: 17px;
}

#indisize2 {
  height: 496px;
}

.clr {
  margin-left: 2px;
  padding-top: 8px;
}

#btm {
  text-align-last: 100px;
}

#margi {
  margin-bottom: 5px;
  width: 400px;
}

.buttonBox {
  position: absolute;
  bottom: 0;
  left: 7px;
}

.buttonBox img {
  margin-bottom: 0;
}

.spinner {
  width: 55px;
}

.bread-crumbs {
  padding: 30px;
}

.btn-primary.active:hover {
  background-color: #D25E00!important;
  border-color: #fff!important;
}

.btn-primary.active {
  border: 0 #fff!important;
}

.btn-primary.active:focus {
  background-color: #D25E00!important;
  border-color: #fff!important;
  border: 0!important;
}

#breadcrumbs {
  margin-top: 2px;
  margin-bottom: 12px;
}

#breadcrumbs ol {
  display: inline-flex;
  font-size: 12px;
  padding: 0;
}

#breadcrumbs ol li {
  margin-right: 10px;
  font-size: 11px;
  font-weight: 600;
  color: #BAB4AF;
}

#breadcrumbs ol li a {
  text-decoration: none;
  color: #BAB4AF;
}

.show-dropdown {
  display: block;
  height: auto;
}

.cart-headings {
  padding-top: 20px;
  margin-bottom: 10px;
}

.cart-headings p {
  font-size: 9px;
  font-weight: 700;
}

.cart-headings span {
  color: orange;
}

.cart-table {
  line-height: 0;
  width: 65%;
}

.cart-payment {
  font-size: 13px;
  color: gray;
  padding-top: 20px;
  line-height: 6px;
}

.cart-proceed-btn {
  background-color: #D25E00;
  border-radius: 3px;
  color: #fff!important;
  padding-top: 4px;
  padding-bottom: 0;
  border: 0;
  margin-bottom: 20px;
  margin-left: 9%;
}

html {
  background-color: #f3f3f3;
}

.main-content {
  width: auto;
}

.payment-container {
  background-color: #d2d2d2;
  padding-top: 65px;
  padding-bottom: 65px;
}

.form-labels-on-top select,.payment-fields {
  background-color: #fff;
  box-sizing: border-box;
}

.payment-fields {
  max-width: 685px;
  margin: 0 auto 25px;
  padding: 30px 65px;
  text-align: left;
  font-size: 12px;
}

.form-labels-on-top .form-row {
  text-align: left;
  max-width: 100%;
  margin: 20px auto 0;
}

.form-labels-on-top .form-title-row {
  margin: 0 auto 40px;
}

.form-labels-on-top h1 {
  display: inline-block;
  box-sizing: border-box;
  font-size: 20px;
  padding: 0 0 12px;
  margin: 0;
}

.cus-span,.form-labels-on-top .form-row>label span {
  display: block;
  box-sizing: border-box;
  color: #5f5f5f;
  width: 100%;
  padding: 0 0 10px;
}

.form-labels-on-top input {
  color: #000;
  box-sizing: border-box;
  width: 100%;
  padding: 7px 18px;
  border: 1px solid #000;
  border-radius: 3px;
}

.form-labels-on-top input[type=checkbox],.form-labels-on-top input[type=radio] {
  box-shadow: none;
  width: auto;
  height: 10px;
  margin-right: 5px;
}

.form-labels-on-top select {
  color: #000;
  width: 100%;
  padding: 6px 18px;
  border: 1px solid #fff;
}

.form-labels-on-top .form-radio-buttons>div {
  margin-bottom: 10px;
}

.form-labels-on-top .form-radio-buttons label span {
  margin-left: 8px;
  color: #5f5f5f;
  font-weight: 400;
}

.form-labels-on-top .form-radio-buttons input {
  width: auto;
}

.form-labels-on-top button {
  border-radius: 2px;
  background-color: #D25E00;
  color: #E4DCDC;
  font-size: 12px;
  font-weight: 700;
  box-shadow: 1px 2px 4px 0 rgba(0,0,0,.08);
  padding: 7px 22px;
  border: 0;
  width: 100%;
  margin-top: 15px;
}

.payment-btn {
  max-width: 685px;
  margin: 0 auto 25px;
  text-align: center;
  font-size: 12px;
  background-color: transparent;
}

.security-field {
  width: 60%!important;
  margin-left: 20px;
  border-radius: 2px!important;
}

.payment-checkbox {
  font-size: 11px;
  margin-bottom: 60px;
}

.form-row label {
  width: 100%;
}

.gift-card {
  padding: 20px!important;
}

.suit-field {
  margin-left: 5px;
}

.shipping-fields {
  width: 99%!important;
}

@media (max-width:500px) {
  .form-labels-on-top h1 {
    font-size: 12px;
    font-weight: 700;
  }

  .shipping-fields span {
    font-size: 8px;
  }

  .security-field span {
    font-size: 9px;
  }

  .payment-checkbox {
    font-size: 10px;
    line-height: 15px;
  }

  .cus-span {
    font-size: 10px;
  }

  .proceed-checkout-btn {
    font-size: 12px;
  }

  .cart-elements,.ind-pro-thumbnail {
    padding-left: 10px!important;
  }
}

.menu-slider {
  display: block;
  overflow: hidden;
  height: auto;
  border: none;
  box-shadow: none;
}

#upload-form input,.sorting select,option {
  -moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,.05) inset;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.05) inset;
}

.pagination>.active>a {
  background-color: #D25E00!important;
  border-color: #D25E00!important;
  color: #fff!important;
}

.pagination>li>a {
  color: #D25E00!important;
}

.nav>li>a {
  padding: 10px 0 0;
}

.individual-desc {
  font-size: 16px;
  margin-top: 3px;
  margin-bottom: 10px;
  line-height: 17px;
}

.field-icon {
  background-image: url(../images/lock-icon_03.jpg);
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 5px;
}

.image-button {
  margin-top: -27px;
}

.show-image:hover input {
  display: inline;
}

.show-image input:hover {
  color: #000;
}

.show-image:hover .image-button {
  background-color: rgba(210,94,0,.44);
}

.show-image input {
  display: none;
}

.image-button input {
  background: 0 0;
  color: #fff;
  border: none;
  font-size: 15px;
  font-weight: 700;
  padding-top: 10px;
  padding-bottom: 8px;
}

.cart-items-label {
  background-color: #D25E00;
  color: #fff;
  padding: 3px 4px 2px;
  border-radius: 15px;
}

.upload-container {
  margin: 10px;
  width: 166px;
  height: 200px;
  padding: 0;
  background-color: #f0f8ff;
  border: 1px solid rgba(128,128,128,.49);
}

.upload-container input {
  height: 177px!important;
  border: 0!important;
}

.upload-container input:focus {
  outline: 0;
}

.upload-container input:hover {
  border: 1px solid #000;
}

.upload-container-img {
  margin-bottom: 8px;
  height: 166px;
  border-bottom: 1px solid rgba(128,128,128,.49);
}

.upload-img-icons td {
  padding-left: 25px!important;
}

.upload-container-img img {
  width: 100%;
  padding: 5px;
}

.custom-file-input {
  color: transparent;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.custom-file-input::before {
  content: 'Add Photo';
  color: rgba(51,122,183,.63);
  display: inline-block;
  width: 166px;
  height: 177px;
  padding-top: 95px;
  padding-left: 45px;
  outline: 0;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 10pt;
}

.custom-file-input:hover {
  border-color: #000;
}

@media (max-width:500px) {
  .form-labels-on-top h1 {
    font-size: 12px;
    font-weight: 700;
  }

  .shipping-fields span {
    font-size: 8px;
  }

  .security-field span {
    font-size: 9px;
  }

  .payment-checkbox {
    font-size: 10px;
    line-height: 15px;
  }

  .cus-span {
    font-size: 10px;
  }

  .image-button input {
    font-size: 10px;
    padding-left: 4px;
    padding-right: 4px;
    margin: 0;
    bottom: 0;
  }
}

.product-title {
  font-size: 14px;
}

.designerpage-image {
  padding-left: 18px;
}

.upload-btn {
  padding: 5px 10px;
  margin: 50px 10px 10px 0;
}

.adjust-btn {
  background-color: #D25E00;
  color: #fff;
  padding: 5px 10px;
  margin: 10px;
}

#upload-form input,.select-custom,option {
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  color: #222;
  font-family: inherit;
  outline: 0;
  padding: 9px 12px;
  font-size: 14px;
}

#upload-form input,option {
  box-shadow: 0 1px 2px rgba(0,0,0,.05) 0 inset;
  -webkit-transition: opacity .3s ease-out;
  -moz-transition: opacity .3s ease-out;
  -o-transition: opacity .3s ease-out;
  -ms-transition: opacity .3s ease-out;
  transition: opacity .3s ease-out;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border-color: #E1E3DF;
  border-color: rgba(0,0,0,.15);
  border-top-color: rgba(0,0,0,.2);
  background-color: #fff;
  display: block;
  height: 30px;
}

.select-custom {
  -moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
  -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
  background-color: #FFF;
  border-color: #E1E3DF;
  border-color: rgba(0,0,0,.15);
  border-bottom-color: rgba(0,0,0,.2);
  text-indent: .01px;
  height: 38px;
  width: 50%;
}

#upload-form label {
  font-size: 14px;
  line-height: 15px;
}

#upload-form td {
  padding: 15px;
}

.crop-btns {
  padding: 5px;
}

.upload-form-col {
  width: 100%;
}

.show {
  display: inline;
}

.sorting select,select {
  border-radius: 3px;
  border-style: solid;
  color: #222;
  background-color: #fff;
  display: block;
  font-family: inherit;
  font-size: 14px;
  -webkit-transition: opacity .3s ease-out;
  -moz-transition: opacity .3s ease-out;
  -o-transition: opacity .3s ease-out;
  -ms-transition: opacity .3s ease-out;
  outline: 0;
}

.sorting select {
  box-shadow: 0 1px 2px rgba(0,0,0,.05) 0 inset;
  border-color: #E1E3DF;
  border-color: rgba(0,0,0,.15);
  height: 30px;
  line-height: 10px;
  padding: 4px 7px 4px 5px;
}

select {
  -moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,.05) inset;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.05) inset;
  box-shadow: 0 1px 2px rgba(0,0,0,.05) 0 inset;
  border-color: #E1E3DF;
  border-color: rgba(0,0,0,.15);
  height: 38px;
  line-height: 17px;
  padding: 9px 12px;
}

#formLogin input {
  padding: 3px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.quantity-wrapper {
  margin-top: 156px;
}

.size-dropdown {
  border-radius: 0;
  border: 2px solid #000;
  font-weight: 600;
  width: 254%;
}

.quantity-dropdown {
  border-radius: 0;
  border: 2px solid #000;
  font-weight: 600;
}

.size-dropdown option {
  font-weight: 600;
}

.customise-sec label {
  padding: 1px;
  margin: 10px;
  font-weight: 600;
  color: gray!important;
  cursor: pointer;
}

.itemdetail-border {
  border-bottom: 2px solid #D25E00;
}

.customization-border,.shipping-border {
  border-bottom: none;
}

.fa-caret-down,.fa-caret-up {
  color: #000;
}

.cus-caret {
  width: auto!important;
  height: auto!important;
  background-color: transparent;
  box-shadow: none;
}

.individual-bag-btn {
  width: 61.5%;
  height: 25px;
  color: #E86903;
  margin: 10px;
}

.cart-title {
  font-size: 17px;
  color: orange;
  line-height: 15px;
}

.cart-products {
  padding-bottom: 0;
  margin-bottom: 10px;
}

.cart-details {
  font-size: 14px;
  padding: 5px;
}

.quantity-dropdown input[type=number].mod::inner-spin-button {
  background-color: transparent;
  color: #000;
  font-size: 14px;
}

.dropdown-toggle ul {
  display: none;
}

.dropdown-toggle:hover ul {
  display: block;
}

.keep-shopping-btn {
  width: 100%;
  height: 25px;
  color: #E86903;
  margin-left: 3px;
}

.proceed-checkout-btn {
  width: 100%;
  height: 25px;
  color: #E86903;
  margin: 20px 20px 20px 0;
}

.cart-elements {
  padding-left: 15px;
}

.home-filter {
  font-size: 14px;
  padding: 7px;
}

.homepage-filter {
  border: 1px solid #000;
  border-bottom: 3px solid #fff;
}

.price-filter {
  display: none;
  width: 100%;
  height: 70px;
  margin-top: -15px;
  margin-bottom: 5px;
}

.acc-nav {
  font-size: 10px;
}

.cart-label {
  padding: 7px 10px 3px;
  text-align: right;
  color: #fff;
  width: 68px;
  font-family: Quicksand;
}

.cart-label:hover {
  cursor: pointer;
  border-bottom: 0!important;
  border: 1px solid rgba(0,0,0,.15);
  background-color: #fff;
  color: #000;
}

.cart-block {
  margin-left: -33em;
  margin-top: -1px;
}

.cart-label .cart-block {
  display: none;
}

.cart-label:hover .cart-block {
  display: block;
}

#acc-dropdown {
  width: 364px!important;
  padding: 15px 5px 5px;
}

.footer-list li {
  padding: 5px;
  font-size: 12px;
  margin-top: 2px;
}

.home-slider-shop-btn a {
  color: #fff;
}

@media (min-width:200px) and (max-width:500px) {
  .home-menu ul>li>a {
    color: #000!important;
  }

  .cart-elements {
    padding-left: 10px!important;
  }

  .social {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 15px;
    bottom: 0;
  }

  .btn,.btn-group {
    width: 92%;
  }

  .formstyle {
    display: inline-flex;
  }

  #control-nav,.signin-label {
    display: none;
  }

  #dropdown-menubar,#men-dropdown-menu,#menu-account {
    display: block;
    border: 0;
    box-shadow: none;
    width: 100%;
  }

  #menu-account {
    margin-right: 140px;
    background-color: #f5f5f5;
    border-top: 1px solid rgba(119,119,119,.46);
    border-bottom: 1px solid rgba(119,119,119,.46);
    color: #000;
  }

  #menu-display {
    display: inline!important;
  }

  #women-dropdown-menu {
    display: inline;
    border: 0;
    box-shadow: none;
    width: 100%;
  }

  .cart-label {
    margin-top: 25px;
    padding: 2px!important;
    font-family: Quicksand;
  }

  .cart-block {
    margin-top: -2px!important;
    margin-left: -34.8em!important;
  }

  .carousel-content {
    bottom: 0;
    top: 73%;
    color: #000;
    font-size: 15px;
  }

  .responsive-carousel-btn {
    top: 86%;
  }

  .home-slider-shop-btn {
    padding: 5px!important;
    width: 33%!important;
    margin-top: 26px!important;
  }

  .home-slider-shop-btn a,.home-slider-shop-btn-three a,.home-slider-shop-btn-two a {
    color: #000!important;
    font-weight: 400;
    font-size: 14px;
  }

  .home-slider-shop-btn-three {
    border: 1px solid #000;
    padding: 5px!important;
    width: 33%!important;
    margin-top: 50px;
  }

  .carousel-content h1 {
    font-size: 14px!important;
  }

  .carousel .item {
    background-color: #fff;
  }

  .custom-padding-top {
    padding-top: 0!important;
    max-height: 290px!important;
  }

  .shop-img {
    width: 98%!important;
  }

  .shop-desc {
    margin-top: 5px;
    padding: 15px;
  }

  #indisize {
    height: 300px!important;
  }

  .ind-pro-thumbnail {
    padding-left: 10px!important;
  }

  .acc-menu {
    padding: 12px 10px!important;
    border: 1px solid rgba(160,155,155,.48);
    border-left: none;
    border-right: none;
    background-color: rgba(238,238,238,.6)!important;
  }

  .home-slider-shop-btn-two {
    border: 1px solid #000;
    padding: 5px;
    font-family: Helvetica,Arial,sans-serif;
    width: 33%!important;
    margin-top: 40px!important;
  }

  .third-slider-desc {
    margin-top: 16px;
  }

  .cart-label {
    color: #000;
  }

  .home-menu .cart-label a {
    color: #000!important;
  }

  #carousel-01 {
    height: 300px;
  }

  .carousel-inner {
    height: 340px;
  }

  .controlsBlock {
    margin-top: -140px!important;
  }
}

@media (min-width:400px) {
  .cart-elements {
    padding-left: 15px!important;
  }
}

@media (max-width:300px) {
  .home-menu ul>li>a {
    color: #000!important;
  }

  .image-button input {
    font-size: 8px;
  }

  .keep-shopping-btn,.proceed-checkout-btn {
    font-size: 13px;
  }

  .cart-elements {
    padding-left: 0;
  }

  .ind-pro-thumbnail {
    padding-left: 0!important;
  }

  .cropArea {
    overflow: hidden;
  }

  .carousel-content {
    bottom: 0;
    top: 75%;
    background-color: #fff;
    color: #000;
    font-size: 15px;
  }
}

.home-slider-shop-btn {
  border: 1px solid #000;
  padding: 10px;
  font-family: Helvetica,Arial,sans-serif;
  width: 9%;
  margin-top: 10px;
}

@media (max-width:768px) {
  .carousel .item,.carousel-content {
    background-color: #fff;
  }

  .btn,.btn-group {
    width: 100%;
  }

  .cart-block {
    margin-left: -34.8em!important;
  }

  .footer-list li {
    font-size: 12px;
  }

  .home-slider-shop-btn {
    border: 1px solid #000;
    padding: 5px;
    font-family: Helvetica,Arial,sans-serif;
    width: 33%!important;
    margin-top: 5px;
  }

  .home-menu ul>li>a {
    color: #000!important;
  }

  .social {
    list-style: none;
    margin: 0;
    padding: 0;
    display: table-row-group;
    line-height: 15px;
    bottom: 0;
  }

  #control-nav,.signin-label {
    display: none;
  }

  #dropdown-menubar,#men-dropdown-menu,#menu-account,#women-dropdown-menu {
    display: block;
    border: 0;
    box-shadow: none;
    width: 100%;
  }

  #menu-account {
    margin-right: 140px;
    color: #000;
  }

  #menu-display {
    display: inline!important;
  }

  .carousel-content {
    bottom: 0;
    top: 75%;
    color: #000;
    font-size: 15px;
  }

  #indisize {
    height: 300px!important;
  }

  .ind-pro-thumbnail {
    padding-left: 10px!important;
  }

  .acc-menu {
    padding: 12px 10px!important;
    border: 1px solid rgba(160,155,155,.48);
    border-left: none;
    border-right: none;
    background-color: rgba(238,238,238,.6)!important;
  }

  .home-slider-shop-btn-two {
    border: 1px solid #000;
    padding: 5px;
    font-family: Helvetica,Arial,sans-serif;
    width: 33%!important;
    margin-top: 40px;
    margin-left: 19px;
  }

  .cart-label {
    color: #000;
  }

  .home-slider-shop-btn-three {
    border: 1px solid #000;
    padding: 5px!important;
    width: 33%!important;
    margin-top: 50px;
  }

  .third-slider-desc {
    margin-top: 14px;
  }

  .carousel-content h1 {
    font-size: 14px!important;
  }

  .home-slider-shop-desc {
    margin-top: 15px;
  }

  .home-menu .cart-label a {
    color: #000!important;
  }
}

.social label {
  font-size: 13px;
  padding-top: 17px;
  padding-right: 5px;
}

.social li {
  padding-left: 10px;
}

.individual-tabs {
  width: 102%;
  height: 300px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-left: 25px;
  background-color: rgba(245,245,245,.45);
  display: none;
}

.order-right-table tr td {
  height: 30px!important;
  font-size: 15px!important;
}

.custom-padding-top {
  padding-top: 84px;
}

.home-slider-shop-btn-three,.home-slider-shop-btn-two {
  border: 1px solid #000;
  padding: 10px;
  font-family: Helvetica,Arial,sans-serif;
  width: 9%;
}

.header-main-nav .signin-label,.home-menu .signin-label,.signin-label {
  font-family: Quicksand!important;
}

.cart-block {
  border-radius: 0;
  z-index: -1;
  overflow-y: scroll;
  max-height: 230px;
}

#acc-dropdown li {
  border-bottom: 1px solid #ddd;
  margin: 10px;
  height: 85px;
}

.form-table-columns {
  width: 20%;
}

.signin-label {
  cursor: pointer;
  margin: 7px 0 0;
  font-size: 10px;
  text-align: right;
}

.carousel-control,.carousel-indicators,.controlsBlock {
  bottom: 0;
  text-align: center;
}

.signin-label a {
  color: #fff!important;
}

.carousel-control,.header-main-nav .signin-label span {
  color: #000!important;
}

.carousel .carousel-control {
  visibility: visible;
}

.carousel-inner>.active,.carousel-inner>.next,.carousel-inner>.prev {
  display: block;
}

.carousel-inner>.active {
  left: 0;
}

.carousel-inner>.next,.carousel-inner>.prev {
  position: absolute;
  top: 0;
  width: 100%;
}

.controls,.controlsBlock {
  position: relative;
  display: block;
}

.carousel-inner>.next {
  left: 100%;
}

.carousel-inner>.prev {
  left: -100%;
}

.carousel-inner>.next.left,.carousel-inner>.prev.right {
  left: 0;
}

.carousel-inner>.active.left {
  left: -100%;
}

.carousel-inner>.active.right {
  left: 100%;
}

.controlsBlock {
  left: 0;
  top: 10px;
  width: 177px;
  margin: 0 auto;
  z-index: 1;
  height: 24px;
}

.carousel-control {
  position: absolute;
  top: 25.5px;
  left: 0;
  font-size: 5px;
  background: 0 0!important;
}

.carousel-control i {
  font-size: 20px;
}

.carousel-control.left {
  left: 0;
}

.carousel-control:focus,.carousel-control:hover {
  color: #000;
}

.carousel-control .glyphicon-chevron-left,.carousel-control .glyphicon-chevron-right {
  position: absolute;
  z-index: 5;
  display: inline-block;
}

.carousel-control .glyphicon-chevron-left {
  left: 0;
}

.carousel-indicators {
  position: relative;
  left: 50%;
  z-index: 15;
  width: 60%;
  top: 10px;
  padding-left: 0;
  margin-left: -30%;
}

.carousel-indicators li {
  display: inline-block;
  zoom: 1;
  width: 10px;
  height: 10px;
  margin: 0 2px;
  background: 0 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 3px solid transparent;
  -webkit-box-shadow: rgba(0,0,0,.5) 0 0 2px;
  -moz-box-shadow: rgba(0,0,0,.5) 0 0 2px;
  box-shadow: rgba(0,0,0,.5) 0 0 2px;
  cursor: pointer;
}

.carousel-indicators .active {
  width: 10px;
  height: 10px;
  margin: 0;
  background-color: #000;
}

.registration-form {
  margin-top: 6%;
  box-shadow: 0 0 26px 11px rgba(128,128,128,.14);
  padding-top: 20px;
}

.shipping-label {
  font-size: 15px;
  font-weight: 400;
}

.shipping-table {
  width: 100%;
}

.shipping-table td {
  padding: 5px;
}

.shipping-sidebar {
  font-size: 17px;
  line-height: 50px;
  margin-top: 40px;
}

.shipping-sidebar ul {
  padding: 0;
}

.shipping-sidebar ul li a {
  color: #000;
  font-size: 14px;
}

.shipping-info-tag {
  margin: 5% 5% 5% 0;
  font-size: 12px;
  font-weight: 400;
}

.shipping-info label {
  width: 100%;
  font-weight: 400;
  line-height: 20px;
}

.shipping-name {
  font-size: 17px;
  padding: 10px 10px 0 0;
  width: 100%;
}

.newship-form label {
  font-size: 13px;
  font-weight: 400;
}

.newship-form input {
  border-radius: 3px;
  -moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,.05) inset;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.05) inset;
  box-shadow: 0 1px 2px rgba(0,0,0,.05) 0 inset;
  -webkit-transition: opacity .3s ease-out;
  -moz-transition: opacity .3s ease-out;
  -o-transition: opacity .3s ease-out;
  -ms-transition: opacity .3s ease-out;
  border-color: #E1E3DF;
  border-color: rgba(0,0,0,.15);
  border-style: solid;
  color: #222;
  background-color: #fff;
  display: block;
  font-family: inherit;
  font-size: 14px;
  height: 38px;
  outline: 0;
  line-height: 17px;
  padding: 9px 12px;
}

.editprofile h1 {
  font-size: 15px;
  padding: 20px 20px 30px 0;
}

.myorders h1 {
  font-size: 30px;
  padding: 10px 10px 10px 0;
}

.myorders label {
  font-size: 12px;
  padding-bottom: 17px;
}

.join-btn {
  width: 76%;
  padding-top: 5px;
  background-color: #000;
  color: #fff;
  font-weight: 400;
  cursor: pointer;
}

.modal-content {
  background: 0 0;
  box-shadow: none;
  border: none;
}

.already-member,.join-gulgs {
  width: 100%!important;
}

.bootstrap-touchspin-up {
  font-size: 15px;
  background-color: #EEE;
  margin-left: 20px!important;
}

.bootstrap-touchspin-down {
  font-size: 15px;
  background-color: #EEE;
  margin-right: 5px!important;
}

.ship-container {
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
}