
.cart-products{
	
	padding-bottom: 0px;
	
   /*background-color: rgba(241, 241, 241, 0.28);;*/
    margin-bottom: 10px;
   
}

.cart-details{
	font-size: 14px;
	padding: 5px;
}

.quantity-dropdown input[type="number"].mod::inner-spin-button{
	background-color: transparent;
	color: black;
	font-size: 14px;
}
.dropdown-toggle ul{
	display: none;
}

.dropdown-toggle:hover ul{
	display: block;
}


.keep-shopping-btn{
	width:100%;
	height: 25px;
	 color:#E86903;
	 margin-left: 3px;
}
.proceed-checkout-btn
{
	width:100%;
	height: 25px; 
	color:#E86903;
	margin: 20px;
	margin-left: 0px;
}
.cart-elements{
	padding-left: 15px;
}

/*End of Cart*/

/*Homepage*/
.home-filter{
	font-size: 14px;
	padding: 7px;
}

.homepage-filter{
	border: 1px solid black;
	border-bottom: 3px solid white;
}


.price-filter{
	display: none; 
	width: 100%; 
	height: 70px; 
	margin-top: -15px;
	margin-bottom: 5px;
}

.acc-nav {
	font-size: 10px;
}

.cart-label{
	
    /*border-radius: 4px;*/
    padding: 10px;
    padding-bottom: 3px;
    text-align:right;
    padding-top: 7px;
    color: white;
    width: 68px;
    font-family: 'Quicksand';
}
.cart-label:hover{
	cursor: pointer;
	border-bottom: 0px !important;
	border: 1px solid rgba(0, 0, 0, 0.15);
	background-color: white;
	color: black;
	}
	
.cart-block{
	 margin-left: -33.0em;
    z-index: -1;
    margin-top:-1px;
}	
.cart-label .cart-block{
	display: none;
}	
.cart-label:hover .cart-block{
	display: block;
}

#acc-dropdown{
	width: 364px !important;
	padding:5px;
	padding-top: 15px;
	
}
/*End of Homepage*/

/*Footer*/
.footer-list li{
	padding: 5px;
	font-size: 12px;
	margin-top: 2px;
	
}
/*End of Footer*/

.home-slider-shop-btn a{
	color: white;
}


@media (min-width: 200px) and (max-width: 500px){

.home-menu ul > li > a{
	color:black !important;
}

.cart-elements{
	
	padding-left: 10px !important;
	
}
.social {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
    /* display: inline-flex; */
    line-height: 15px;
    bottom: 0;
}
.btn,.btn-group {
        width:92%;
    }
    .formstyle{
		display:inline-flex;
	}
#control-nav  {
		display: none;
		}
#menu-account{
			
			margin-right: 140px;
			display: block;
			    border: 0px;
            box-shadow: none;
        	background-color: whitesmoke;
    border-top: 1px solid rgba(119, 119, 119, 0.46);
    border-bottom: 1px solid rgba(119, 119, 119, 0.46);
            width: 100%;
           color:#000000;
			
		}
#menu-display{
			display:inline !important;
		}
#dropdown-menubar{
			display: block;
			    border: 0px;
         box-shadow: none;
        
        width: 100%;
		}
		
		
		
		#men-dropdown-menu{
			display: block;
			    border: 0px;
         box-shadow: none;
        ;
         width: 100%;
		}
		#women-dropdown-menu{
			display: inline;
			    border: 0px;
         box-shadow: none;
       
         width: 100%;
		}
		
		.signin-label{
			display: none;
		}
	
		

.cart-label{
		margin-top: 25px;
		padding: 2px !important;
		font-family: 'Quicksand';
}
	.cart-block{
		margin-top: -2px !important;
		margin-left: -34.8em !important;
	}

.carousel-content{
	bottom: 0px;
	top: 73%;
	color: black;
	font-size: 15px;
}

.responsive-carousel-btn{
	top:86%;
}

.home-slider-shop-btn{
	padding:5px !important;
	width:33% !important;
	margin-top: 26px !important;
}

.home-slider-shop-btn a , .home-slider-shop-btn-two a, .home-slider-shop-btn-three a{
	color: black !important;
	font-weight: 400;
	font-size: 14px;
}

.home-slider-shop-btn-three{
	border: 1px solid black;
	padding: 5px !important;
    width: 33% !important;
    margin-top: 50px;
}

.carousel-content h1 {
    font-size: 14px !important;
}

.carousel .item{
	background-color: white;
}

.custom-padding-top{
	padding-top: 0px !important;
	max-height: 290px !important;
}

.shop-img{
	width: 98% !important;
}

.shop-desc{
	margin-top: 5px;
	padding: 15px;
}
#indisize{
	height: 300px !important;
}

.ind-pro-thumbnail{
	padding-left: 10px !important;	
}
.acc-menu {
	padding: 12px 10px !important;
    border: 1px solid rgba(160, 155, 155, 0.48);
    border-left: none;
    border-right: none;
    background-color: rgba(238, 238, 238, 0.6) !important;
}

.home-slider-shop-btn-two{
	border: 1px solid black;
    padding: 5px;
    font-family: Helvetica,Arial,sans-serif;
    width: 33% !important;
    margin-top: 40px !important;
}

.third-slider-desc{
	margin-top:16px;
}

.cart-label{
	color: black;
}

.home-slider-shop-desc{
	/*margin-top: 15px;*/
}
.home-menu .cart-label a{
	color: black !important;
}
#carousel-01{
	height: 300px;
}
.carousel-inner{
	height: 340px;
}
.controlsBlock{
	margin-top:-140px !important;
}
}

@media (min-width: 400px){
	.cart-elements{
	padding-left: 15px !important;
}

}
@media (max-width: 300px){
	
	.home-menu ul > li > a{
	color:black !important;
}

	.image-button input{
		font-size: 8px;
	}
	.keep-shopping-btn{
		font-size: 13px;
	}
	.proceed-checkout-btn{
		font-size:13px;	
	}
	.cart-elements{
	padding-left: 0px;
}

.cart-elements{
	padding-left: 0px;
}

.ind-pro-thumbnail{
	padding-left: 0px !important;	
}

.cropArea {
	overflow: hidden;
	
}
.carousel-content{
	bottom: 0px;
	top: 75%;
	background-color: white;
	color: black;
	font-size: 15px;
}
}

@media (min-width: 768px){
	
}
.order-right-table tr td{
	height: 30px;
	font-size: 15px;
}
.home-slider-shop-btn{
	border: 1px solid black; 
	padding:10px;
	font-family: Helvetica,Arial,sans-serif;
	width:9%;
	margin-top: 10px;
}	
}


@media (max-width: 768px) {
	.btn,.btn-group {
        width:100%;
    }
    
    .cart-block{
		margin-left: -34.8em !important;
	}
  
    .footer-list li{
	
	font-size: 12px;
	
	
}

.home-slider-shop-btn{
	border: 1px solid black; 
	padding:5px;
	font-family: Helvetica,Arial,sans-serif;
	width:33% !important;
	margin-top: 5px;
}	

.home-menu ul > li > a{
	color:black !important;
}

.social {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
    display: table-row-group;
    line-height: 15px;
    bottom: 0;
}

    
    #control-nav  {
		display: none;
		}
#menu-account{
			
			margin-right: 140px;
			display: block;
			    border: 0px;
            box-shadow: none;
            
            width: 100%;
           color:#000000;
			
		}
#menu-display{
			display:inline !important;
		}
#dropdown-menubar{
			display: block;
			    border: 0px;
         box-shadow: none;
       
        width: 100%;
		}
		
		
		
		#men-dropdown-menu{
			display: block;
			    border: 0px;
         box-shadow: none;
        
         width: 100%;
		}
		#women-dropdown-menu{
			display: block;
			    border: 0px;
         box-shadow: none;
       
         width: 100%;
		}
		.signin-label{
			display: none;
		}
		.carousel-content{
	bottom: 0px;
	top: 75%;
	background-color: white;
	color: black;
	font-size: 15px;
}
.carousel-content h1 {
    font-size: 18px !important;
}

.carousel .item{
	background-color: white;
}

#indisize{
	height: 300px !important;
}
.ind-pro-thumbnail{
	padding-left: 10px !important;	
}

.acc-menu{
	padding: 12px 10px !important;
    border: 1px solid rgba(160, 155, 155, 0.48);
    border-left: none;
    border-right: none;
    background-color: rgba(238, 238, 238, 0.6) !important;
}

.home-slider-shop-btn-two{
	border: 1px solid black;
    padding: 5px;
    font-family: Helvetica,Arial,sans-serif;
    width: 33% !important;
    margin-top: 40px;
    margin-left: 19px;
}

.cart-label{
	color: black;
}

.home-slider-shop-btn-three{
	border: 1px solid black;
	padding: 5px !important;
    width: 33% !important;
    margin-top: 50px;
}

.third-slider-desc{
	margin-top:14px;
}

.carousel-content h1 {
    font-size: 14px !important;
}
.home-slider-shop-desc{
	margin-top: 15px;
}

.home-menu .cart-label a{
	color: black !important;
}
}

.home-slider-shop-desc{
	/*margin-top: 5px;*/
}

.social label{
	font-size: 13px; 
	padding-top: 17px;
	padding-right: 5px;
}
.social li {
    float: left;
    padding-left: 10px;
}

.individual-tabs{
	 width: 102%;
	height: 300px; 
	margin-top: 10px;
	margin-bottom: 20px;
	padding-left: 25px;
	background-color: rgba(245, 245, 245, 0.45);
	display: none;
}

	.order-right-table tr td{
	height: 30px !important;
	font-size: 15px !important;
	
	
}

.custom-padding-top{
	padding-top: 84px;
}
		
	
.home-slider-shop-btn-two, .home-slider-shop-btn-three{
	border: 1px solid black;
	padding:10px ;
	font-family: Helvetica,Arial,sans-serif;
	width:9%;
}

.cart-block{
	    border-radius: 0px;
    z-index: -1;
    overflow-y: scroll;
    max-height: 230px;
}

#acc-dropdown li {
	border-bottom: 1px solid #ddd;
    margin: 10px;
    height: 85px;
}

.form-table-columns{
	width: 20%;
}


.signin-label{
	cursor: pointer;
	margin:0px;
	margin-top:7px;
	font-size: 10px;
	font-family:'Quicksand' !important; 
	text-align: right;
}

.header-main-nav .signin-label{
	font-family:'Quicksand' !important; 
}

.home-menu .signin-label{
	font-family:'Quicksand' !important; 
}

.signin-label a{
	color: white !important;
}

.header-main-nav .signin-label span{
	color: black !important;
}

.carousel .carousel-control { visibility: visible; }

.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  	display: block;
}

.carousel-inner > .active {
  	left: 0;
}

.carousel-inner > .next,
.carousel-inner > .prev {
  	position: absolute;
  	top: 0;
  	width: 100%;
}

.carousel-inner > .next {
  	left: 100%;
}

.carousel-inner > .prev {
  	left: -100%;
}

.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  	left: 0;
}

.carousel-inner > .active.left {
  left: -100%;
}

.carousel-inner > .active.right {
  	left: 100%;
}

.controlsBlock {
   	position: relative;
   	bottom: 0;
   	left: 0;
   	top: 10px;
   	display: block;
   	width: 177px;
   	margin: 0 auto;
   	z-index: 1;
   	height: 24px;
   	text-align: center;
}

.controls {
   	position: relative;
   	display: block;
}

.carousel-control {
  	position: absolute;
  	top: 25.5px;
  	bottom: 0;
  	left: 0;
  	background: #000000;
  	font-size: 5px;
  	background: none !important;
  	color: #000 !important;
  	text-align: center;
}

.carousel-control i {
    	font-size: 20px;
}

.carousel-control.left {
  	left: 0;
}

.carousel-control.right {
  	right: 0;
  	
}

.carousel-control:hover,
.carousel-control:focus {
  	color: #000;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
  	position: absolute;
  	z-index: 5;
  	display: inline-block;
}

.carousel-control .glyphicon-chevron-left {
  	left: 0;
}

.carousel-control .glyphicon-chevron-right {
  	right: 0;
}

.carousel-indicators {
  	position: relative;
  	bottom: 0;
  	left: 50%;
  	z-index: 15;
  	width: 60%;
  	top: 10px;
  	padding-left: 0;
  	margin-left: -30%;
  	text-align: center;
  	list-style: none;
}


.carousel-indicators li {
  	display: inline-block;
   	zoom: 1;
   	width: 10px;
   	height: 10px;
   	margin: 0 2px;
   	background: transparent;
   	-webkit-border-radius: 50%;
   	-moz-border-radius: 50%;
   	border-radius: 50%;
   	border: 3px solid transparent;
   	-webkit-box-shadow: rgba(0,0,0,0.5) 0 0 2px;
   	-moz-box-shadow: rgba(0,0,0,0.5) 0 0 2px;
   	box-shadow: rgba(0,0,0,0.5) 0 0 2px;
   	cursor: pointer;
}

.carousel-indicators .active {
  	width: 10px;
  	height: 10px;
  	margin: 0;
  	background-color: #000000;
}

.registration-form{
	    margin-top: 6%;
    	box-shadow: 0px 0px 26px 11px rgba(128, 128, 128, 0.14);
    	padding-top: 20px;
}

.shipping-label{
	font-size: 15px;
	font-weight: 400;
}

.shipping-table{
	width: 100%;
}

.shipping-table td{
	padding: 5px;
}

.shipping-sidebar{
	font-size: 17px;
	line-height: 50px;
	margin-top: 40px;
}

.shipping-sidebar ul{
	padding:0px;
}

.shipping-sidebar ul li a{
	color: black;
	font-size: 14px;
}

.shipping-info-tag{
	margin: 5%;
	margin-left:0px; 
	font-size: 12px;
	font-weight: 400;
}

.shipping-info label{
	width: 100%;
	font-weight: 400;
	line-height: 20px;
}

.shipping-name {
	font-size: 17px;
	padding: 10px;
	padding-left: 0px;
	padding-bottom:0px; 
	width:100%;
}

.newship-form label{
	font-size:13px;
	font-weight: 400;
}

.newship-form input{
	border-radius: 3px;
    -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05) inset;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05) inset;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05) 0 inset;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    -ms-transition: opacity 0.3s ease-out;
 	border-color: #E1E3DF;
    border-color: rgba(0, 0, 0, 0.15);
    border-style: solid;
    color: #222;
    background-color: white;
    display: block;
    font-family: inherit;
    font-size: 14px;
    height: 38px;
    outline: none;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 12px;
    line-height: 17px;
    padding-right: 12px;
}

.editprofile h1{
	    font-size: 15px;
    padding: 20px;
    padding-left: 0px;
    padding-bottom: 30px;
}

.myorders h1{
	    font-size: 30px;
    padding: 10px;
    padding-left: 0px;
}

.myorders label{
	font-size:12px;
	padding-bottom: 17px;
}

.join-btn{
	width: 80%;
    padding-top: 5px;
    background-color: black;
    color: white;
    font-weight: 400;
    cursor: pointer;
}

.modal-content{
    background: transparent;
    box-shadow: none;
    border: none;	
}

.join-gulgs, .already-member{
	width: 75% !important;
}