@font-face {
	font-family: 'helveticaneue-bold';
	src: url('../fonts/helveticaneue-bold-webfont.eot');
	src: url('../fonts/helveticaneue-bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/helveticaneue-bold-webfont.woff') format('woff'),
	url('../fonts/helveticaneue-bold-webfont.ttf') format('truetype'),
	url('../fonts/helveticaneue-bold-webfont.svg#helvetica_neueregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'corbel-regular';
	src: url('../fonts/corbel-webfont.eot');
	src: url('../fonts/corbel-webfont.eot#iefix') format('embedded-opentype'),
	url('../fonts/corbel-webfont.woff') format('woff'),
	url('../fonts/corbel-webfont.ttf') format('truetype'),
	url('../fonts/corbel-webfont.svg#CorbelRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
body{
	font: 9px/9px  Helvetica,Arial,sans-serif;
	color: #050505;
	min-width: 300px;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: none;
	cursor: pointer;
	transition: all .3s;
	-webkit-transition: all .3s;
}
input[type="search"] { 
	-webkit-appearance: textfield;}
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner {
	border: none;
	padding: 0;
}
a{
	transition: all .3s;
	-webkit-transition: all .3s;
	background-color: transparent !important;
	color: #D25E00;
}
a:focus,
button:focus,
input:focus,
textarea:focus,
select:focus{
	outline: none;}
.wrapper {
	position: relative;
	overflow: hidden;
	padding-top: 100px;
}
h2 {
	font: bold 22px/26px Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	letter-spacing: -1px;
	margin: 0 0 20px;
	color: #d25e00;
}
h2 span { 
	color: #000;}
.btn {
	padding: 1px 10px 0;
	border: 0;
	border-radius: 0;
	font: 13px/17px sans-serif,'helveticaneue-bold';
	letter-spacing: 1px;
	/*-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.38);
	box-shadow: 0 1px 3px rgba(0,0,0,.38);*/
}
.btn-primary {
	color: gray;
	background-color: #eee !important;
	background: url(data:image/svg+xml;
	base64,
	PD94bWwgdmVyc2lvbj0iMS4wIiA/
	Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+
	CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UxZTFlMSIgc3RvcC1vcGFjaXR5PSIxIi8+
	CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkMGQwZDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+
	CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	/*background: -moz-linear-gradient(to bottom, rgba(225, 225, 225, 0.37) 0%,rgba(153, 153, 153, 0.52) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e1e1e1), color-stop(100%,#d0d0d0));
	background: -webkit-linear-gradient(to bottom, rgba(225, 225, 225, 0.37) 0%,rgba(153, 153, 153, 0.52) 100%);
	background: -o-linear-gradient(to bottom, rgba(225, 225, 225, 0.37) 0%,rgba(153, 153, 153, 0.52) 100%);
	background: -ms-linear-gradient(to bottom, rgba(225, 225, 225, 0.37) 0%,rgba(153, 153, 153, 0.52) 100%);
	background: linear-gradient(to bottom, rgba(225, 225, 225, 0.37) 0%,rgba(153, 153, 153, 0.52) 100%);;*/
	
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
	color: #e86903;
	opacity: .8;
	outline: none;
	background: #e1e1e1;
	background: url(data:image/svg+xml;
	base64,
	PD94bWwgdmVyc2lvbj0iMS4wIiA/
	Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+
	CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UxZTFlMSIgc3RvcC1vcGFjaXR5PSIxIi8+
	CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkMGQwZDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+
	CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #e1e1e1 0%, #d0d0d0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e1e1e1), color-stop(100%,#d0d0d0));
	background: -webkit-linear-gradient(top,  #e1e1e1 0%,#d0d0d0 100%);
	background: -o-linear-gradient(top,  #e1e1e1 0%,#d0d0d0 100%);
	background: -ms-linear-gradient(top,  #e1e1e1 0%,#d0d0d0 100%);
	background: linear-gradient(to bottom,  #e1e1e1 0%,#d0d0d0 100%);
}
/* navbar */
.navbar {
	position: absolute;
	left: 0;
	right: 0;
	top: 24px;
	margin: 0;
	padding-top: 15px;
	border: 0;
	background: #fff;
	z-index: 100;
}
.navbar.scroll {
	position: fixed;
	top: 0;
}
.navbar .container { 
	position: relative;}
.navbar .navbar-brand {
	float: none;
	display: block;
	text-indent: -9999px;
	overflow: hidden;
	background: url(../images/logo.png) no-repeat;
	width: 155px;
	height: 67px;
	padding: 0;
}
.navbar > .container .navbar-brand { 
	margin: 0 auto 15px;}
.navbar .navbar-brand a {
	display: block;
	height: 100%;
}
.navbar .cart {
	position: absolute;
	right: 72px;
	top: -3px;
}
.navbar .cart img { 
	vertical-align: top;}
/* main-nav */
.main-nav > ul {
	list-style: none;
	margin: 0 -38px;
	padding: 0;
	font-size: 0;
	line-height: 0;
	text-align: center;
	/*text-transform: uppercase;*/
}
.main-nav > ul > li {
	display: inline-block;
	vertical-align: top;
	position: relative;
	margin: 0 38px;
	font: 22px/26px Arial, Helvetica, sans-serif !important;
}
.main-nav > ul > li:hover > ul { 
	display: block;}
.main-nav > ul > li > a {
	display: block;
	border-bottom: 2px solid transparent;
	color: #010101;
	/*font: 22px/26px Arial, Helvetica, sans-serif !important;
	padding: 5px;*/
}
.main-nav > ul > li > a:hover,
.main-nav > ul > .active > a,
.main-nav > ul > li:hover > a {
	text-decoration: none;
	border-bottom-color: #d25e00;
	background-color: #ffffff;
}
.main-nav > ul > li > a:focus { 
	text-decoration: none;}
.main-nav > ul > li > ul {
	display: none;
	position: absolute;
	left: 0;
	/*top: 150px;*/
	/*width:219px;*/
	list-style: none;
	margin: 0;
	padding: 4px 0 32px;
	font-size: 17px;
	line-height: 21px;
	text-align: left;
	text-transform: none;
	background: #fdfdfd;
}
.main-nav > ul > li > ul:before {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 100%;
	height: 9px;
	content: "";
}
.main-nav > ul > li > ul a {
	display: block;
	padding: 12px 10px 0;
	color: #c3c1c1;
	font-size: 15px;
}
.main-nav > ul > li > ul ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.main-nav > ul > li > ul ul a { 
	padding-left: 56px;}
.main-nav .opener { 
	display: none;}
/* carousel */
.carousel { 
	margin: 0 0 20px;}
.carousel .item {
	min-height: 399px;
	background-position: 50% 50%;
	background-size: cover;
	background-color: #6a6a6c;
}


.carousel-nav {
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	max-width: 867px;
	width: 100%;
	margin: auto;
}
.carousel .carousel-control {
	left: 10px;
	width: 41px;
	height: 40px;
	margin-top: -20px;
	border-radius: 50%;
	opacity: 1;
	z-index: 10;
	-webkit-box-shadow: 0 0 46px rgba(0,0,0,.47);
	box-shadow: 0 0 46px rgba(0,0,0,.47);
	background: #e86903;
	background: url(data:image/svg+xml;
	base64,
	PD94bWwgdmVyc2lvbj0iMS4wIiA/
	Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+
	CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U4NjkwMyIgc3RvcC1vcGFjaXR5PSIxIi8+
	CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2U5NmEwMyIgc3RvcC1vcGFjaXR5PSIxIi8+
	CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2NiNWMwMyIgc3RvcC1vcGFjaXR5PSIxIi8+
	CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjZDVkMDMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+
	CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #e86903 0%, #e96a03 50%, #cb5c03 50%, #cd5d03 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e86903), color-stop(50%,#e96a03), color-stop(50%,#cb5c03), color-stop(100%,#cd5d03));
	background: -webkit-linear-gradient(top,  #e86903 0%,#e96a03 50%,#cb5c03 50%,#cd5d03 100%);
	background: -o-linear-gradient(top,  #e86903 0%,#e96a03 50%,#cb5c03 50%,#cd5d03 100%);
	background: -ms-linear-gradient(top,  #e86903 0%,#e96a03 50%,#cb5c03 50%,#cd5d03 100%);
	background: linear-gradient(to bottom,  #e86903 0%,#e96a03 50%,#cb5c03 50%,#cd5d03 100%);
}
.carousel .carousel-control:hover { 
	opacity: .8;}
.carousel .carousel-control:before {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -9px 0 0 -9px;
	border-top: 9px solid transparent;
	border-bottom: 9px solid transparent;
	border-right: 15px solid #fff;
	content: "";
}
.carousel .carousel-control.right {
	left: auto;
	right: 10px;
}
.carousel .carousel-control.right:before {
	margin: -9px 0 0 -5px;
	border-right-width: 0;
	border-left: 15px solid #fff;
}
.carousel-fade .carousel-inner .item {
	opacity: 0;
	-webkit-transition-property: opacity;
	transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
	opacity: 1;}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
	left: 0;
	opacity: 0;
	z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
	opacity: 1;}
/* info-boxes */
.info-boxes {
	margin-bottom: 30px;
	color: #fff;
}
.info-boxes figure {
	position: relative;
	margin: 0 0 77px;
	background-position: 50% 50%;
	background-size: cover;
}
.info-boxes figure img{
	display: block;
	width: 100%;
	height: auto;
}
.info-boxes figcaption {
	position: absolute;
	left: 0;
	right: 0;
	top: 100%;
	padding: 7px 5px 24px 18px;
	background: rgba(33,32,32,.63);
}
.info-boxes figcaption p { 
	margin: 0;}
.info-boxes figcaption strong { 
	font-style: italic;}
.info-boxes figcaption small {
	font-size: 8px;
	line-height: 9px;
	font-style: italic;
}
.info-boxes .btn {
	position: absolute;
	right: 11px;
	bottom: 6px;
}
/* footer */
#footer {
	margin-top: 130px;	
	padding: 8px;
	border-top: 1px solid #ddd;
}
#footer .container-fluid { 
	max-width: 805px;}
#footer h4 {
	font: bold 14px/18px Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	margin: 0 0 5px;
}
#footer .list {
	list-style: none;
	margin: 0;
	padding: 0;
	font-family: 'corbel-regular', sans-serif;
	text-transform: uppercase;
	line-height: 17px;
    font-size: 13px;
}
#footer .list a { 
	color: #050505;}
#footer h5 {
	font: 17px/21px Arial, Helvetica, sans-serif;
	text-align: right;
	margin: -1px 0;
	color: #e86903;
}
/* subscribe */
.subscribe {
	position: relative;
	padding: 4px 139px 0 5px;
}
.subscribe label {
	float: left;
	margin: 0;
	padding: 6px 14px 0 0;
	font: 18px/22px 'corbel-regular', sans-serif;
	letter-spacing: 1px;
}
.subscribe label span {
	font-family: Arial, Helvetica, sans-serif;
	color: #e77010;
}
.subscribe .form-group {
	overflow: hidden;
	margin: 0;
}
.form-control {
	
	padding: 1px 10px;
	border: 0;
	border-radius: 0;
	background: #dfdede;
	color: #050505;
	font: 18px/24px 'corbel-regular', sans-serif;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.form-control:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
}
.subscribe .btn-submit {
	position: absolute;
	right: 34px;
	top: 4px;
	padding: 4px 11px;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	border: 0;
	background: #f6f5f5;
	color: #616161;
	-webkit-box-shadow: inset -5px -5px 5px rgba(0,0,0,.12);
	box-shadow: inset -5px -5px 5px rgba(0,0,0,.12);
}
.subscribe .btn-submit:hover { 
	opacity: .7;}
/* social */
.social {
	float: right;
	list-style: none;
	margin: 0;
	padding: 0;
	display:inline-flex;
	line-height: 15px;
	 bottom: 0;
}
.social li { 
	float: left;}
.social li a:hover { 
	opacity: .7;}
.social li img { 
	vertical-align: top;}
/* media */
/* ibrism CSS */
/* page style */
a, a:focus, a:active, a:hover, object, embed { 
	outline: none; 
	text-decoration: none;}
:-moz-any-link:focus { 
	outline: none;}
input::-moz-focus-inner { 
	border: 0;}
:focus { 
	outline: 0;}
body {  
	background: #fff none repeat scroll 0 0;}	
.brand { 
	padding: 10px 40px !important;}
.navbar { 
	/*border-bottom: 4px solid #888;*/}



/* MEGA MENU STYLE
********************************/ 
.mega-menu {
	padding: 10px 0px ! important;
	width: 540px;
	border-radius: 0;
	margin-top: 0px;
}

.mega-menu li {
	display: inline-block;
	float: left;
	font-size: 17px;
	padding: 3px 0px;
}

.mega-menu li.mega-menu-column {
	margin-right: 20px;
	width: 150px;
}

.mega-menu .nav-header {
	padding: 0 !important;
	margin-bottom: 10px;
	display: inline-block;
	width: 100%;
	border-bottom: 1px solid #ddd;
}
.mega-menu img { 
	padding-bottom: 10px;}







/* Disable Toggle style
********************************/  

/* Dropdown Toggle on style */
.navbar .nav li.dropdown.open > .dropdown-toggle, 
.navbar .nav li.dropdown.active > .dropdown-toggle, 
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
	background: inherit; /* Set to inherit when using mouse hover to open dropdown */
	color: inherit;
}   
/* Toggle off style */
.navbar .nav li.dropdown.open.active > .dropdown-toggle,
.navbar .nav > li.dropdown > a:focus { 
	background: inherit;
	color: inherit;
}
/* Toggle hover */
.navbar .nav li.dropdown > .dropdown-toggle:hover,
.navbar .nav li.dropdown.open > .dropdown-toggle:hover {
	background-color: #ffffff;
}
            
            
/* Toggle caret*/
/*.navbar .nav li.dropdown > .dropdown-toggle .caret {
	border-bottom-color: ;
	border-top-color: ;
}*/
/* Toggle caret hover */
.navbar .nav li.dropdown > a:hover .caret, 
.navbar .nav li.dropdown > a:focus .caret {
	border-bottom-color: #333;
	border-top-color: #333;
}
/* Toggle caret active */
.navbar .nav li.dropdown.open > .dropdown-toggle .caret, 
.navbar .nav li.dropdown.active > .dropdown-toggle .caret, 
.navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
	border-bottom-color: #333;
	border-top-color: #333;
}



/* Hover style
********************************/ 
.navbar .nav > li > a, .mega-menu a
{ 
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease; 
	
	/* -webkit-transform: translate3d(0, 0, 0); Webkit Hardware Acceleration*/ 
	-webkit-backface-visibility: hidden; /* Safari Flicker Fix #2 */
	-webkit-transform: translateZ(0);
	font-size: 14px;  
	font-weight: 500;
}	




/* END IBRISM css */
/* 21 NOV 201 */
.navbar-default{
	color: #fff;
	background-color: #ccc6c6;
	border-color: #aca1a2;
	
}
.navbar-default .navbar-nav > li > a{
	color: #fff;
}
.navbar-default .navbar-nav > .dropdown > a .caret{
	border-top-color: #fff;
	border-bottom-color: #fff;
}
.navbar-default .navbar-brand{
	color: #fff;
}
.menu-large {
	position: static !important;
}
.megamenu{
	padding: 20px 0px;
	width: 100%;

}
.megamenu> li > ul {
	padding: 0;
	margin: 0;
}
.megamenu> li > ul > li {
	list-style: none;
}
.megamenu> li > ul > li > a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 1.428571429;
	color: #c3c1c1;
	white-space: normal;
}
.megamenu> li ul > li > a:hover,
.megamenu> li ul > li > a:focus {
	text-decoration: none;
	color: #262626;
	background-color: #f5f5f5;
}
.megamenu.disabled > a,
.megamenu.disabled > a:hover,
.megamenu.disabled > a:focus {
	color: #999999;
}
.megamenu.disabled > a:hover,
.megamenu.disabled > a:focus {
	text-decoration: none;
	background-color: transparent;
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	cursor: not-allowed;
}
.megamenu.dropdown-header {
	color: #428bca;
	font-size: 18px;
}
@media (max-width: 768px) {
	
	
	.account-navbar li .acc-nav
	{
		margin-top: 90% !important;
	}
	
	.keep-shopping-btn{
		font-size: 12px;
		padding-left: 5px; 
	}
	
	.items-title h1{
		font-size:16px !important;
		margin-left: 5px;
	}
	.megamenu{
		margin-left: 0 ;
		margin-right: 0 ;
	}
	.megamenu> li > a:hover {
		text-decoration: underline !important;
	}
	.megamenu> li:last-child {
		margin-bottom: 0;
	}
	.megamenu.dropdown-header {
		padding: 3px 15px !important;

	}
	.navbar-nav .open .dropdown-menu .dropdown-header{
		color: #fff;
	}
	.navbar-nav.navbar-center:last-child{
		
	}
	.cart-right-table
	{
		padding-left:20px !important;	
	}
	
	.mob-logo{
		margin-top: 5px;
	}
	
	.individual-bag-btn{
	width:61.5%;
	height: 25px !important; 
	color:#E86903;
	margin-left: 12px;
		margin: 10px;
	}
	
	.cart-label{
		margin-top: 19px;
}
}

/* END 21 NOV 201 */
@media screen and (min-width: 768px) {
	.main-nav > ul > li:hover > ul { 
		display: block !important;}
		
	.cart-pro-detail{
		margin: 5px;
	}
	
	.cart-elements{
	padding-left: 15px;
}
	
}
@media screen and (max-width: 767px),
screen and (orientation: landscape) and (max-width: 767px),
screen and (orientation: portrait ) and (max-width: 767px) {
	body { 
		-webkit-text-size-adjust: none;}
	.menu-opened {
		position: relative;
		overflow: hidden;
	}
	.wrapper {
		left: 0;
		padding-top: 92px;
		transition: all .3s;
		-webkit-transition: all .3s;
	}
	/* navbar */
	.navbar {
		position: fixed;
		top: 0;
		right: auto;
		width: 100%;
		padding: 15px 0;
	}
	.menu-opened .navbar { 
		left: -250px;}
	.navbar > .container .navbar-brand { 
		margin: 0 auto;}
	.navbar .navbar-brand {
		width: 120px;
		height: 52px;
		background-size: cover;
	}
	.btn-menu {
		position: absolute;
		right: 9px;
		top: -10px;
		margin-top: 25px;
		width: 29px;
		height: 22px;
		text-indent: -9999px;
		overflow: hidden;
	}
	.btn-menu:before {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 4px;
		background: #000;
		border-radius: 2px;
		content: "";
		-webkit-box-shadow: 0 9px #000, 0 18px #000;
		box-shadow: 0 9px #000, 0 18px #000;
	}
	.navbar .cart {
		right: 9px;
		top: 24px;
	}
	.navbar .cart img { 
		width: 30px;}
	.main-nav {
		position: fixed;
		top: 0;
		bottom: 0;
		right: -250px;
		width: 250px;
		z-index: 100;
		overflow-y: auto;
		transition: all .3s;
		-webkit-transition: all .3s;
	}
	.menu-opened .main-nav { 
		right: 0;}
	.menu-opened .wrapper { 
		left: -250px;}
	.main-nav > ul {
		margin: 0;
		padding: 10px;
		text-align: left !important;
		margin-right: 100px !important;
		width: 100% !important;
	}
	.main-nav > ul > li {
		display: block;
		margin: 0;
		padding: 5px 0;
	}
	.main-nav > ul > li:hover > ul { 
		display: none;}
	.main-nav > ul > li > a { 
		position: relative;
		font: 14px/26px Arial, Helvetica, sans-serif !important;
		padding: 5px;

		}
	.main-nav > ul > li > ul {
		position: static;
		/*width: auto;*/
		padding: 5px 0;
	}
	.main-nav > ul > li > ul ul a { 
		padding-left: 10px;}
	
	.main-nav > ul > li > ul ul a:hover{
		cursor: pointer;
		text-decoration: underline !important;
		
	}
	.main-nav .acc-opener {
		display: block;
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		width: 40px;
		text-indent: -9999px;
		overflow: hidden;
		background: #010101;
		transition: all .3s;
		-webkit-transition: all .3s;
	}
	.main-nav  .acc-opener:before  {
		position: absolute;
		left: 50%;
		top: 50%;
		margin: -7px 0 0 -5px;
		border-top: 7px solid transparent;
		border-bottom: 7px solid transparent;
		border-left: 10px solid #fff;
		content: "";
		transition: all .3s;
		-webkit-transition: all .3s;
		
	}
	.main-nav .active .acc-opener:before {
		-ms-transform: rotate(90deg);
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
	}
	
		
	.main-nav .opener {
		display: block;
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		width: 40px;
		text-indent: -9999px;
		overflow: hidden;
		background: #010101;
		transition: all .3s;
		-webkit-transition: all .3s;
	}
	.main-nav  .opener:before  {
		position: absolute;
		left: 50%;
		top: 50%;
		margin: -7px 0 0 -5px;
		border-top: 7px solid transparent;
		border-bottom: 7px solid transparent;
		border-left: 10px solid #fff;
		content: "";
		transition: all .3s;
		-webkit-transition: all .3s;
		
	}
	.main-nav .active .opener:before {
		-ms-transform: rotate(90deg);
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
	}
	.fader {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		width: 100%;
		background: rgba(0,0,0,.5);
		opacity: 0;
		z-index: -1;
		transition: all .3s;
		-webkit-transition: all .3s;
	}
	.menu-opened .fader {
		opacity: 1;
		z-index: 200;
		left: -250px;
	}
	/* carousel */
	.carousel .item { 
		min-height: 300px;}
	/* info-boxes */
	.info-boxes { 
		padding-bottom: 10px;}
	/* footer */
	.subscribe { 
		padding: 4px 122px 30px 0;}
	.subscribe .btn-submit { 
		right: 0;}
		.ind-pro-thumbnail{
	padding-left: 0px !important;	
}

.clr h3{
	font-size:13px;	
}
	
}
@media screen and (max-width: 479px),
screen and (orientation: landscape) and (max-width: 479px),
screen and (orientation: portrait ) and (max-width: 479px) {
	/* info-boxes */
	.info-boxes div[class*="col-"] {
		float: none;
		width: auto;
	}
	/* footer */
	.subscribe { 
		padding: 0 0 15px;}
	.subscribe label {
		float: none;
		display: block;
		padding: 0 0 10px;
	}
	.subscribe .form-group { 
		padding: 0 0 10px;}
	.subscribe .btn-submit {
		position: static;
		vertical-align: top;
	}
	.navbar-nav.navbar-center:last-child{
		
	}
	.main-nav > ul > li > a {
	font: 22px/26px Arial, Helvetica, sans-serif !important;
	padding: 5px;
}
.proceed-checkout-btn{
		font-size:12px;	
	}
.cart-elements{
	padding-left: 5px;
}

}

#menu-container{
	width: 450px;
	text-align: center;
	margin: auto;
	
}

#width{
	
	height: 1000px;
	background-color: #acb1b5;
}
#wraper{
	
	background-color: #ffffff;
}

#ex3{
	margin-bottom: 20px;
}




.fa {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	color: #D25E00;
	-moz-osx-font-smoothing: grayscale;
}




.spinner input {
	text-align: right;
}

.input-group-btn-vertical {
	position: relative;
	white-space: nowrap;
	width: 2%;
	z-index: 10;
	vertical-align: middle;
	display: table-cell;
}

.input-group-btn-vertical > .btn {
	display: block;
	float: none;
	width: 100%;
	max-width: 100%;
	padding: 7px;
	margin-left: 0px;
	position: relative;
	border-radius: 0;
}

.input-group-btn-vertical > .btn:first-child {
	border-top-right-radius: 4px;
}

.input-group-btn-vertical > .btn:last-child {
	margin-top: -2px;
	border-bottom-right-radius: 4px;
}

.input-group-btn-vertical i {
	position: absolute;
	top: 0;
	left: 4px;
}
.clr{
	
	color: #aeafad;
	
	
}


img {
	border: 0;
}
#marg{
	
	margin-bottom: 20px;
}

.btn-group-sm>.btn, .btn-sm {
	padding: 2px 20px 2px 20px;
	font-size: 15px;
	line-height: 1.5;
	margin-left: 10px;
	background-color: #D25E00;
}
.jumbotron {
	padding-top: 30px;
	padding-bottom: 30px;
	margin-bottom: 30px;
	color: inherit;
	height: 200px;
	width: auto;
	background-color: rgba(238, 238, 238, 0.08);
}

.active{
         
}
button.btn:active,button.btn.active{
	background: #D25E00;
}
 
.margtop{
	margin-top: 20px;
}
 
.input-group .form-control {
	position: relative;
	z-index: 2;
	float: left;
	width: 100%;
	margin-bottom: 0;
}

#imagediv{
	margin-bottom: 30px;
}
#indisize{
	height: 441px;
	width: 472px;
	margin-bottom: 17px;
}
#indisize1{
	height: 441px;
}

.clr{
	margin-left: 2px;
	padding-top: 8px;
}
#btm{
	text-align-last: 100px;
}

		
#margi{
	margin-bottom: 5px;
	width: 400px;
}



.buttonBox {
	position: absolute;
	bottom: 0;
	left: 7px;
    
}
.buttonBox img{
	margin-bottom: 0px;
}

.spinner{
	width: 55px;
}

.bread-crumbs{
	padding: 30px;
}

.btn-primary.active:hover{
	background-color: #D25E00 !important;
	border-color: white !important;
}

.btn-primary.active{
	border: 0 !important;
	border-color: white !important;
}
.btn-primary.active:focus{
	background-color: #D25E00 !important;
	border-color: white !important;
	border: 0 !important;
	
}

/*.glyphicon{
	position: inherit !important;
	line-height: 0 !important;
}*/

#breadcrumbs{
	margin-top: 2px;
	margin-bottom: 12px;
	/*padding-left: 10px;*/
	
}
#breadcrumbs ol{
	display: inline-flex;
	list-style: none;
	font-size: 12px;
	padding: 0px;
    
}

#breadcrumbs ol li{
	margin-right: 10px;
	font-size: 11px;
	font-weight: 600;
	color: #BAB4AF;
}

#breadcrumbs ol li a{
	text-decoration: none;
	color: #BAB4AF;
}
.show-dropdown{
	display: block;
	height: auto;
}

.cart-headings{
	padding-top: 20px;
	margin-bottom: 10px;
}

.cart-headings p{
	font-size: 9px;
	font-weight: bold;
}

.cart-headings span{
	color: orange;
}
.cart-table{
	line-height: 0px;
	width: 65%;
}

.cart-payment{
	font-size: 13px;
	color: gray;
	padding-top: 20px;
	line-height: 6px;
}

.cart-proceed-btn{
	background-color: #D25E00;
	border-radius: 3px;
	color: white !important;
	padding-top: 4px;
	padding-bottom: 0px;
	border: 0px;
	margin-bottom: 20px;
	margin-left: 9%;
}

/*.keep-shopping-btn{
	background-color: #D25E00;
	border-radius: 3px;
	color: white !important;
	padding: 7px;
	font-size: 14px;
	border: 0px;
	
}*/

/*Payment&shipping Form*/
html{
	background-color: #f3f3f3;
}

.main-content{
	width: auto;
}

.payment-container{
	background-color: #d2d2d2;
	padding-top: 65px;
	padding-bottom: 65px;
}
.payment-fields{
	box-sizing: border-box;
	max-width: 685px;
	margin: 0 auto;
	margin-bottom: 25px;
	padding: 30px 65px;
	background-color: #ffffff;
	text-align: left;
	font-size: 12px;
}

.form-labels-on-top .form-row{
	text-align: left;
	max-width: 100%;
	margin: 20px auto 0;
}

.form-labels-on-top .form-title-row{
	margin: 0 auto 40px;
}

.form-labels-on-top h1{
	display: inline-block;
	box-sizing: border-box;
	font-size: 20px;
	padding: 0 0 12px 0;
	margin: 0;
    
}

.cus-span, .form-labels-on-top .form-row > label span{
	display: block;
	box-sizing: border-box;
	color: #5f5f5f;
	width: 100%;
	padding: 0 0 10px;
    
}



.form-labels-on-top input{
	color: black;
	box-sizing: border-box;
	width: 100%;
	padding: 7px 18px;
	border: 1px solid black;
	border-radius: 3px;
}

.form-labels-on-top input[type=radio],
.form-labels-on-top input[type=checkbox]{
	box-shadow: none;
	width: auto;
	height: 10px;
	margin-right: 5px;
}

.form-labels-on-top select{
	background-color: #ffffff;
	color: black;
	box-sizing: border-box;
	width: 100%;
	padding: 6px 18px;
	border: 1px solid white;
    
}

.form-labels-on-top .form-radio-buttons > div{
	margin-bottom: 10px;
}

.form-labels-on-top .form-radio-buttons label span{
	margin-left: 8px;
	color: #5f5f5f;
	font-weight: normal;
}

.form-labels-on-top .form-radio-buttons input{
	width: auto;
}

.form-labels-on-top button{
	border-radius: 2px;
	background-color: #D25E00;
	color: #E4DCDC;
	font-size: 12px;
	font-weight: bold;
	box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
	padding: 7px 22px;
	border: 0;
	width: 100%;
	margin-top: 15px;
}

.payment-btn{
	max-width: 685px;
	margin: 0 auto;
	margin-bottom: 25px;
	text-align: center;
	font-size: 12px;
	background-color: transparent;
}

.security-field{
	width: 60% !important;
	margin-left: 20px;
	border-radius: 2px !important;
}

.payment-checkbox{
	font-size: 11px;
	margin-bottom: 60px;
}
.form-row label{
	width: 100%;
}

.gift-card{
	padding: 20px !important;
}

.suit-field{
	margin-left: 5px;
}

.shipping-fields{
	width: 99% !important;	
}
@media (max-width: 500px){
	.form-labels-on-top h1{
		font-size: 12px;
		font-weight: bold;
	}
 
	.shipping-fields span{
		font-size: 8px;
	}
	
	.security-field span{
		font-size: 9px;
	}
	
	.payment-checkbox{
		font-size: 10px;
		line-height: 15px;
	}
	
	.cus-span{
		font-size: 10px;
	}
	.proceed-checkout-btn{
		font-size:12px;	
	}
	.cart-elements{
	padding-left: 10px !important;
}
.ind-pro-thumbnail{
	padding-left: 0px !important;	
}

}

/*End of Payment&Shipping Form*/


/*Menu-Slider*/
.menu-slider{
	display: block;
	overflow: hidden;
	height: auto;
	border: none;
	box-shadow: none;
}
/*End of Menu Slider*/


/*Pagination*/
.pagination > .active > a{
	background-color: #D25E00 !important;
	border-color: #D25E00 !important;
	color: white !important;
}

.pagination > li > a{
	color: #D25E00 !important;
}

/*End Of Pagination*/
.nav > li > a{
	
	padding: 0px;
	padding-top: 10px;
}

.individual-desc{
	font-size: 16px;
	margin-top: 3px;
	margin-bottom: 10px;
	line-height: 17px;
}

.field-icon{
	background-image: url('../images/lock-icon_03.jpg');
	background-repeat: no-repeat;
	background-position: right;
	padding-right: 5px;
}

.image-button{
	
	margin-top: -27px;
	
}

.show-image:hover input {
	display: inline;
	
	
}

.show-image input:hover{
	color: black;
}
.show-image:hover .image-button{
	background-color: rgba(210, 94, 0, 0.44);
}

.show-image input{
	display: none;
}

.image-button input{
	background: transparent;
	color: white;
	border: none;
	font-size: 15px;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 8px;
}

.cart-items-label{
	background-color: #D25E00;
	color: white;
	padding: 3px 4px 2px 4px;
	border-radius: 15px;
}

/*Upload Image*/

.upload-container{
	margin: 10px;
	width: 166px; 
	height: 177px;
	padding: 0px;
	background-color: aliceblue;
	border: 1px solid rgba(128, 128, 128, 0.49);
}

.upload-container input{
	height: 177px !important;
	border: 0px !important;
	
}
.upload-container input:focus{
	outline: none;
	
}

.upload-container input:hover{
	border: 1px solid black;
}

.upload-container-img{
	margin-bottom: 5px;
	height: 150px; 
	border-bottom: 1px solid rgba(128, 128, 128, 0.49);
}

.upload-img-icons td{
	padding-left: 25px !important;
}

.upload-container-img img{
	width: 100%;
	/*height: 127px; */
	padding: 5px;
}

.custom-file-input {
	color: transparent;
}
.custom-file-input::-webkit-file-upload-button {
	visibility: hidden;
}
.custom-file-input::before {
	content: 'Add Photo';
	color: rgba(51, 122, 183, 0.63);
	display: inline-block;
	/*background-color: #F0FBFD; */
	width: 166px;
	height: 177px;
	padding-top: 85px;
	padding-left: 45px;
	/*border: 1px solid rgba(128, 128, 128, 0.49);*/
	outline: none;
	white-space: nowrap;
	-webkit-user-select: none;
	cursor: pointer;
	font-weight: 700;
	font-size: 10pt;
}
.custom-file-input:hover {
	border-color: black;
}


/*End of Upload Image*/
@media (max-width: 500px){
	.form-labels-on-top h1{
		font-size: 12px;
		font-weight: bold;
	}
 
	.shipping-fields span{
		font-size: 8px;
	}
	
	.security-field span{
		font-size: 9px;
	}
	
	.payment-checkbox{
		font-size: 10px;
		line-height: 15px;
	}
	
	.cus-span{
		font-size: 10px;
	}
	
	.image-button input{
		font-size: 10px;
		padding-left: 4px;
		padding-right: 4px;
		margin: 0px;
		bottom: 0;
	}
	

}

.product-title{
	font-size: 14px;
}

.designerpage-image{
	padding-left: 18px;
}

.upload-btn{
	padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
    margin-top: 50px;
    margin-left: 0;
}

.adjust-btn{
	    background-color: #D25E00;
    color: white;
    padding: 5px 10px;
    margin: 10px;
}

#upload-form input,option{
	    border-radius: 3px;
    -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05) inset;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05) inset;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05) 0 inset;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    -ms-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border-color: #E1E3DF;
    border-color: rgba(0, 0, 0, 0.15);
    border-top-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    color: #222;
    background-color: white;
    display: block;
    font-family: inherit;
    font-size: 14px;
    height: 38px;
    outline: none;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 12px;
    padding-right: 12px;
   
}

.select-custom{
	    border-radius: 3px;
    -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
    background-color: #FFF;
    border-color: #E1E3DF;
    border-color: rgba(0, 0, 0, 0.15);
    border-style: solid;
    border-width: 1px;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    color: #222;
    padding-right: 30px;
    text-indent: 0.01px;
    font-family: inherit;
    font-size: 14px;
    height: 38px;
    outline: none;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 12px;
    padding-right: 12px;
    width: 50%;
}


#upload-form label{
	font-size: 14px;
	line-height:15px;	
}

#upload-form td{
	padding: 15px;
	
}

.crop-btns{
	padding : 5px;
}

.upload-form-col{
	width: 100%;
}

.show{
	display: inline;
}

.sorting select{
	border-radius: 3px;
    -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05) inset;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05) inset;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05) 0 inset;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    -ms-transition: opacity 0.3s ease-out;
 	border-color: #E1E3DF;
    border-color: rgba(0, 0, 0, 0.15);
    border-style: solid;
    color: #222;
    background-color: white;
    display: block;
    font-family: inherit;
    font-size: 14px;
	height: 30px;
    outline: none;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 5px;
    line-height: 10px;
    padding-right: 7px;	
}


select{
	border-radius: 3px;
    -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05) inset;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05) inset;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05) 0 inset;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    -ms-transition: opacity 0.3s ease-out;
 	border-color: #E1E3DF;
    border-color: rgba(0, 0, 0, 0.15);
    border-style: solid;
    color: #222;
    background-color: white;
    display: block;
    font-family: inherit;
    font-size: 14px;
    height: 38px;
    outline: none;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 12px;
    line-height: 17px;
    padding-right: 12px;
}

#formLogin input{
	padding: 3px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}


/*Individual Page*/
.quantity-wrapper{
	margin-top: 156px;
}

.size-dropdown{
	border-radius: 0px;
	border: 2px solid black;
	font-weight: 600;
	width: 254%;
}

.quantity-dropdown{
	border-radius: 0px;
	border: 2px solid black;
	font-weight: 600;
}

.size-dropdown option{
	font-weight: 600;
}

.customise-sec{
	/*border: 2px solid black;*/
}
.customise-sec label{
	padding: 1px;
	margin: 10px;
	font-weight: 600;
	color: gray !important;
	cursor: pointer;
}

.itemdetail-border{
	border-bottom: 2px solid #D25E00;
	
}
.customization-border,.shipping-border{
	border-bottom: none;
}

.fa-caret-up,.fa-caret-down{
	color:black;
}

.cus-caret{
	width: auto !important;
    height: auto !important;
	background-color: transparent;
    box-shadow: none;
}

.individual-bag-btn{
	width:61.5%;
	height: 25px; 
	color:#E86903;
	margin-left: 12px;
	margin: 10px;
}

/*End of Individual Page*/

/*Cart*/
.cart-title{
	font-size: 17px;
	color: orange;
	line-height: 15px;
}

.cart-products{
	
	padding-bottom: 0px;
	
   /*background-color: rgba(241, 241, 241, 0.28);;*/
    margin-bottom: 10px;
   
}

.cart-details{
	font-size: 14px;
	padding: 5px;
}

.quantity-dropdown input[type="number"].mod::inner-spin-button{
	background-color: transparent;
	color: black;
	font-size: 14px;
}
.dropdown-toggle ul{
	display: none;
}

.dropdown-toggle:hover ul{
	display: block;
}


.keep-shopping-btn{
	width:100%;
	height: 25px;
	 color:#E86903;
	 margin-left: 3px;
}
.proceed-checkout-btn
{
	width:100%;
	height: 25px; 
	color:#E86903;
	margin: 20px;
	margin-left: 0px;
}
.cart-elements{
	padding-left: 15px;
}

/*End of Cart*/

/*Homepage*/
.home-filter{
	font-size: 14px;
	padding: 7px;
}

.homepage-filter{
	border: 1px solid black;
	border-bottom: 3px solid white;
}


.price-filter{
	display: none; 
	width: 100%; 
	height: 70px; 
	margin-top: -15px;
	margin-bottom: 5px;
}

.acc-nav {
	font-size: 10px;
}

.cart-label{
	
    /*border-radius: 4px;*/
    padding: 8px;
    border-bottom: 1px solid white !important;
    padding-bottom: 3px;
    text-align:right;
    padding-top: 8px;
    margin-left: 5px;
    width: auto;
   
}
.cart-label:hover{
	cursor: pointer;
	border: 1px solid rgba(0, 0, 0, 0.15);
	}
	
.cart-block{
	 margin-left: -700%;
    z-index: -1;
    margin-top:0px;
}	
.cart-label .cart-block{
	display: none;
}	
.cart-label:hover .cart-block{
	display: block;
}

#acc-dropdown{
	/*width: 345px !important;*/
	
	margin-left: -19.3em !important;
	
	padding:25px;
}
/*End of Homepage*/

/*Footer*/
.footer-list li{
	padding: 10px;
	font-size: 12px;
	margin-top: 10px;
	display: inline-flex;
}
/*End of Footer*/




@media (min-width: 200px) and (max-width: 500px){
.cart-elements{
	padding-left: 10px !important;
	
}
.social {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
    /* display: inline-flex; */
    line-height: 15px;
    bottom: 0;
}
.btn,.btn-group {
        width:100%;
    }
    .formstyle{
		display:inline-flex;
	}
#control-nav  {
		display: none;
		}
#menu-account{
			
			margin-right: 140px;
			display: block;
			    border: 0px;
            box-shadow: none;
            
            width: 100%;
           color:#000000;
			
		}
#menu-display{
			display:inline !important;
		}
#dropdown-menubar{
			display: block;
			    border: 0px;
         box-shadow: none;
        
        width: 100%;
		}
		
		
		
		#men-dropdown-menu{
			display: block;
			    border: 0px;
         box-shadow: none;
        ;
         width: 100%;
		}
		#women-dropdown-menu{
			display: block;
			    border: 0px;
         box-shadow: none;
       
         width: 100%;
		}
		
		.signin-label{
			display: none;
		}
	
		

.cart-label{
	margin-left: -10px;
}

}

@media (min-width: 400px){
	.cart-elements{
	padding-left: 15px !important;
}


}
@media (max-width: 300px){
	
	
	.image-button input{
		font-size: 8px;
	}
	.keep-shopping-btn{
		font-size: 13px;
	}
	.proceed-checkout-btn{
		font-size:13px;	
	}
	.cart-elements{
	padding-left: 0px;
}

.cart-elements{
	padding-left: 0px;
}

.ind-pro-thumbnail{
	padding-left: 0px !important;	
}

.cropArea {
	overflow: hidden;
	
}



@media (min-width: 768px){
	
}
.order-right-table tr td{
	height: 30px;
	font-size: 15px;
	
	
}

}


@media (max-width: 768px) {
	.btn,.btn-group {
        width:100%;
    }
    
  
    .footer-list li{
	padding: 5px;
	font-size: 12px;
	margin-top: 10px;
 display: inline;
	
}

.social {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
    display: table-row-group;
    line-height: 15px;
    bottom: 0;
}

    
    #control-nav  {
		display: none;
		}
#menu-account{
			
			margin-right: 140px;
			display: block;
			    border: 0px;
            box-shadow: none;
            
            width: 100%;
           color:#000000;
			
		}
#menu-display{
			display:inline !important;
		}
#dropdown-menubar{
			display: block;
			    border: 0px;
         box-shadow: none;
       
        width: 100%;
		}
		
		
		
		#men-dropdown-menu{
			display: block;
			    border: 0px;
         box-shadow: none;
        
         width: 100%;
		}
		#women-dropdown-menu{
			display: block;
			    border: 0px;
         box-shadow: none;
       
         width: 100%;
		}
		.signin-label{
			display: none;
		}
}

.social label{
	font-size: 13px; 
	padding-top: 17px;
	padding-right: 5px;
}

.individual-tabs{
	 width: 102%;
	height: 300px; 
	margin-top: 10px;
	padding-left: 25px;
	background-color: rgba(245, 245, 245, 0.45);
	display: none;
}

	.order-right-table tr td{
	height: 30px !important;
	font-size: 15px !important;
	
	
}

	
		
	




