<head>
	<style>
		.cropArea canvas{
			margin: 0px !important;
			
		}
	</style>
</head>


<div ng-controller="imgViewCtrl" >
	<div ng-model="enableCrop" ng-init="enableCrop=true"  class="cropArea">
		<img-crop image="imageDataURI=Lightbox.imageUrl" result-image="resImageDataURI" change-on-fly="true" area-type="square"></img-crop>
	</div>

	<hr>
	
	<div style="text-align:center">
		<button type="button" class="btn btn-default" ng-click="$dismiss()">Cancel</button>
		<button type="button"  class="btn btn-success" ng-click="closeLight()">SAVE</button><br><br>
		<!--<h3>Result</h3>
		<div>
			<img ng-src="{{resImageDataURI}}" />
		</div>-->
    
	</div>
</div>




