<div class="container" ng-controller="uploadCtrl">
	<div class="row">
		<div class="col-lg-2 col-md-3 col-xs-5 thumb" ng-repeat="file in allFiles">
			<div class="thumbnail" href="#" style="margin-bottom: 10px;" >
				<img class="img-responsive" ngf-src="file.url">
			</div>
			<span class="progress" ng-show="file.progress >= 0">
				<div style="width:{{file.progress}}%" 
            ng-bind="file.progress + '%'"></div>
			</span>
			<span ng-show="this.file.result">Upload Successful</span>
			<span class="err" ng-show="errorMsg">{{errorMsg}}</span>
			<div class="thumb-icons" ng-controller="AppCtrl">
				<table>
					<tr>
						<td><a ng-click="openLightboxModal(this.file)" ><img class="img-responsive" src="images/Zoom_in.png" alt=""></a></td>
						<td><button type="button"><img class="img-responsive" src="images/Edit-icon.png" alt=""></button></td>
						<td><button type="button"><img class="img-responsive" src="images/cross-512.png" alt=""></button></td>
					</tr>
				</table>
			</div>
		</div>
		<div class="col-lg-2 col-md-3 col-xs-5 thumb" ng-repeat="a in getNumber(5) track by $index">
			<input type="file" ng-model="files" ngf-select="addImages(this.files)" multiple />
				<span class="progress" ng-show="files.progress >= 0">
				<div style="width:{{files.progress}}%" 
            ng-bind="files.progress + '%'"></div>
			</span>
			<span ng-show="files.result">Upload Successful</span>
			<span class="err" ng-show="errorMsg">{{errorMsg}}</span>
			
		</div>
	</div>
	<hr>
	<button type="button" class="btn btn-secondary " ng-click="upload()">UPLOAD</button>	
	<!-- Footer -->
	<footer>
		<div class="row">
		</div>
	</footer>
</div>
