<div class="content-container pgSize customForm">
    <ul class="headTab">
        <li>&nbsp;</li>
        <li class="newTab"><a href="javascript:;">New Tab</a></li>
    </ul>
    <div class="outerBorder">
    <form class="form-inline" role="form" ng-submit="upload()">
        <!--<div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12 upload-container" ng-repeat="file in allFiles track by $index">
                <div href="#" class="upload-container-img">
                    <image-cropper image="{{file.url}}" dest-width="600" dest-height="600" show-controls="false" cropped-image="cropImage" fit-on-init="true"></image-cropper>
                </div>
                {{cropImageArray(cropImage,$index)}}
                <div ng-controller="imgViewCtrl" style="height: 45px;">
                    <table>
                        <tr class="upload-img-icons">
                            <td>
                                <a ng-click="openLightboxModal(allFiles,$index)"><img class="img-responsive" src="images/Zoom_in.png" alt=""></a>
                            </td>
                            <td>
                                <a ng-click="openZoomModal(this.file,$index)"><img class="img-responsive" src="images/Edit-icon.png" alt=""></a>
                            </td>
                            <td>
                                <a><img class="img-responsive" src="images/cross-512.png" ng-click="removeImage($index)" alt=""></a>
                            </td>
                        </tr>
                    </table>
                    <span ng-show="showProgress">
						<div class="progress">
							<div id="progress-bar" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="progressArr[$index].imgProgress" aria-valuemin="0" aria-valuemax="100" data-value="progressArr[$index].imgProgress" style="width: 100%">
								{{progressArr[$index].imgProgress}}
							</div>
						</div>
					</span>
                    <span ng-hide="showProgress"><br/><br/><br/></span>
                </div>
            </div>
            <div ng-repeat="a in getNumber(5) track by $index">
                <input name="addImg" type="file" class="col-lg-15 col-md-15 col-xs-15 mCustom-file-input mcustom-file-input mTitle" ng-model="files" ngf-select="addImages(this.files)">
            </div>
        </div>-->
        <!--row-->
        <div class="row"><h3>Add Product Details</h3></div>
        <div class="row uploadImages">
            <div class="col-md-2 col-lg-2 col-sm-4 col-xs-12 text-uppercase"><label class="imgPnl"><input type="file" name="image1" /><span>Add Photo</span></label></div>
            <div class="col-md-2 col-lg-2 col-sm-4 col-xs-12 text-uppercase"><label class="imgPnl"><input type="file" name="image2" /><span>Add Photo</span></label></div>
            <div class="col-md-2 col-lg-2 col-sm-4 col-xs-12 text-uppercase"><label class="imgPnl"><input type="file" name="image3" /><span>Add Photo</span></label></div>
            <div class="col-md-2 col-lg-2 col-sm-4 col-xs-12 text-uppercase"><label class="imgPnl"><input type="file" name="image4" /><span>Add Photo</span></label></div>
            <div class="col-md-2 col-lg-2 col-sm-4 col-xs-12 text-uppercase"><label class="imgPnl"><input type="file" name="image5" /><span>Add Photo</span></label></div>
            <div class="col-md-2 col-lg-2 col-sm-4 col-xs-12 text-uppercase"><label class="imgPnl"><input type="file" name="image6" /><span>Add Photo</span></label></div>
        </div>

        <div class="row"><h3>Listing Details</h3></div>
        <div class="row">
            <input type="text" class="col-lg-12 col-md-12 col-xs-12 form-control" ng-model="proName" name="title" placeholder="title:">
        </div>
        <div class="row">
            <input type="number" class="col-lg-12 col-md-12 col-xs-12 form-control" ng-model="proPrice" name="price" placeholder="Price:">
        </div>
        <div class="row">
            <input type="number" class="col-lg-12 col-md-12 col-xs-12 form-control" ng-model="proPrice" name="price" placeholder="Orignal Price:">
        </div>
        <div class="row">
            <input type="number" class="col-lg-12 col-md-12 col-xs-12 form-control" ng-model="proPrice" name="price" placeholder="Sale Price:">
        </div>
        <div class="row">
            <div class="checkbox customizeCheck">
                <label><span>Customizable</span> <input type="checkbox" value=""></label>
            </div>
        </div>
        <div class="row">
            <select name="categories" class="col-lg-12 col-md-12 col-xs-12" ng-model="cat.id" ng-change="getSubCat()" ng-options="cat.id as cat.name for cat in categoryList" required>
				<option value="">-- Select Category --</option>
			</select>
        </div>
        <div class="row">
            <input type="number" class="col-lg-12 col-md-12 col-xs-12 form-control" ng-model="proQty" name="quantity" placeholder="quantity:">
        </div>
        <div class="row">
            <input type="text" name="shortDescription" ng-model="proShortDesc" class="col-lg-12 mDetail form-control" placeholder="short description:" />
        </div>
        <div class="row">
            <textarea name="longDescription" ng-model="proLongDesc" class="col-lg-12 mDetail form-control" placeholder="long description:"></textarea>
        </div>
        <div class="row"><h3>Add Attributes</h3></div>
        <div class="row">
            <div class="optionsTable">
                <table>
                    <tr>
                        <th>Options</th>
                        <th></th>
                        <th>Price</th>
                        <th>Availability</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>Sleeve</td>
                        <td>Long</td>
                        <td>$30</td>
                        <td class="availability"><input type="checkbox" name="availability-1" value=""></td>
                        <td>Delete</td>
                    </tr>
                    <tr>
                        <td>Jacket</td>
                        <td>Short</td>
                        <td>$100</td>
                        <td class="availability"><input type="checkbox" name="availability-1" value=""></td>
                        <td>Delete</td>
                    </tr>
                    <tr>
                        <td class="button">
                            <select name="attrOptions" required>
                                <option>Select Option</option>
                                <option>Sleeve</option>
                                <option>Jacket</option>
                            </select>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row"><h3>Shipping Info</h3></div>
        <div class="row">
            <button type="submit" name="upload" class="col-lg-2 formBtn pull-right text-right text-uppercase">Upload ></button>
            <div class="col-lg-8"></div>
        </div>
    </form>
    </div>
</div>