<div class="mMainContainer mCustomForm">
	<div class="mCreatNew mpgSize">
		<form class="form-inline" role="form" ng-submit="upload()">
			<div class="row">
				<h2 class="mFormHeading col-lg-12 text-uppercase">Upload new Product</h2>
			</div>
			<div class="row mUploadImages" >
				<div class="col-lg-2 col-md-3 col-xs-5 upload-container" ng-repeat="file in allFiles track by $index">
					<div  href="#" class="upload-container-img">
						<image-cropper image="{{file.url}}" dest-width="600" dest-height="600" show-controls="false" cropped-image="cropImage" fit-on-init="true"></image-cropper>
					</div>
					{{cropImageArray(cropImage,$index)}}
					<div  ng-controller="imgViewCtrl" style="height: 45px;" >
						<table style="width: 95%;">
							<tr class="upload-img-icons">
								<td><a ng-click="openLightboxModal(allFiles,$index)" ><img class="img-responsive" src="images/Zoom_in.png" alt=""></a></td>
								<td><a ng-click="openZoomModal(this.file,$index)"><img class="img-responsive" src="images/Edit-icon.png" alt=""></a></td>
								<td><a><img class="img-responsive" src="images/cross-512.png" ng-click="removeImage($index)" alt=""></a></td>
							</tr>
						</table>

				<span ng-show="showProgress">
					<div class="progress">
						<div id="progress-bar" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="progressArr[$index].imgProgress" aria-valuemin="0" aria-valuemax="100" data-value="progressArr[$index].imgProgress" style="width: 100%">
							{{progressArr[$index].imgProgress}}
						</div>
					</div>
				</span>
				<span ng-hide="showProgress">
					<br/>
					<br/>
					<br/>
				</span>
					</div>
				</div>
				<div ng-repeat="a in getNumber(5) track by $index">
					<input name="addImg" type="file" class="col-lg-15 col-md-15 col-xs-15 mCustom-file-input mcustom-file-input mTitle" ng-model="files" ngf-select="addImages(this.files)">
				</div>

			</div>
			<div class="row">
				<input type="text" class="col-lg-12 col-md-12 col-xs-12 mTitle form-control" ng-model="proName" name="title" placeholder="title:" >
			</div>
			<div class="row">
				<input type="number" class="col-lg-12 col-md-12 col-xs-12 mPrice form-control" ng-model="proPrice" name="price" placeholder="price:" >
			</div>
			<div class="row">
				<select name="categories" class="col-lg-6 col-md-6 col-xs-6 mCat"
						ng-model="cat.id"
						ng-change="getSubCat()"
						ng-options="cat.id as cat.name for cat in categoryList" required>
					<option value="">-- Select Category --</option>
				</select>

			</div>
			<div class="row">
				<input type="number" ng-model="proQty" name="quantity" class="col-lg-6 col-md-6 col-xs-6 mQuantity" placeholder="quantity:" >
			</div>

			<div class="row mAttrPnl">
				<label class="col-lg-8">Attribute: | +</label>
				<hr class="mBorder" />
				<label class="col-lg-4">Values:</label>
				<hr class="mNoBorder" />
				<input name="valueOne" class="mSite col-lg-2 col-md-2 mCase" type="text">
				<input name="valueTwo" class="mSite col-lg-2 col-md-2 mCase" type="text">
				<input name="valueThree" class="mSite col-lg-2 col-md-2 mCase" type="text">
			</div>
			<div class="row">
				<input type="text" name="newAttribute" class="col-lg-6 form-control mNewAttr" placeholder="new attribute:">
				<div class="col-lg-6"></div>
			</div>
			<div class="row">
				<textarea name="shortDescription" ng-model="proShortDesc" class="col-lg-12 mDetail form-control mShortDesc" placeholder="short description:"></textarea>
			</div>
			<div class="row">
				<textarea name="longDescription" ng-model="proLongDesc" class="col-lg-12 mDetail form-control mShortDesc" placeholder="long description:"></textarea>
			</div>
			<div class="row">
				<h2 class="mformHeading mForm col-lg-12 text-uppercase">Set featured image</h2>
			</div>
			<div class="row">
				.
				<input name="enterTitle" type="text" class="col-lg-12 col-md-12 col-xs-12 mTitle form-control" placeholder="enter title:" >
			</div>
			<div class="row">
				<input name="addImg" type="file" class="col-lg-12 col-md-12 col-xs-12 mCustom-file-input mPhoto mTitle" placeholder="add photo:" >
			</div>
			<div class="row">
				<button type="submit" name="upload" class="col-lg-2 mUpload text-uppercase">Upload</button>
				<div class="col-lg-8"></div>
			</div>
		</form>
	</div>
</div>