<!--<script>
	$('#attribute').focus(function() {
   	var attributevalue = document.getElementById('attribute').value;
   	if(attributevalue != null){
   		$('.attribute').show();
    $(document).bind('focusin..attribute click..attribute',function(e) {
        if ($(e.target).closest('..attribute, #.attribute').length) return;
        $(document).unbind('..attribute');
        $('div..attribute').fadeOut('medium');
    });	
   	}
    
});
$('.attribute').hide();
	
</script>
-->
<div class="container">
	<div class="row">
		<div class="col-lg-2 col-md-3 col-xs-5 upload-container" ng-repeat="file in allFiles track by $index">
			<div  href="#" class="upload-container-img">
				<image-cropper image="{{file.url}}" dest-width="600" dest-height="600" show-controls="false" cropped-image="cropImage" fit-on-init="true"></image-cropper>
			</div>
			{{cropImageArray(cropImage,$index)}}
			<div  ng-controller="imgViewCtrl" style="height: 45px;" >
				<table style="width: 95%;">
					<tr class="upload-img-icons">
						<td><a ng-click="openLightboxModal(allFiles,$index)" ><img class="img-responsive" src="images/Zoom_in.png" alt=""></a></td>
						<td><a ng-click="openZoomModal(this.file,$index)"><img class="img-responsive" src="images/Edit-icon.png" alt=""></a></td>
						<td><a><img class="img-responsive" src="images/cross-512.png" ng-click="removeImage($index)" alt=""></a></td>
					</tr>
				</table>
			
				<span ng-show="showProgress">
					<div class="progress">
			
						<div id="progress-bar" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="progressArr[$index].imgProgress" aria-valuemin="0" aria-valuemax="100" data-value="progressArr[$index].imgProgress" style="width: 100%">
							{{progressArr[$index].imgProgress}}
						</div>
					
					</div>
					
					
				</span>	
				
				
				<span ng-hide="showProgress">
					<br/>
					<br/>
					<br/>
				</span>	
			</div>
		</div>
		<!--<img ng-repeat="cropImg in tempFiles track by $index" ng-src="{{cropImg.url}}" />-->
		<div class="col-lg-2 col-md-2 col-xs-4 thumb upload-container" ng-repeat="a in getNumber(5) track by $index">
			<input class="custom-file-input" type="file" ng-model="files" ngf-select="addImages(this.files)" />
			
		</div>
	
	</div>

	
		<form id="upload-form" ng-submit="upload()" role="form" >
		<div class="row">
		
		<div class="col-sm-1"></div>	
		<div class="col-sm-10">
				<table>
					<tr>
						<td><label for="title">Title:</label></td>
						<td class="upload-form-col" colspan="3">
							<input  type="text" ng-model="proName" class="form-control" id="title" required >			
						</td>
					</tr>
					<tr>
						<td><label for="price">Price:</label></td>
						<td style="width: 50%;" colspan="3">
							<input type="text" ng-model="proPrice" class="form-control" id="price" style="width: 27%;" required >
						</td>
					</tr>
					<tr>
						<td><label for="quantity">Categories:</label></td>
						<td>

							<select
           		 				ng-model="cat.id"
           		 				ng-change="getSubCat()"
           		 				ng-options="cat.id as cat.name for cat in categoryDetail" required>
           		 				 <option value="">-- Select Category --</option>
							</select>
            			</td>
            			<td ng-if="subCategory"><label for="quantity">Sub Categories:</label></td>
						<td ng-if="subCategory">

							<select
           		 				ng-model="subcat.id"
           		 				ng-options="subcat.id as subcat.name for subcat in subCategoryDetail" required>
           		 							 <option value="">-- Select Sub Category --</option>
					
							</select>
            			</td>

					</tr>
					<tr>
						<td><label for="quantity">Quantity:</label></td>
						<td style="width: 50%;" colspan="3">
							<input  type="text" ng-model="proQty" class="form-control" id="quantity" style="width: 27%;" required>
						</td>
					</tr>
					<tr>
						<td><label for="quantity">Attribute:</label></td>
						<td>
							<input  type="text" class="form-control" id="attribute" name="attribute" value="" style="background: white;border:1px solid #D9D9D9;" ><br>
						</td>
					</tr>
					<tr style="width: 50%;">
						<td ><label for="quantity">Values:</label></td>
						<td style="width: 25%;">
							<input  type="text" class="form-control" style="background: white;border: 1px solid #D9D9D9;width:100%;" >
						</td>
						<td style="width: 25%;">
							<input  type="text" class="form-control" style="background: white;border: 1px solid #D9D9D9;width:100%;" >
						</td>
						<td style="width: 25%;">
							<input  type="text" class="form-control" style="background: white;border: 1px solid #D9D9D9;width:100%;" >
						</td >
						<td style="width: 25%;">
							<input  type="text" class="form-control" style="background: white;border: 1px solid #D9D9D9;width:100%;" >
						</td>
					</tr>
					<tr class="attribute">
						<td><label for="quantity">New Attribute:</label></td>
						<td>
							<input  type="text" class="form-control" id="attribute" value="" style="background: white;border:1px solid #D9D9D9;" ><br>
						</td>
					</tr>
					<tr>
						<td>
							<input  type="text" class="form-control" id="attributetwo"  placeholder="Enter sub Attribute" style="display:none; background: white;border:1px solid #D9D9D9;" ><br>
						</td>
					</tr>
					<tr>
						<td><label for="quantity">Short Description:</label></td>
						<td class="upload-form-col" colspan="3">
							<input  type="text" ng-model="proShortDesc" class="form-control" id="shortdesc" style="height: 150px;" required >
						</td>
					</tr>
					<tr>
						<td><label for="quantity">Long Description:</label></td>
						<td class="upload-form-col" colspan="3">
							<textarea  type="text" class="form-control" ng-model="proLongDesc" id="shortdesc" style="width: 100%;height: 150px;background: white;border: 1px solid #D9D9D9;" ></textarea>
						</td>
					</tr>
					
						</table>
			
		</div>
        <div class="col-sm-2"></div>	
	</div>
	
	<div class="row">
		<div class="col-sm-12">
			<div class="col-sm-3"></div>
			<div class="col-sm-8">
				<table style="width: 100%;">
					<tr>
						<td><h1>Set Featured Image</h1><br>
							<input  type="text" class="form-control" placeholder="Enter Title" style="background: white;border: 1px solid #D9D9D9;;" ><br>
						</td>
						<td>
						<div class="col-lg-2 col-md-2 col-xs-4 thumb upload-container">
						<input class="custom-file-input" type="file" ng-model="files"  />
						</div>
						</td>
					</tr>
				</table>
				
			</div>
	
			<div class="col-sm-2"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-5 "></div>
		<div class="col-sm-2 text-center"><button type="submit" class="btn btn-success upload-btn">UPLOAD</button></div>
		<div class="col-sm-5"></div>
	</div>
		</form>
	
</div>
