<div class="container" style="width: 100%">
<div class="row" style="padding-bottom: 30px;">
	<a href="/#singleinspiration">
	<div class="col-sm-4">
		<img src="images/001.jpg" width="90%" height="600" />
		<div class="row text-center" style="padding-bottom: 32px;">
		<h1 style="font-size: 20px;">Designer 1</h1>
		</div>	
	</div>
	</a>
	<a href="/#singleinspiration">
	<div class="col-sm-4">
		<img src="images/001.jpg" width="90%" height="600" />
		<div class="row text-center" style="padding-bottom: 32px;">
		<h1 style="font-size: 20px;">Designer 2</h1>
		</div>
	</div>
	</a>
	<a href="/#singleinspiration">
<div class="col-sm-4">
		<img src="images/001.jpg" width="90%" height="600" />
		<div class="row text-center" style="padding-bottom: 32px;">
		<h1 style="font-size: 20px;">Designer 3</h1>
	</div>
</div>
</a>
</div>
<div class="row" >
	<a href="/#singleinspiration">
	<div class="col-sm-4">
		<img src="images/001.jpg" width="90%" height="600" />
		<div class="row text-center" style="padding-bottom: 32px;">
		<h1 style="font-size: 20px;">Designer 4</h1>
	</div>	
	</div>
	</a>
	<a href="/#singleinspiration">
	<div class="col-sm-4">
		<img src="images/001.jpg" width="90%" height="600" />
		<div class="row text-center" style="padding-bottom: 32px;">
		<h1 style="font-size: 20px;">Designer 5</h1>
	</div>
	</div>
	</a>
<a href="/#singleinspiration">	
<div class="col-sm-4">
		<img src="images/001.jpg" width="90%" height="600" />
		<div class="row text-center" style="padding-bottom: 32px;">
		<h1 style="font-size: 20px;">Designer 6</h1>
	</div>
</div>
</a>
</div>
</div>