
<div class="container">
<div class="row">
	<img src="images/001.jpg" width="50%" height="450" />
	<div class="row text-center" style="padding-bottom: 32px;">
		<h1 style="font-size: 20px;">We create inspirational designs</h1>
		<p style="text-align: center;font-size: 15px;">peronalize your favourite designer's dress</p>
	</div>
</div>
<div class="row" style="padding-top: 80px;border-top: 1px solid #EEEEEE;">
	<img src="images/Category_banner.jpg" width="100%" height="450" />
	<div class="row text-center" style="padding-bottom: 32px;">
		<h1 style="font-size: 20px;">We create inspirational designs</h1>
		<p style="text-align: center;font-size: 15px;">peronalize your favourite designer's dress</p>
	</div>
</div>
</div>