<div class="container" style="width: 100%">
<div class="row" style="padding-bottom: 30px;">
	<div class="col-sm-4">
		<img src="images/001.jpg" width="90%" height="600" />
		<div class="row text-center" style="padding-bottom: 32px;">
		<h1 style="font-size: 20px;">We create inspirational designs</h1>
		<p style="text-align: center;font-size: 15px;">peronalize your favourite designer's dress</p>
	</div>	
	</div>
	<div class="col-sm-4">
		<img src="images/001.jpg" width="90%" height="600" />
		<div class="row text-center" style="padding-bottom: 32px;">
		<h1 style="font-size: 20px;">We create inspirational designs</h1>
		<p style="text-align: center;font-size: 15px;">peronalize your favourite designer's dress</p>
	</div>
</div>
<div class="col-sm-4">
		<img src="images/001.jpg" width="90%" height="600" />
		<div class="row text-center" style="padding-bottom: 32px;">
		<h1 style="font-size: 20px;">We create inspirational designs</h1>
		<p style="text-align: center;font-size: 15px;">peronalize your favourite designer's dress</p>
	</div>
</div>

</div>
<div class="row" style="border-top: 1px solid #EEEEEE;">
	<div class="col-sm-4">
		<img src="images/001.jpg" width="90%" height="600" />
		<div class="row text-center" style="padding-bottom: 32px;">
		<h1 style="font-size: 20px;">We create inspirational designs</h1>
		<p style="text-align: center;font-size: 15px;">peronalize your favourite designer's dress</p>
	</div>	
	</div>
	<div class="col-sm-4">
		<img src="images/001.jpg" width="90%" height="600" />
		<div class="row text-center" style="padding-bottom: 32px;">
		<h1 style="font-size: 20px;">We create inspirational designs</h1>
		<p style="text-align: center;font-size: 15px;">peronalize your favourite designer's dress</p>
	</div>
</div>
<div class="col-sm-4">
		<img src="images/001.jpg" width="90%" height="600" />
		<div class="row text-center" style="padding-bottom: 32px;">
		<h1 style="font-size: 20px;">We create inspirational designs</h1>
		<p style="text-align: center;font-size: 15px;">peronalize your favourite designer's dress</p>
	</div>
</div>
</div>
</div>