     <script>
	/*$(function ($) {
			var $blowup = $('.blowup img');
			$('.thumbs-container img').click(function () {
					$blowup.attr('src', this.src);
				});
			$(".zoom").elevateZoom({ zoomType	: "inner", cursor: "crosshair" });
		});
	*/
	$('.lightbox_trigger').click(function(e) {
		
			var currentIndex = 0;
	
			e.preventDefault();
		
			var image_href = $('.cus-thumbnails').attr("href");
			if ($('#lightbox').length > 0) { // #lightbox exists
				$('#lightbox').css("display","block");
			}
		
			else { //#lightbox does not exist - create and insert (runs 1st time only)
				$('#lightbox').css("display","block");
				//create HTML markup for lightbox window
				firstLightbox();
			}
			var lightbox = "";	
			var lightbox2 = "";	
			var lightbox3 = "";	
			function firstLightbox(){
				lightbox = 
				'<div id="lightbox">' +'<div style="width:auto;text-align:left;"><h1>CUSTOMIZATION'+'<span id="close-it">'+'CLOSE'+'</span>'+'</div>'+'<div style="width:auto;text-align:center;"><h1>Jackets'+'</h1>'+'</div>'+
				'<div id="content">' + 
				'<ul style="display:inline-flex;">' +
				'<li class="hover11">' + '<a> '+'<img style="width:100%;" src="' + image_href +'" />'
				+
				
				'<table>'+'<tr class="radio-btn-div">'+'<td >'+'<input type="radio" name="jacket" value="1">'+'<label style="font-size:12px;">Jacket1</label>'+'</input>'+'</td>'+'<td style="width:100%;">'+'</td>'+
				'<td>'+'<img class="tick-img" src="images/tick.png"'+'/>'+'</td>'+
				'</tr>'+'</table>'+'</a>' + '</li>' +
				'<li class="hover11">' + '<a> '+'<img style="width:100%;" src="' + image_href +'" />'
				+
				
				'<table>'+'<tr class="radio-btn-div">'+'<td>'+'<input type="radio" name="jacket" value="1">'+'<label style="font-size:12px;">Jacket2</label>'+'</input>'+'</td>'+'<td style="width:100%;">'+'</td>'+
				'<td>'+'<img class="tick-img" src="images/tick.png"'+'/>'+'</td>'+
				'</tr>'+'</table>'+'</a>' + '</li>' +
				'<li class="hover11">' + '<a> '+'<img style="width:100%;" src="' + image_href +'" />'
				+
				
				'<table>'+'<tr class="radio-btn-div">'+'<td>'+'<input type="radio" name="jacket" value="1">'+'<label style="font-size:12px;">Jacket3</label>'+'</input>'+'</td>'+'<td style="width:100%;">'+'</td>'+
				'<td>'+'<img class="tick-img" src="images/tick.png"'+'/>'+'</td>'+
				'</tr>'+'</table>'+'</a>' + '</li>'
				+ '</ul>' +
				'<div style="text-align="center">'+'<button type="button" class="btn btn-primary individual-bag-btn" id="pre-btn">Previous</button>' + '<button type="button" class="btn btn-primary individual-bag-btn" id="next-btn">Next</button>'+'</div>'+
				'</div>' +	
				'</div>';		
				$('body').append(lightbox);
		
				$('.hover11').click(function(){
						$('.tick-img').css("display","block");
					});
		
				$('#next-btn').click(function(){
						secondLightbox();
							
					});
				$('#pre-btn').click(function(){
						alert("NO More Screen");
					});
				$('#close-it').click(function(){
						$('#lightbox').css("display","none");
					});	
		
			};
	
			function secondLightbox(){
			lightbox2 = 
				'<div id="lightbox">' +'<div style="width:auto;text-align:left;"><h1>CUSTOMIZATION'+'<span id="close-it">'+'CLOSE'+'</span>'+'</div>'+'<div style="width:auto;text-align:center;"><h1>Sleeves'+'</h1>'+'</div>'+
				'<div id="content">' + 
				'<ul style="display:inline-flex;">' +
				'<li class="hover11">' + '<a> '+'<img style="width:100%;" src="' + image_href +'" />'
				+
				
				'<table>'+'<tr class="radio-btn-div">'+'<td>'+'<input type="radio" name="sleeves" value="1">'+'<label style="font-size:12px;">Sleeves1</label>'+'</input>'+'</td>'+'<td style="width:100%;">'+'</td>'+
				'<td>'+'<img class="tick-img" src="images/tick.png"'+'/>'+'</td>'+
				'</tr>'+'</table>'+'</a>' + '</li>' +
				'<li class="hover11">' + '<a> '+'<img style="width:100%;" src="' + image_href +'" />'
				+
				
				'<table>'+'<tr class="radio-btn-div">'+'<td>'+'<input type="radio" name="sleeves" value="1">'+'<label style="font-size:12px;">Sleeves2</label>'+'</input>'+'</td>'+'<td style="width:100%;">'+'</td>'+
				'<td>'+'<img class="tick-img" src="images/tick.png"'+'/>'+'</td>'+
				'</tr>'+'</table>'+'</a>' + '</li>' +
				'<li class="hover11">' + '<a> '+'<img style="width:100%;" src="' + image_href +'" />'
				+
				
				'<table>'+'<tr class="radio-btn-div">'+'<td>'+'<input type="radio" name="sleeves" value="2">'+'<label style="font-size:12px;">Sleeves3</label>'+'</input>'+'</td>'+'<td style="width:100%;">'+'</td>'+
				'<td>'+'<img class="tick-img" src="images/tick.png"'+'/>'+'</td>'+
				'</tr>'+'</table>'+'</a>' + '</li>'
				+ '</ul>' +
				'<div style="text-align="center">'+'<button type="button" class="btn btn-primary individual-bag-btn" id="pre-btn2">Previous</button>' + '<button type="button" class="btn btn-primary individual-bag-btn" id="next-btn2">Next</button>'+'</div>'+
				'</div>' +	
				'</div>';		
				$('body').append(lightbox2);
		
				$('.hover11').click(function(){
						$('.tick-img').css("display","block");
					});
			$('#next-btn2').click(function(){
			thirdLightbox();
				 
			});
			$('#pre-btn2').click(function(){
			firstLightbox();
			
		
			});
			$('#close-it').click(function(){
			$('#lightbox').css("display","none");
			});	
			
			};
		
		
		
		
			function thirdLightbox(){
			lightbox3 = 
				'<div id="lightbox">' +'<div style="width:auto;text-align:left;"><h1>CUSTOMIZATION'+'<span id="close-it">'+'CLOSE'+'</span>'+'</div>'+'<div style="width:auto;text-align:center;"><h1>Dresses'+'</h1>'+'</div>'+
				'<div id="content">' + 
				'<ul style="display:inline-flex;">' +
				'<li class="hover11">' + '<a> '+'<img style="width:100%;" src="' + image_href +'" />'
				+
				
				'<table>'+'<tr class="radio-btn-div">'+'<td >'+'<input type="radio" name="dresses" value="1">'+'<label style="font-size:12px;">Dresses1</label>'+'</input>'+'</td>'+'<td style="width:100%;">'+'</td>'+
				'<td>'+'<img class="tick-img" src="images/tick.png"'+'/>'+'</td>'+
				'</tr>'+'</table>'+'</a>' + '</li>' +
				'<li class="hover11">' + '<a> '+'<img style="width:100%;" src="' + image_href +'" />'
				+
				
				'<table>'+'<tr class="radio-btn-div">'+'<td>'+'<input type="radio" name="dresses" value="1">'+'<label style="font-size:12px;">Dresses2</label>'+'</input>'+'</td>'+'<td style="width:100%;">'+'</td>'+
				'<td>'+'<img class="tick-img" src="images/tick.png"'+'/>'+'</td>'+
				'</tr>'+'</table>'+'</a>' + '</li>' +
				'<li class="hover11">' + '<a> '+'<img style="width:100%;" src="' + image_href +'" />'
				+
				
				'<table>'+'<tr class="radio-btn-div">'+'<td>'+'<input type="radio" name="dresses" value="1">'+'<label style="font-size:12px;">Dresses3</label>'+'</input>'+'</td>'+'<td style="width:100%;">'+'</td>'+
				'<td>'+'<img class="tick-img" src="images/tick.png"'+'/>'+'</td>'+
				'</tr>'+'</table>'+'</a>' + '</li>' +
				'<li class="hover11">' + '<a> '+'<img style="width:100%;" src="' + image_href +'" />'
				+
				
				'<table>'+'<tr class="radio-btn-div">'+'<td>'+'<input type="radio" name="dresses" value="1">'+'<label style="font-size:12px;">Dresses4</label>'+'</input>'+'</td>'+'<td style="width:100%;">'+'</td>'+
				'<td>'+'<img class="tick-img" src="images/tick.png"'+'/>'+'</td>'+
				'</tr>'+'</table>'+'</a>' + '</li>'
				+ '</ul>' +
				'<div style="text-align="center">'+'<button type="button" class="btn btn-primary individual-bag-btn" id="pre-btn3">Previous</button>' + '<button type="button" class="btn btn-primary individual-bag-btn" id="next-btn3">Next</button>'+'</div>'+
				'</div>' +	
				'</div>';		
				$('body').append(lightbox3);
		
				$('.hover11').click(function(){
						$('.tick-img').css("display","block");
					});
			
			$('#next-btn3').click(function(){
			alert("NO More Screen");
			});
			$('#pre-btn3').click(function(){
			secondLightbox();
			$('#lightbox').hide();
			});
			$('#close-it').click(function(){
			$('#lightbox').css("display","none");
			});	
				
		
			};
		
		
		
			$('#close-it').click(function(){
					$('#lightbox').css("display","none");
				});
	
	
		});
</script>
<style>
	table{
		width: 100%;
	}
	#lightbox {
		position: fixed; /* keeps the lightbox window in the current viewport */
		top: 0; 
		left: 0; 
		width: 100%; 
		height: 100%; 
		background: rgba(51, 51, 51, 0.79);
		z-index: 900;
	}

	#lightbox ul {
		width: 75% !important;
		padding-left: 0px;
	}

	#lightbox ul > li{
		margin: 10px;
		
	}

	#lightbox ul > li > img {
		box-shadow: 0 0 25px #111;
		-webkit-box-shadow: 0 0 25px #111;
		-moz-box-shadow: 0 0 25px #111;
		max-width: 940px;
		margin: 20px;
		width: 330px;
		margin-top: 10%;
	}

	#lightbox ul > li > a >img:hover{
		cursor: pointer;
		background-color: #e1e1e1;
	
	}
	
	
	.hover11 img {
		opacity: 1;
		-webkit-transition: .3s ease-in-out;
		transition: .3s ease-in-out;
	}
	.hover11 img:hover {
		opacity: .9;
	}
	
	.hover11:hover .radio-btn-div{
		background-color: orange !important;
		cursor: pointer;
	} 
	
	.radio-btn-div:hover {
		background-color: orange !important;
		cursor: pointer;
	}

	.radio-btn-div {
		display: block;
		font-size: 20px;
		color: white;
		text-align: left;
		padding: 5px;
		width: 100%;
		background-color: rgba(255, 255, 255, 0.49);
		cursor: pointer;
	}

	#content{
		text-align: center;
	}

	#lightbox h1{
		font-size: 45px; 
		font-family: 'Quicksand' !important;
		color: white !Important;
		margin-left: 30px;
	}

	#next-btn,#next-btn2,#next-btn3{
		width: 160px;
		height: 25px;
	}

	#pre-btn,#pre-btn2,#pre-btn3{
		
		
		width: 160px;
		height: 25px;
		
	}
	
	#close-it{
		font-size: 13px;
		color: white;
		cursor: pointer;
		float: right;
		padding: 10px;
	}

	.tick-img{
		display: none;
		width: 12px;
		float: right;
		margin-top: -2px;
		margin-left: 10%;
		height: auto;
	}

	input[type="radio"]{
		display: none;
	}	

</style>
<div class="container" id="marg">
	
	<div class="row" >
		<div class="col-sm-6" style="border: 1px solid rgba(128, 128, 128, 0.15);box-shadow: 0px 0px 6px rgba(128, 128, 128, 0.32);" >
			<div class="blowup">
				<img  class="img-responsive zoom" src="images/001.jpg" alt="img" id="indisize"  /> 
			</div>
		</div>
		<div class="col-sm-5 " id="indisize1">
			<div style="height: 450px;">
				<p style="font-size: 16px;margin-bottom: 10px; line-height: 20px;">
					<strong>Designer's Name</strong></p><br><br><br><br>
				<font size="3" class="clr1" style="color: #D25E00;"> Designer's Short Description</b></font><br><br><br><br>
			</div>	  
			
			<a><button type="button" class="btn btn-primary individual-bag-btn lightbox_trigger" style="height: 25px; text-align: center;">Customize</button></a>                          <div style="padding-left: 10px;">
				<a href="images/001.jpg" class="cus-thumbnails"><img src="images/001-jacket.jpg" style="width: 80px;" /></a>
			</div>
		</div><!-- /.col-lg-6 --><br>
         	
	</div>
</div>


<script>
	
	$(document).ready(function() {
			$('.itemdetail-border').click(function() {
					$(".two2").hide();
					$(".three3").hide()
					$('.one1').toggle();
            
				});
    
			$('.customization-border').click(function() {
					$('.one1').hide();
					$('.three3').hide();
					$('.two2').toggle();
        
				});
    
			$('.shipping-border').click(function() {
					$('.one1').hide();
					$('.two2').hide();
					$('.three3').toggle();
        
				});
    
		});
</script>