
<div class="container">
<div class="row" style="padding-left: 0px;margin-bottom: 40px;">
	<div class="col-sm-12">
		<div class="col-sm-3 col-xs-7 items-title" style="padding-left:0px;width: auto;">
			<h1 id ="item-heading"  >{{abc}} ITEMS IN YOUR CART</h1>
			
		</div>
		<div class="col-sm-3"></div>
		<div class="col-sm-3 col-xs-5 keep-shopping-button">
			<button type="button" class="btn btn-primary keep-shopping-btn" id="item-buttton1">KEEP SHOPPING</button>
		</div>
		<div class="col-sm-2"></div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="col-sm-8">
			<div class="row cart-products" ng-repeat="a in items track by $index" >
				
				<div class="col-sm-1 col-xs-5 cart-img">
					<img  src="{{fixPath + '300x300-1-img-'+a.id+'.jpg' + token}}" width="160" height="140"/>
				</div>
				
				<div class="col-sm-7 col-xs-7 cart-elements">
					<p class="cart-title cart-pro-title" id="item-bar2">{{a.name}}</p>
					<p class="cart-title"><span style="color: black; font-family: lato-light;font-size:14px; text-transform: uppercase;"><span id="item-shop-size">{{a.shop}}</span></span></p>
					<hr class="cart-hr">
					<div>
						<div class="col-sm-2 col-xs-2" style="padding-left: 0px;margin-top: 12px;margin-bottom: 12px;">
							<p style="font-size: 14px;font-family: lato-light !important;">SIZE</p>
							<p style="margin-top: 16px;font-family: lato-light !important;" class="cart-details">{{a.size}}</p>
						</div>
						<div class="col-sm-3 col-xs-5 text-center" style="margin-top: 12px;margin-bottom: 12px;">
							<p style="font-size: 14px;font-family: lato-light !important;">QUANTITY</p>
							<input type="text" maxlength="2" value="{{a.qty}}" style="width: 25px;height: 22px;font-size: 12px; border: 1px solid #e1e1e1e;text-align: center;margin-top: 7px;font-family: lato-light !important;" readonly/>
						</div>
						<div class="col-sm-3 col-xs-3 text-center " style="margin-top: 12px;margin-bottom: 12px;">
							<p style="font-size: 14px;font-family: lato-light !important;">PRICE</p>
							<p  style="    margin-top: 16px;font-family: lato-light !important;" class="cart-details">${{a.cost*a.qty}}</p>
						</div>
					</div>
				</div>
				<div class="col-sm-1 col-xs-1" style="padding-left: 0px;width: auto;">
					<img src="images/closebtn.png" ng-click="removeItem($index)" style="float: right"/>
				</div>
				
				
			</div>
		</div>
			<div class="col-sm-1"></div>
			<div class="col-sm-3 col-xs-12 cart-right-table" style="margin-left: 12px;float: right;">
				<div class="row">
			
					<table width="100%" class="order-right-table" >
						<tr style="border-bottom: 1px grey solid;">
							<td style="padding-left: 10px; font-family: lato-regular;">Number of Items</td>
							<td style="text-align: right;padding-right: 15px;">{{abc}}</td>
						</tr>
				
						<tr style="padding: 10px;background-color: #f5f5f5;">
							<td style="padding: 20px;padding-left: 10px; font-family: lato-regular;">Subtotal</td>
							<td style="text-align: right;padding-right: 15px;font-family: lato-regular;">${{totalPrice}}</td>
						</tr>
						<tr>
							<td style="padding: 10px;">
								<input  type="radio" value="paypal" name="pay" checked/><img src="images/Paypal-Logo-PNG.png" style="vertical-align: middle;"/><br />
							</td>
						</tr>
						<tr>
							<td style="padding: 10px;"><input  type="radio" value="visa" name="pay" /><img src="/images/payment-methods.png" style="vertical-align: middle;"/></td>
						</tr>
					</table>
					<button type="button" class="btn btn-primary proceed-checkout-btn" ng-click="paypalPayment()" style="font-family: lato-regular;font-size: 14px;font-weight: 400;" >Proceed to Checkout</button>
					<div class="col-sm-12 text-center"><img ng-show="loadingData" src="images/cartloading.gif" width="25" height="25"/></div>
					<label ng-if="!loadingData" style="font-size: 11px;line-height: 16px;color: red;">
						{{dataError.details[0].issue}}
					</label>
					<!--<p class="cart-details"><span style="text-align: right;"> </span></p>
					<p class="cart-details"><b>Subtotal</b> $1400</p>
					-->
				</div>
			</div>
	</div>
</div>
</div>