
<div class="container">
	<div class="row" style="padding-left: 0px;margin-bottom: 40px;">
		<div class="col-sm-12">
			<div class="col-sm-4">
				<h1 style="font-size: 20px;">1 Item in your Cart</h1>
			</div>
			<div class="col-sm-5"></div>
			<div class="col-sm-3">
				<button type="button" class="keep-shopping-btn" id="item" style="margin-top: 12px;"><a href="#a" style="text-decoration: none; color: white;">Keep Shopping</a></button>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="col-sm-4">
				<div class="col-sm-1" style="width: 130px; height: 125px;padding:0px;margin-bottom: 40px;">
					<img  src="images/img-10.jpg" width="130" height="125"/>
				</div>
				<div class="col-sm-3" style="width: auto;">
					<p style=" font-size: 17px;color: orange;">Anarkali Shopping</p>
							<p style=" font-size: 17px;color: orange;">By Sana Zee</p>
							<table>
								<tr>
									<td>
										<h3>Quantity</h3>			
									</td>
									<td>
										<div style="margin-top: 10px; margin-left: 5px;">
         			    		<div class="input-group spinner" id="two">
                    				<input type="text" class="form-control"  value="0" min="0" >
                  					<span class="input-group-btn-vertical">
                						<button class="btn btn-default" type="button"><i class="fa fa-caret-up"></i></button>
                						<button class="btn btn-default" type="button"><i class="fa fa-caret-down"></i></button>
                  					</span>
                				 </div>
              					</div>		
									</td>
								</tr>
							
              				</table>
				</div>
			    <table class="cart-table">
					<tr>
						<td style="padding-top: 10px;"><p style="font-size: 12px;"><strong>Ready to ship in 1-3</strong></p></td>
					</tr>
					<tr>
						<td>
							<p class="cart-payment">Payment Options<br><br>
								<input type="radio" name="rad" id="rad1" value="rad1" /><img src="images/visa.png" />
								<input type="radio" name="rad" id="rad2" value="rad2"/><img src="images/Paypal-Logo-PNG.png" />
							</p>
							
						</td>
					</tr>
					<tr>
						<td class="cart-headings"><p>Item Total</p></td>
						<td class="cart-headings"><span>$25.0 USD</span></td>
					</tr>
					<tr>
						<td class="cart-headings"><p style="line-height:9px;">Shipping</p><br>
						<p style="font-size: 11px">(To <span style="color: orange;">Pakistan</span>)</p>
						</td>
						<td class="cart-headings"><span>$10.0 USD</span></td>
					</tr>
					<tr>
						<td class="cart-headings"><p>Tax</p></td>
						<td class="cart-headings"><span>$0.00 USD</span></td>
					</tr>
					<tr>
						<td class="cart-headings"><p>TOTAL</p></td>
						<td class="cart-headings"><span>$35.00 USD</span><br></td>
					</tr>
					<tr>
						<td class="cart-headings "></td>
					</tr>
				</table>
				
				<button type="button" class="cart-proceed-btn"><a href="#payment" style="text-decoration: none; color: white;"><p style="font-size: 10px;">Proceed to Chechout</p></a></button>
			</div>
			
			
		</div>
	</div>
</div>