<div class="pgSize">
	<!--head-->
	<div class="row">
		<div class="col-sm-9 col-md-9 col-xs-7 items-title">
			<h1 id ="item-heading">{{noOfCartItems}} Items In Your Cart</h1>
		</div>
		<div class="col-sm-3 col-md-3 col-xs-5 keep-shopping-button text-center">
			<button type="button" class="btn btn-primary keep-shopping-btn" id="item-buttton1">Keep Shopping</button>
		</div>
	</div>
	<!--head-->
	<div class="row"><!--2nd Row-->
		<div class="col-sm-9">
			<!--Cart Repeater-->
			<div class="row cart-products" ng-repeat="a in items track by $index" >
				<!--Cart Main items-->
				<div class="col-sm-2 col-md-2 col-xs-12 cart-img">
					<img  src="{{fixPath + '300x300-1-img-'+a.id+'.jpg' + token}}" />
				</div>
				<div class="col-sm-10 col-md-10 col-xs-10 cart-elements">
					<a ng-href="#productDetailPage/{{a.id}}" class="cart-title cart-pro-title" id="item-bar2">{{a.name}}</a>
					<p class="cart-title" id="item-shop-size"><a ng-href="#shop/{{a.shopID}}">{{a.shop}}</a></p>
					<div class="row text-center">
						<div class="col-sm-3 col-md-3">
							<p>Size</p>
							<p class="cart-details">{{a.size}}</p>
						</div>
						<div class="col-sm-3 col-md-3 cartQunatity">
							<p>Quantity</p>
							<form>
								<input type="text" maxlength="2" class="text-center" value="{{a.qty}}" readonly/>
							</form>
						</div>
						<div class="col-sm-3 col-md-3">
							<p>Price</p>
							<p class="cart-details">${{a.cost*a.qty}}</p>
						</div>
					</div>
				</div>
				<!--Cart Main items-->
				<div class="crossCartItem">
					<img src="assets/images/closebtn.png" ng-click="removeItem($index)" />
				</div>
			</div>
			<!--Cart Repeater-->
		</div>
		<!--Right Contents-->
		<div class="col-sm-3 col-md-3 cart-right-table">
			<div class="row">
				<table class="order-right-table col-md-12 col-sm-12">
					<tr>
						<td>Number of Items</td>
						<td>{{noOfCartItems}}</td>
					</tr>
					<tr>
						<td>Subtotal</td>
						<td>${{totalPrice}}</td>
					</tr>
					<tr>
						<td><input  type="radio" value="paypal" name="pay" checked/><img src="assets/images/Paypal-Logo-PNG.png" /></td>
					</tr>
					<tr>
						<td><input type="radio" value="visa" name="pay" /><img src="assets/images/payment-methods.png" /></td>
					</tr>
				</table>
				<div class="col-md-12 col-sm-12">
					<button type="button" class="btn btn-primary proceed-checkout-btn" ng-click="submitPayment()" >Proceed to Checkout</button>
				</div>

				<div class="col-sm-12 text-center">
					<img ng-show="loadingData" src="assets/images/cartloading.gif" width="25" height="25"/>
				</div>
				<label ng-if="!loadingData">
					{{dataError.details[0].issue}}
				</label>
			</div>
		</div>
		<!--Right Contents-->
	</div><!--2nd Row-->
</div>
