
<div class="container">
	<div class="row" style="padding-left: 0px;margin-bottom: 40px;">
		<div class="col-sm-12" ng-controller="cartCtrl">
			<div class="col-sm-4">
				<h1 style="font-size: 20px;">{{abc}} Items in your Cart</h1>
			</div>
			<div class="col-sm-5"></div>
			<div class="col-sm-3">
				<button type="button" class="keep-shopping-btn" id="item" style="margin-top: 12px;"><a href="#a" style="text-decoration: none; color: white;">Keep Shopping</a></button>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-8">
			<div class="row cart-products" ng-repeat="a in items track by $index" >
				
				<div class="col-sm-1" style="width: 130px; height: 125px;padding:0px;margin-bottom: 20px;">
					<img  src="{{fixPath + a.imagePath + token}}" width="130" height="125"/>
				</div>
				
				<div class="col-sm-3" style="width: auto;" >
					<p class="cart-title">{{a.name}}</p>
					<p class="cart-title"><span style="color: black;">By <b>{{a.shop}}</b></span></p>
				
				</div>
				
					<div class="col-sm-1"></div>
					<div class="col-sm-1 text-center ">
						<h3><b>Price</b></h3>
						<p class="cart-details">$1400</p>
					</div>
					<div class="col-sm-1 text-center">
						<h3><b>Qty</b></h3>
						<p class="cart-details">2</p>
					</div>
					<div class="col-sm-1 text-center">
						<h3><b>Size</b></h3>
						<p class="cart-details">XL</p>
					</div>
					<!--<div class="col-sm-1 text-center">
					<h3><b>Total</b></h3>
					<p class="cart-details">$1400</p>
					</div>-->
				
					<a href="#"><img src="images/close-button.png" style="margin-top:13px;" /></a>
				</div>
			</div>
			<div class="col-sm-3" style="margin-left: 10px">
			<div class="row cart-products">
			
			<table width="100%" class="order-right-table">
				<tr style="border-bottom: 1px grey solid;">
					<td>Number of Items</td>
					<td style="text-align: right;">$1400</td>
				</tr>
				
				<tr>
					<td>Subtotal</td>
					<td style="text-align: right;">$1400</td>
				</tr>
			</table>
					<!--<p class="cart-details"><span style="text-align: right;"> </span></p>
					<p class="cart-details"><b>Subtotal</b> $1400</p>
					-->
			</div>
		</div>
		
	</div>
	<div class="row">
		<div class="col-sm-4"></div>
		<div class="col-sm-4"><button type="button" class="cart-proceed-btn"><a href="#cart/payment" style="text-decoration: none; color: white;"><p style="font-size: 16px;padding: 6px;">Proceed to Checkout</p></a></button></div>
		<div class="col-sm-4"></div>
	</div>
			
			
			
			
			
			
	
	
</div>