

<div class="container-fluid payment-container">
<div>
	<div class="row">
		<div class="col-sm-12">
			 <div class="main-content">
				 <form class="form-labels-on-top" method="post" action="#">
                   <div class="payment-fields">
            		<div class="form-title-row">
                		<h1>Enter Your Payment Details</h1>
            		</div>

            		<div class="form-row">
		                <label>
		                    <span>Card Number</span>
		                    <input type="text" name="name">
		                </label>
                   </div>

            		<div class="form-row">
            		 
		                <table>
		                	<tr>
		                		<td>
		                			<label>
		                    <span class="cus-span">Expiration Date</span>
		                   
		                    <table>
		                    	<tr style="border: 1px solid black; border-radius:2px;">
		                    		<td>
		                    			<select name="dropdown" >
					                        <option>One</option>
					                        <option>Two</option>
					                        <option>Three</option>
					                        <option>Four</option>
		                    			</select>
		                    		</td>
		                    		<td >
		                    			<select name="dropdown" style="border-left: 1px solid black !important;">
					                        <option>One</option>
					                        <option>Two</option>
					                        <option>Three</option>
					                        <option>Four</option>
		                    			</select>
		                    		</td>
		                    	</tr>
		                    </table>
		                    
		                </label>			
		                		</td>
		                		
		                		<td>
		                			<label class="security-field"><span class="cus-span">Security Code</span>
		                    		<input type="text" name="name">
		                			</label>
		                		</td>
		                	</tr>
		                </table>
		             
           			 </div>
           			 
           			 <div class="form-row">
		                <label>
		                    <span>Name on Card</span>
		                    <input type="text" name="name">
		                </label>
                   </div>

            		<div class="form-row">
                <label>
                   <label class="payment-checkbox"><input type="checkbox" name="checkbox" checked>My billing address is the same as my shipping address</label>
                </label>
            </div>

            		
			</div>
            		
            		<div class="gift-card payment-fields">
            			<span></span>
            			<label>Redeem a Gift Card</label>
            		</div>
					<div class="payment-btn">
                		<button><a href="#shipping" style="text-decoration: none; color: white;">Continue</a></button>
            		</div>
       			 </form>
			</div>
		</div>
	</div>
</div>
</div>