<div class="container-fluid payment-container">
<div >
	<div class="row">
		<div class="col-sm-12">
			 <div class="main-content">
				 <form class="form-labels-on-top" method="post" action="#">
                   <div class="payment-fields">
            		<div>
                		<h1>Enter Your Shipping Address</h1>
            		</div>

            		<div class="form-row">
		                <label>
		                    <span>Country</span>
		                    <input type="text" name="name">
		                </label>
                   </div>
                   
                    <div class="form-row">
		                <label>
		                    <span>Full Name</span>
		                    <input type="text" name="name">
		                </label>
                   </div>

            		<div class="form-row">
            		 
		                <table style="width: 100%;">
		                	<tr>
		                		<td style="width: 60%">
		                			<label>
		                    			<span class="cus-span">Street</span>
		                   			    <input type="text" name="name">
		                   			</label>			
		                		</td>
		                		
		                		<td style="width: 35%">
		                			<label class="suit-field" style="width: 97%"><span class="cus-span">Apt/Suit/Other</span>
		                    		<input type="text" name="name">
		                			</label>
		                		</td>
		                	</tr>
		                </table>
		              </div>
		                
		             <div class="form-row">   
		                <table>
		                	<tr>
		                		<td>
		                			<label class="cus-span shipping-fields">
		                    			<span class="cus-span">City</span>
		                   			    <input type="text" name="name">
		                   			</label>			
		                		</td>
		                		
		                		<td >
		                			<label class="cus-span shipping-fields"><span class="cus-span">State/Region</span>
		                    		<input type="text" name="name">
		                			</label>
		                		</td>
		                		<td >
		                			<label class="cus-span shipping-fields"><span class="cus-span postal-field">Postal Code</span>
		                    		<input type="text" name="name">
		                			</label>
		                		</td>
		                	</tr>
		                </table>
		             
		             
           			 </div>
           			 
           		</div>
            		
            		
					<div class="payment-btn">
                		<button type="submit" >Continue</button>
            		</div>
       			 </form>
			</div>
		</div>
	</div>
</div>
</div>