
<div class="container">
	<div class="row" style="margin-top: 3%;">
		<div class="col-sm-12">
			<div class="col-sm-4 shipping-sidebar">
				<ul style="list-style-type: none;">
					<li><a href="#account" >My Account</a></li>
					<li><a href="#myorder" >My Orders</a></li>
					<li><a href="#shipping" >Shipping Info</a></li>
					<li><a href="#allchats">Chat</a></li>
					<li><a href="" >Logout</a></li>
				</ul>
			</div>
			
			<div class="col-sm-6 editprofile" style="padding:0px;">
				<h1>Edit your Account Information</h1>
				<form class="form-signin newship-form">
					<div class="row" style="margin-bottom: 20px;">
						<div class="col-sm-6"><label>First Name</label>
							<input ng-model="firstName" type="text" name="first" /></div>
						<div class="col-sm-6">
							<label>Last Name</label>
							<input ng-model="lastName" type="text" name="last" />
						</div>
					</div>
					<div class="row" style="margin-bottom: 20px;">
						<div class="col-sm-12"><label>Email Address</label><input ng-model="email" type="email" name="email" /></div>
					</div>
					<div class="row" style="margin-bottom: 20px;">
						<div class="col-sm-12"><label>Password</label>
							<input ng-model="password" type="password" name="password" />
						</div>
					</div>
					<div class="row" style="margin-bottom: 20px;">
						<div class="col-sm-6">
							<label>Female</label>
							<input ng-model="female" type="radio" name="gender" id="female" style="height: 15px;"/>
						</div>
						<div class="col-sm-6">
							<label>Male</label>
							<input type="radio" ng-model="male" name="gender" id="male" style="height: 15px;" />
						</div>
					</div>
					<div class="row" style="margin-bottom: 20px;">
						<div class="col-sm-12 text-left"><button class="btn btn-primary individual-bag-btn" style="width: 50%;" >Save Information</button></div>
					</div>
											
											
											
				</form>
			</div>
		</div>
	</div>
</div>