
<div class="container">
	<div class="row" style="margin-top: 3%;">
		<div class="col-sm-12">
			<div class="col-sm-4 shipping-sidebar">
				<ul style="list-style-type: none;">
					<li><a href="#account" >My Account</a></li>
					<li><a href="#myorder" >My Orders</a></li>
					<li><a href="#shipping" >Shipping Info</a></li>
					<li><a href="#allchats">Chat</a></li>
					<li><a href="" >Logout</a></li>
				</ul>
			</div>
			
			<div class="col-sm-8 myorders" style="border-bottom: 1px solid rgba(128, 128, 128, 0.22);padding:0px;">
			<div class="col-sm-12" style="padding:0px;margin-bottom: 20px;"><h1>My Orders</h1></div>
			<div class="col-sm-4" style="padding:0px;">
				<div class="col-sm-4" style="padding:0px;"><label>DATE</label></div>
				<div class="col-sm-8"><label>RECIPIENT</label></div>	
			</div>
			
			<div class="col-sm-6"><label>ORDER & SHIPPMENT INFORMATION</label></div>
			<div class="col-sm-1"><label>TOTAL</label></div>
			</div>
			<div class="col-sm-8 myorders" style="padding-top: 20px;padding-left: 0px;" ng-repeat="a in getOrderDetail">
			<div class="col-sm-4" style="padding:0px;">
				<div class="col-sm-4" style="padding:0px;"><label style="font-weight: 400;">25-12-2016</label></div>
				<div class="col-sm-8"><label style="font-weight: 400;line-height: 15px;">{{a.customer.customerShipping[0].firstName}} {{a.customer.customerShipping[0].lastName}}<br>{{a.customer.customerShipping[0].address}}<br>{{a.customer.customerShipping[0].city}},{{a.customer.customerShipping[0].state}}<br>{{a.customer.customerShipping[0].zipcode}}</label></div>	
			</div>
			
			<div class="col-sm-6"><label style="font-weight: 400;line-height: 15px;">Order:{{a.id}}<br>Shipped on:<span id="orderDate">{{a.createdOn}}</span> - Tracking info<br>({{a.productQuantity}}) {{a.productName}}</label></div>
			<div class="col-sm-2" style="padding-left: 20px;"><label style="font-weight: 400;">${{a.productPrice}}</label></div>
			</div>
		</div>
	</div>
</div>
<script>
$(window).bind("load", function() {
 
  var orderDate = document.getElementById("orderDate").textContent;
  orderDate = new Date(document.getElementById("orderDate").innerHTML).toString("MMM dd"); 
});

	
</script>
