<div class="container">
	<div class="row info-boxes">
		<div class="col-sm-4 col-xs-6" id="imagediv" dir-paginate="a in categoryDetail.subCategories | filter:q | itemsPerPage: pageSize" current-page="currentPage">
		
			<span ng-if="categoryLength == '0'">
				<a ng-href="category/{{a.id}}">		
					<img bn-lazy-src= "{{fixPath + a.imagePath + token}}"   >
				</a>
			</span>
			<span ng-if="categoryLength > '0'">
				<a ng-href="#productDetailPage/{{a.id}}">		
					<img bn-lazy-src= "{{fixPath + a.imagePath + token}}"   >
				</a>
			</span>
			<div class="imageText">
				<span class="proDes">
					<p>
						<strong>{{a.name}}</strong>
						- {{a.shortDesc}}
					</p>
				</span>
				<span class="proDes">
					<small>	 <a ng-href="#designerPage/{{a.shop.id}}"  ><i>by {{a.shop.name}}</i></a></small>
				</span>
				<input type="submit" value="BUY" class="buyBtn" />		
			</div>
		</div>
	</div>
	<div class="other-controller">
		<div class="text-center">
			<dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="dirPagination.tpl.html"></dir-pagination-controls>
		</div>
	</div>
</div>