
<div id="carousel-01" class="carousel slide carousel-fade custom-padding-top" data-ride="carousel" style="margin-top: -127px;">
	<div class="carousel-inner" role="listbox" style="height: 400px;">
		<div class="item active">
			<img src="{{fixPath +'category/banner_'+cat_id+'.jpg'+token}}" alt="image">
		</div>
	</div>
</div>
<div ng-controller="BreadcrumbCtrl" >
	<div ng-if="breadcrumbs.get().length > 1">
		<div  ng-include src="'view/header/breadCrumb.html'" ></div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-2">
			<h2 style="margin: 0px;" class="product-title">Wedding <span style="color:black;">Dress</span></h2>		
		</div>
	</div>
	<div class="row info-boxes show-image">
		<div class="col-sm-4 col-xs-6" id="imagediv" ng-repeat="a in categoryProDetail">

			<a ng-href="#productDetailPage/{{a.id}}">		
				<img bn-lazy-src= "{{fixPath +'300x300-1-img-'+a.id+'.jpg'+token}}">
			</a>

			<div class="imageText">
				<span class="proDes">
					<p>
						{{a.name}}
					</p>
				</span>
				<span class="proDes">
					<small>	 <a ng-href="#shop/{{getShop(a.shop)}}" style="color: black;" >{{a.shop}}</a></small>
				</span>
			</div>
		</div>
	</div>
</div>