
<div id="carousel-01" class="carousel slide carousel-fade custom-padding-top" data-ride="carousel">
	<div class="carousel-inner" role="listbox" style="height: 400px;">
		<div class="item">
			<img src="images/Category_banner.jpg" alt="image">
		</div>
		
	</div>
</div>
<div ng-controller="BreadcrumbCtrl" >
	<div ng-if="breadcrumbs.get().length > 1">
		<div  ng-include src="'view/header/breadCrumb.html'" ></div>
	</div>
</div>
<div class="container">


	<div class="row info-boxes">
		<span ng-if="categoryLength != '0'">
			<div class="col-sm-4 col-xs-6" id="imagediv" ng-repeat="a in categoryDetail.subCategories">
				<span ng-if="checkLength(a.subCategories) == '0'">
					<a ng-href="#categoryProducts/{{a.id}}">		
						<img bn-lazy-src= "{{fixPath + a.imagePath + token}}"   >
					</a>
				</span>
				<span ng-if="checkLength(a.subCategories) != '0'">
					<a ng-href="#categories/{{a.id}}">		
						<img bn-lazy-src= "{{fixPath + a.imagePath + token}}"   >
					</a>
				</span>
				<div class="imageText">
					<span class="proDes">
						<p>
							{{a.name}}
						</p>
					</span>
				</div>
			</div>
		</span>
	</div>
</div>