<!--Personalize Section --->

<div class=" showFooterBorder" ng-style="{'border-top': enableBorder }">
    <div class="row text-center">
        <h1 id="respon2" style="font-size: 42px;  color: rgba(238, 105, 0, 0.48); margin-top:21px ; font-family:lato-hairline !important; margin-bottom: 18px;margin-left:40px;font-weight: 600;" id="lab4">PERSONALIZE YOUR DESIGN</h1>

    </div>
    <div class="row" >
        <div class="col-sm-3"></div>
        <div class="col-sm-6 col-col-xs-10">
            <div class="subscribe">

                <form action="#a"style="width: auto;"id="input-lab">

                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control " placeholder="Email" aria-describedby="basic-addon2"  style="background-color: white;border:1px solid gray;font-size: 14px;color:gray;     height: 40px; ">
                            <span class="input-group-addon" id="basic-addon2" style="background-color: #707070; border-radius: 0;box-shadow: none;border: 1px solid #707070;padding-top: 2px;font-weight: 600;font-size: 12px;"><button  type="button "style="background-color:#707070; border: 0px;color: #e1e1e1;margin-top: 6px;    font-weight: 500;font-family: lato-regular;"> SUBSCRIBE</button></span>
                        </div>
                    </div>

                </form>
            </div>
        </div>
        <div class="col-sm-1"></div>
    </div>
</div>
<!--End Personalize Section-->

<!--Footer-->
<footer   id="footer" style="background-color: #707070 ;margin-top: 25px;">
    <div class="row"  >
        <div class="col-sm-2"></div>
        <div class="col-sm-6 col-xs-12">


            <ul class="footer-list list-inline" style="list-style-type: none;padding-left: 5px;margin-top: 70px; font-family: lato-regular !important;">
                <li><a href="#a"><label style="margin-left: -65px;font-weight: 400; font-family: lato-light !important;color: white;"id="lab1"> SUPPORT </label></a></li>

                <li><a href="#a"><label style=" font-family: lato-regular;" id="lab4"> ABOUT&nbsp; </label></a></li><li style="color: white;">|</li>
                <li><a href="#a"><label style=" font-family: lato-regular;"> TERMS &amp; PRIVACY</label></a></li><li style="color: white;">|</li>
                <li><a href="#a"><label style=" font-family: lato-regular;">PRIVACY POLICY</label></a></li><li style="color: white;">|</li>
                <li><a href="#a"><label style=" font-family: lato-regular;"> CONTACT US</label></a></li>
            </ul>
        </div>
        <div class="col-sm-4 col-xs-12">

            <ul class="footer-list list-inline" style="list-style-type: none;padding-left: 5px; margin-top: 18px;     margin-bottom: -4px;" id="boot-margin" >
                <li><label style="margin-left: 88px;color: white; font-family: lato-bold !important;" id="lab1" > FOLLOW US </label></li>
                <li><a href="#a"><img src="../../images/ins_34.jpg"/></a></li>
                <li style="color: #e1e1e1;margin-left: -13px;font-size: 18px;font-family: lato-light; ">|</li>
                <li><a href="#a"><img src="../../images/facebook.jpg" style="margin-left: -13px;"/></a></li>
                <li style="color: #e1e1e1;margin-left: -13px;font-size: 18px;font-family: lato-light;">|</li>
                <li><a href="#a"><img src="../../images/t.jpg" style="margin-left: -12px;"/></a></li>

            </ul>

            <ul class="footer-list list-inline" style="list-style-type: none;padding-left: 5px;" >
                <li><label style="margin-left: 75px;color: #e1e1e1; font-family: lato-light;"id="lab1" >&copy;2016GULS.COM ALL RIGHTS RESERVED</label></li>


            </ul>


        </div>



    </div>
</footer>
<!--End of Footer-->