<script>
	$(document).ready(function(){
		$('.hide-menu').click(function(){
			var boddy = document.getElementsByTagName("BODY")[0];
				boddy.className = "";
			
		});
	});
</script>

<div class="row">
	<div class="col-sm-12">
		<div class="col-sm-1"></div>
		<div class="col-sm-10">
			<div class="main-nav">
				<ul class="nav ">
					<li class="has-drop dropdown menu-large hide-menu">
						<a href="#allShops" class="dropdown-toggle primary-nav" >Shop</a>
				
						<ul class="dropdown-menu megamenu row " id="dropdown-menubar"  >
							<li class="col-sm-4 hide-menu" ng-repeat="x in shop" >
								<ul>
									<li class="hide-menu">
										<span>
											<a style="font-family: lato-light; color:black;" href="#shop/{{x.id}}">{{x.name}}</a> 
										</span> 
								
									</li>
								</ul>
								
							</li>
						</ul>
					</li>
					<li class="dropdown menu-large dropdown-toggle hide-menu"><a href="#categories/1" class="primary-nav" >Women</a>
						<ul class="dropdown-menu megamenu  " id="women-dropdown-menu" >
							<span ng-repeat="x in cat"><span ng-if="x.name == 'Women'">
									<li ng-repeat = "a in x.subCategories" class="hide-menu">
										<span ng-if="checkLength(a.subCategories) == '0'">
											<a style="font-family: lato-light;color:black;" href="#categoryProducts/{{a.id}}">{{a.name}}</a>
										</span>
										<span ng-if="checkLength(a.subCategories) != '0'">
											<a style="font-family:lato-light;color:black;" href="#categories/{{a.id}}">{{a.name}}</a>
										</span>
					
									</li>
								</span>
							</span>
						</ul>
					</li>
					<li class="dropdown menu-large hide-menu">
				<a href="#a" class="primary-nav">Featured</a>
				<ul class="dropdown-menu megamenu  " id="men-dropdown-menu" >
					
				</ul>
			</li>
					<li class="dropdown menu-large hide-menu"><a href="#inspiration" class="primary-nav">Inspiration</a>
						<ul class="dropdown-menu megamenu  " id="inspiration-dropdown-menu" >
					
						</ul>
					</li>
			
											
											
					<li style="display: none;" id="menu-display" ><a class="acc-menu primary-nav" style="font-family: lato-light;"  href="#">ACCOUNT</a>
											
											
						<ul class="dropdown-menu row dropdown-menu"  id="menu-account" style="font-family: lato-light;">
							<li>
								<a href="#acc" style="font-family: lato-light; ">Settings</a>
							</li>
													
							<li>
								<a href="#fav">Order Status</a>
							</li>
													
							<li>
								<a href="#status">Chat</a>
							</li>
													
							<li>
								<a href="" ng-click="userLogout()">Logout</a>
							</li>
						</ul>
					</li>
											
										
											
			
			
				</ul>
			</div>	
		</div>

		<div class="col-sm-1"></div>	
	</div>

</div>


<!--End of Dropdown Menu-->