<nav class="home-menu">
    <div class="container-fluid pgSize">
        <div class="row">
            <div class="col-md-3 col-xs-5 text-left mob-logo ind-logo"><!--Logo-->
              <a ng-href="#a">Gul Fashion</a>
            </div><!--End Logo-->

            <!--Menu Bar-->
            <div ng-controller="MenuCtrl">
                <div class="col-md-6">
                  <div class="main-nav">
                      <ul class="nav ">
                          <li class="has-drop dropdown menu-large hide-menu">
                              <a href="#allShops" class="dropdown-toggle primary-nav" ng-style="{'color': menuColor }">Shop</a>
                              <ul class="dropdown-menu megamenu row " id="dropdown-menubar"  >
                                  <li class="col-sm-4 hide-menu" ng-repeat="x in shop" >
                                      <ul>
                                        <li class="hide-menu"><a style="font-family: lato-light; color:black;" href="#shop/{{x.id}}">{{x.name}}</a></li>
                                      </ul>
                                  </li>
                              </ul>
                          </li>
                          <li class="dropdown menu-large dropdown-toggle hide-menu"><a href="#categoryProducts/14" class="primary-nav" ng-style="{'color': menuColor }">BRIDALS</a></li>
                          <li class="dropdown hide-menu lastChild">
                              <a href="#inspiration" class="primary-nav" ng-style="{'color': menuColor }">Customize</a>
                          </li>
                          <li style="display: none;" id="menu-display" >
                              <a class="acc-menu primary-nav" style="font-family: lato-light;" ng-style="{'color': menuColor }" href="#">ACCOUNT</a>
                              <ul class="dropdown-menu row dropdown-menu"  id="menu-account" style="font-family: lato-light;">
                                  <li><a href="#acc" style="font-family: lato-light; ">Settings</a></li>
                                  <li><a href="#fav">Order Status</a></li>
                                  <li><a href="#status">Chat</a></li>
                                  <li><a href="" ng-click="userLogout()">Logout</a></li>
                              </ul>
                          </li>
                      </ul>
                  </div>
                </div>
            </div>
            <!--End Menu Bar-->
            <!--Add responsive Menubar -->
            <span class="btn-menu visible-xs">menu</span>
            <!--log IN-->
            <div class="col-md-3">
                <div class="col-sm-2"></div>
                <div class="col-sm-10 col-xs-7 marginTopCart">
                    <!--Cart Popup-->
                    <div class="col-sm-6 col-xs-1 col-sm-push-6 col-xs-push-10 cart-label">
                        <ul class="ind-cart">
                            <li class="cartNav">
                                <label class="ind-cart-item ind-white">{{noOfCartItems}}</label>
                                <label class="ind-cart-text ind-white"><a href="#cart" ng-style="{'color': menuColor }">CART</a></label>
                                <ul class="row dropdown-menu cart-block single-cartproduct" id="acc-dropdown" style="overflow: hidden;display:none;">
                                    <li>
                                        <div class="row" ng-if="popFlag">
                                            <div class="col-sm-4 col-xs-4" style="text-align: center;">
                                                <img ng-src="{{fixPath + '300x300-1-img-'+currentItem.id+'.jpg' + token}}" width="76" height="74">
                                            </div>
                                            <div class="col-sm-6 col-xs-5">
                                                <label style="font-size: 13px;line-height: 15px;">{{currentItem.name}}</label><br>
                                                <span style="font-size: 12px;">Quantity: {{currentItem.qty}}</span>
                                            </div>
                                            <div class="col-sm-2 col-xs-2"
                                                 style="padding-left: 0px;">
                                                <label style="font-size: 12px;">${{currentItem.cost*currentItem.qty}}</label>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <ul class="row dropdown-menu cart-block" id="acc-dropdown" ng-if="itemSize" style="overflow: hidden;">
                                    <li class="text-center" style="height:35px; border-bottom: none;"><label style="font-size: 14px;color:#e86903;">The Bag is empty!</label></li>
                                </ul>
                                <ul ng-if="!itemSize" class="row dropdown-menu cart-block" id="acc-dropdown" style="border-radius: 0px;">
                                    <li ng-repeat="a in items track by $index">
                                        <div class="row">
                                            <div class="col-sm-4 col-xs-4" style="text-align: center;">
                                                <img ng-src="{{fixPath + '300x300-1-img-'+a.id+'.jpg' + token}}" width="76" height="74">
                                            </div>
                                            <div class="col-sm-6 col-xs-5" style="padding-left: 0px;">
                                                <label style="font-size: 13px;line-height: 15px;">{{a.name}}</label><br>
                                                <span style="font-size: 12px;">Quantity: {{a.qty}}</span>
                                            </div>
                                            <div class="col-sm-2 col-xs-2" style="padding-left: 0px;">
                                                <label style="font-size: 12px;">${{a.cost*a.qty}}</label>
                                            </div>
                                        </div>
                                    </li>
                                    <div class="text-center">
                                        <li style="height: 20px;">
                                            <div class="row">
                                                <div class="col-sm-6 col-xs-5" style="text-align: left;">
                                                    <label style="font-size: 12px;">Order Subtotal</label>
                                                </div>
                                                <div class="col-sm-4 col-xs-5"></div>
                                                <div class="col-sm-2 col-xs-2" style="padding-left: 0px;">
                                                    <label style="font-size: 12px;">${{totalPrice}}</label>
                                                </div>
                                            </div>
                                        </li>
                                        <li style="border-bottom: none;">
                                            <a href="#cart">
                                                <button type="button" class="btn btn-primary individual-bag-btn" style="width: 100%;margin-left: 0px;padding-left: 0px;">Proceed to checkout</button>
                                            </a>
                                        </li>
                                    </div>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!--End Cart Popup-->

                    <!--SignIn & Account Nav-->
                    <span ng-show="!userFlag" ng-click="signin()"><h3 class="signin-label" ng-style="{'color': menuColor }"><b>SIGN IN</b></h3></span>
                    <div class="main-nav" ng-show="userFlag == true">
                        <ul class="nav account-navbar">
                            <li class="header-account-label" style="margin:0px;float: right;">
                              <a href="#account" style="padding:0px;margin-top: -4px;"><label style="padding: 0px;font-size: 10px;font-family:'lato-light';" id="control-nav" ng-style="{'color': menuColor }">ACCOUNT</label></a>
                                <ul class="row dropdown-menu" style="margin-left: -202%;width: 120px;">
                                    <li><a href="#account">My Account</a></li>
                                    <li><a ng-href="#myorder">My Orders</a></li>
                                    <li><a href="#shipping">Shipping</a></li>
                                    <li><a href="#allchats">Chat</a></li>
                                    <li><a href="" ng-click="userLogout()">Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!--End SignIn & Account Nav-->
                </div>
            </div>
        </div>
        <!-- end log IN-->
    </div><!--/ End of container -->
</nav>
