<div class="row">
	<div class="col-sm-12">
		<div class="col-sm-1"></div>
		<div class="col-sm-10">
			<div class="main-nav">
				<ul class="nav ">
					<li class="has-drop dropdown menu-large">
						<a href="#allShops" class="dropdown-toggle">Shop</a>
				
						<ul class="dropdown-menu megamenu row " id="dropdown-menubar"  >
							<li class="col-sm-4" ng-repeat="x in shop" >
								<ul>
									<li>
										<span>
											<a href="#shop/{{x.id}}">{{x.name}}</a> 
										</span> 
								
									</li>
								</ul>
								
							</li>
						</ul>
					</li>
					<li><a href="#categories/1">Women</a>
						<ul class="dropdown-menu  " id="women-dropdown-menu" >
							<span ng-repeat="x in cat"><span ng-if="x.name == 'Women'">
									<li ng-repeat = "a in x.subCategories">
										<span ng-if="checkLength(a.subCategories) == '0'">
											<a href="#categoryProducts/{{a.id}}">{{a.name}}</a>
										</span>
										<span ng-if="checkLength(a.subCategories) != '0'">
											<a href="#categories/{{a.id}}">{{a.name}}</a>
										</span>
					
									</li>
								</span>
							</span>
						</ul>
					</li>
					<li>
				<a href="#a">Featured</a>
				<ul class="dropdown-menu  " id="men-dropdown-menu" >
					
				</ul>
			</li>
					<li><a href="#a">Inspiration</a>
						<ul class="dropdown-menu   " id="inspiration-dropdown-menu" >
					
						</ul>
					</li>
			
											
											
					<li style="display: none;" id="menu-display" ><a  href="#">ACCOUNT</a>
											
											
						<ul class="dropdown-menu row dropdown-menu"  id="menu-account">
							<li>
								<a href="#acc">Settings</a>
							</li>
													
							<li>
								<a href="#fav">Order Status</a>
							</li>
													
							<li>
								<a href="#status">Chat</a>
							</li>
													
							<li>
								<a href="" ng-click="userLogout()">Logout</a>
							</li>
						</ul>
					</li>
											
										
											
			
			
				</ul>
			</div>	
		</div>

		<div class="col-sm-1"></div>	
	</div>

</div>


<!--End of Dropdown Menu-->