<div class="container">
	<div class="row info-boxes">
		<div class="col-sm-4 col-xs-6" id="imagediv" ng-repeat="a in allShopDetail>
		
		<br/>
			
			<a ng-href="#shop/{{a.id}}">		
			<img bn-lazy-src= "{{fixPath + a.imageInfo.imagePath + token}}"   >
			</a>
		
			<div class="imageText">
				<span class="proDes">
					<p>
						{{a.name}}
						- {{a.shortDesc}}
					</p>
				</span>
				<span class="proDes">
					<small>	 <a ng-href="#shop/{{a.id}}" ><i>by {{a.name}}</i></a></small>
				</span>
				<input type="submit" value="BUY" class="buyBtn" />		
			</div>
		</div>
	</div>
</div>