<div class="container">

	<div class="row info-boxes">
	 <div class="col-sm-4 col-xs-6" id="imagediv" dir-paginate="a in designer | filter:q | itemsPerPage: pageSize track by $index" current-page="currentPage">
			<h2>{{shop.name}}</h2>	
			<a ng-href="#designerPage/{{a.id}}">	<img bn-lazy-src= "images/img-01.jpg"   ></a>
			<div class="imageText">
				<span class="proDes">
					<p>
					
						<strong>{{a.name}}</strong>
						- {{a.shortDesc | limitTo: 30}}
					</p>
				</span>
				<span class="proDes" ng-show="isNumber(a.shop.id)">
					<small>	 <a ng-href="#shop/{{a.shop.id}}"  ><i>by {{a.shop.name}}</i></a></small>
					
    						 
				</span>
				<span class="proDes" ng-show="!isNumber(a.shop.id)">
					<small>	 <a ng-href="#shop/{{a.shop}}"  ><i>by </i></a></small>
    						 
				</span>
				
			</div>
		</div>
	</div>
	<div class="other-controller">
		<div class="text-center">
			<dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="view/products/dirPagination.tpl.html"></dir-pagination-controls>
		</div>
	</div>
</div>