<div class="container">
   <div class="row">
		<div class="col-sm-3 col-md-2">
			<ul class="nav nav-pills nav-stacked chat-menu">
				<li><a ng-href="#allchats">Chats</a></li>
			</ul>
		</div>
		<div class="col-sm-9 col-md-10">
			<!-- Tab panes -->
			<div class="tab-content">
				<div class=" col-lg-12 col-md-12 col-sm-12">
					<div class="chat-box-div">
						<div class="panel-body chat-box-main" style="height: 350px;background-color:rgba(238, 238, 238, 0.26);">
                        
							<div class="chat-box-left">
								<div class="chat-box-name-left">
									<img src="images/user.gif" alt="bootstrap Chat box user image" class="img-circle" />
									Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								</div>
							</div>
                       
                       
							<div class="chat-box-right">
								<div class="chat-box-name-right">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									<img src="images/user.png" alt="bootstrap Chat box user image" class="img-circle" />
								</div>
                            
							</div>
		
                    </div>
						<div class="chat-box-footer">
							<div class="input-group send-input" style="width: 100%;">
								<input type="text" class="form-control" placeholder="Enter Text Here..." >
							</div>
						</div>
						<button type="button" class="btn btn-primary" style="height: 25px; text-align: center;float:right;">Send</button>

					</div>

				</div>
               
			</div>
		</div>
	</div>
</div>