
<div class="container">
   
	<div class="row">
		<div class="col-sm-3 col-md-2">
			<ul class="nav nav-pills nav-stacked chat-menu">
				<li><a ng-href="#allchats">Chats</a></li>
			</ul>
		</div>
		<div class="col-sm-9 col-md-10">
			
			
			<!-- Tab panes -->
			<div class="tab-content">
				<div class="tab-pane fade in active" id="home">
					<div class="list-group allchats-list">
						<a href="#chat/Nayyar" class="list-group-item ">
							<div class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
							<span class="name" style="min-width: 120px;display: inline-block;">Nayyar</span> 
							<span class=""></span>
						</a>
						<a href="#chat/Gulgs" class="list-group-item ">
							<div class="checkbox">
								<label>
									<input type="checkbox">
								</label>
							</div>
							<span class="name" style="min-width: 120px;display: inline-block;">Gulgs</span> 
							<span class=""></span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
